{% load bootstrap3 %}

{% load static %}

{% load compress %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
            {% bootstrap_css %}
            {% compress css %}
                <link type="text/less" href="{% static 'less/base.less' %}" rel="stylesheet">
            {% block extra_less %}
            {% endblock %}
            {% endcompress %}
            {% block extra_css %}
            {% endblock %}
            <title>
                {% block title %}
                    Wildlife Licensing - Department of Parks and Wildlife
                {% endblock %}
            </title>
            <script type="text/javascript" src="{% static 'js/require.js' %}"></script>
            <script type="text/javascript">
                require(["{% static 'js/config.js' %}"], function (config) {
                    require(['js/base']);
                    {% block requirements %}
                    {% endblock %}
                });
            </script>
        </meta>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            {% block header %}
                {% include 'header.html' %}
            {% endblock %}
        </header>
        {% block menu %}
        {% endblock %}
        {% block breadcrumbs %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </body>
</html>
