{% extends 'wl/applications_base.html' %}

{% load static %}

{% load bootstrap3 %}

{% load jsonify %}

{% load users %}

{% load application_filters %}

{% block breadcrumbs %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb wl-breadcrumbs">
                    <li><strong>{{ application|get_application_verb }} Application</strong></li>
                    <li class="active">Application Complete</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block intro_title %}<h3>Application Complete</h3>{% endblock %}
{% block intro_subtitle %}
    <h4 class="inline">
        {{ licence_type.name }} {% if is_renewal %}(Renewal) {% endif %} {% if is_amendment %}(Amendment) {% endif %}
    </h4> 
    {% if customer %}
        <h4 class="pull-right">Customer: {{ customer.get_full_name }}</h4>
    {% endif %}
    {% if variants %}
        <h4>
            <em>({{ variants }})</em>
        </h4>
    {% endif %}
{% endblock %}
{% block intro_text %}
    <div class="info">
        <p>
            Thank you. Your application will now be reviewed.
        </p>
        <p>
            You can see the status of the application on your home screen dashboard in the "Applications" table and view a
            read-only version of the application. 
        </p>
        <p>
            You may receive requests for amendments to the application via email, at which point you will be able to click back 
            into the application, modify the content and resubmit.
        </p>
        <p>
            Time taken to process an application begins when all required information has been received.
        </p>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if show_invoice %}
                    <p>
                        Note that if your licence requires payment, the invoice must be paid before the licence can be issued. You can download the invoice from the links below.
                    </p>
                {% endif %}
                <p>
                    Once processing is complete, you will receive an email with a PDF copy of the licence attached.
                </p>
                <p>
                    Should you need to contact the Department of Biodiversity, Conservation and Attractions with regard to your licence application, please cite
                    the lodgement number stated below.
                </p>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p><label>Licence Type:</label> {{ application.licence_type.name }}</p>
                        <p><label>Lodgement Number:</label> {{ application.lodgement_number }}-{{ application.lodgement_sequence }}</p>
                        <p><label>Lodgement Date:</label> {{ application.lodgement_date|date:'d/m/Y' }}</p>
                        {% if show_invoice %}
                            <p>
                                <label>Invoice:</label>
                                <a href="{% url 'payments:invoice-detail' application.invoice_reference %}" target="_blank">View as HTML</a>
                                <a class="left-buffer" href="{% url 'payments:invoice-pdf' application.invoice_reference %}" target="_blank">
                                    Download as PDF
                                    <img height="20px" src="{% static 'wl/img/pdf.png' %}"/>
                                </a>
                            </p>
                        {% endif %}
                    </div>
                </div>
                <a href="{% url 'home' %}">Return to home</a>
            </div>
        </div>
    </div>
{% endblock %}
