{% extends 'wl/applications_base.html' %}

{% load static %}

{% load bootstrap3 %}

{% load users %}

{% load application_filters %}

{% block requirements %}
    require(['js/entry/navigation'], function(navigation) {
        navigation.init('Warning: any information entered into the form will be lost if not saved as draft.',
            {{ application.id }}, 'a, :button', '#breadcrumbsContainer, #contentContainer', "{{ csrf_token }}");
    });
{% endblock %}

{% block breadcrumbs %}
    <div id="breadcrumbsContainer" class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb wl-breadcrumbs">
                    <li><strong>{{ application|get_application_verb }} Application</strong></li>
                    <li class="active">{% if profile_selection_form %}Select{% else %}Create{% endif %} Profile</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block intro_title %}<h3>Select Profile</h3>{% endblock %}
{% block intro_subtitle %}
    <h4 class="inline">
        {{ application.licence_type.name }} {% if is_renewal %}(Renewal) {% endif %} {% if is_amendment %}(Amendment) {% endif %}
    </h4> 
    {% if customer %}
            <h4 class="pull-right">Customer: {{ customer.get_full_name }}</h4>
    {% endif %}
    {% if variants %}
        <h4>
            <em>({{ variants }})</em>
        </h4>
    {% endif %}
{% endblock %}
{% block intro_text %}
    <p>
        The Wildlife Licensing System utilises the concept of "profiles" to allow users to hold licences under different circumstances,
        rather than registering numerous accounts. Each profile can have a different email address, postal address and affiliation details.
    </p>
    <p>
        For example, a registered user may have a "Consultant" profile for work/employment purposes, a "Friends of"
        profile for volunteer work, and a "Personal" profile for private licences.
    </p>
    <p>
        Please select an existing profile or alternatively create a new profile for this licence application.
    </p>
    <p>
        To manage your profiles generally you can click on "Options" on top-right toolbar and choose "Manage Profile."
    </p>

{% endblock %}

{% block content %}
    <div id="contentContainer" class="container bottom-buffer">
        {% if profile_selection_form %}
            <div class="row">
                <div class="col-md-12">
                    <form method="post">
                        {% csrf_token %}
                        {% bootstrap_form profile_selection_form %}
                        <button type="submit" class="btn btn-primary pull-right" name="select">Use Profile</button>
                    </form>
                    <a data-toggle="collapse" href="#createProfile">Create new profile</a>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-md-12">
                    <div class="panel panel-default collapse" id="createProfile">
                        <div class="panel-body">
                            <div class="panel">
                                <form method="post">
                                    {% csrf_token %}
                                    {% bootstrap_form profile_creation_form %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">Postal Address</h4>
                                        </div>
                                        <div class="panel-body">
                                            {% bootstrap_form address_form %}
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary pull-right" name="create">Create Profile</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
        <div class="row">
            <div class="col-md-12">
                <h2>Create Profile</h2>
                <hr>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form profile_creation_form %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Postal Address</h4>
                        </div>
                        <div class="panel-body">
                            {% bootstrap_form address_form %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right" name="create">Create Profile</button>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
