{% extends 'wl/base.html' %}

{% load static %}

{% load bootstrap3 %}

{% load jsonify %}

{% load users %}

{% block extra_css %}
    <link href="//static.dpaw.wa.gov.au/static/libs/select2/3.5.4/select2.min.css" rel="stylesheet"/>
    <link href="//static.dpaw.wa.gov.au/static/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.css" rel="stylesheet"/>
    <link href="{% static 'wl/css/application.css' %}" rel="stylesheet"/>
{% endblock %}

{% block requirements %}
    require(['jQuery', 'js/entry/application_entry'], function($, applicationDetails) {
        applicationDetails.layoutFormItems('#formContainer', {{ structure|jsonify }}{% if data %}, {{ data|jsonify }}{% endif %});

        $('#mainContainer').removeClass('hidden');

        // need to initialise sidebar menu after showing main container otherwise affix height will be wrong
        applicationDetails.initialiseSidebarMenu('#sectionList');
    });
{% endblock %}

{% block breadcrumbs %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb wl-breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    {% if application_pk %}
                        <li><a href="{% url 'wl_applications:create_select_profile_existing_application' licence_type.code application_pk %}">Select Profile</a></li>
                    {% else %}
                        {% if request.user|is_officer %}
                            <li><a href="{% url 'wl_applications:create_select_customer' %}">Select or Create Customer</a></li>
                        {% endif %}
                        <li><a href="{% url 'wl_applications:select_licence_type' %}">Select Licence Type</a></li>
                        <li><a href="{% url 'wl_applications:create_select_profile' licence_type.code %}">Select Profile</a></li>
                    {% endif %}
                    <li class="active">Enter Application Details</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="mainContainer" class="container hidden">
        <div class="row">
            <div class="col-md-12">
                {% with heading='Enter Application Details' %}
                    {% include 'wl/entry/header.html' %}
                {% endwith %}
                <p>
                    In order to complete the application, you must fill out the questionnaire below. Please answer each question with careful consideration 
                    as insufficient responses may require amendments to be made, delaying the issue of the licence.
                </p>
                <p>
                    At any point you can save the questionnaire as a draft by clicking the Save Draft button at the bottom-left, allowing you to return to the
                    application at a later time. When you are satisfied with your answers, click the Preview Application button at the bottom-right. You will
                    then be shown a preview of the application as the Wildlife Licensing officer will see and be able to lodge the application.
                </p>
            </div>
        </div>
        {%  if amendments %}
            <div class="row">
                <div class="col-sm-2 col-md-10 col-md-offset-2">
                    <div id="amendments-panel">
                        <h4>
                            <span class="icon glyphicon glyphicon-alert text-warning"></span>
                            <label>Your application requires the following amendment(s) before approval:</label>
                        </h4>
                        {%  for amendment in amendments %}
                            <div class="alert alert-warning">
                                {{ amendment.text }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {%  endif %}
        <div class="row">
            <div class="col-md-2 col-sm-3">
                <label class="top-buffer">Selected Profile:</label>
                <p>{{ profile.name }}</p>
                {% if application_pk %}
                    <p><em><a href="{% url 'wl_applications:create_select_profile_existing_application' licence_type.code application_pk %}">Change Profile</a></em></p>
                {% else %}
                    <p><em><a href="{% url 'wl_applications:create_select_profile' licence_type.code %}">Change Profile</a></em></p>
                {% endif %}
                <nav class="hidden-xs top-buffer">
                    <div id="sectionList">
                        <ul class="nav nav-stacked">
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-10">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div id="formContainer">
                    </div>
                    {% if is_proxy_applicant %}
                        <h3 class="section">Original Application Document</h3>
                        <hr>
                        <div class="form-group">
                            <label>Application Document</label>
                            <input name="application_document" type="file" class="form-control" accept=".pdf, .docx, .doc">
                            <p class="help-block">Attach a scanned copy of the original application as a Word or PDF document</p>
                        </div>
                    {% endif %}
                    <button type="submit" class="btn btn-primary pull-right" name="preview">Preview Application</button>
                    <button type="submit" class="btn btn-info pull-right" style="margin-right: 20px;" name="draft_continue">Save Draft and Continue Editing</button>
                    <button type="submit" class="btn btn-info pull-right" style="margin-right: 20px;" name="draft">Save Draft</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
