{% extends 'wl/applications_base.html' %}

{% load static %}

{% load bootstrap3 %}

{% load jsonify %}

{% load users %}

{% load url_helpers %}

{% load application_filters %}

{% block extra_css %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.css" rel="stylesheet"/>
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css"
          rel="stylesheet"/>
{{ block.super }}
{% endblock %}

{% block requirements %}
    require(['jQuery', 'js/entry/application_entry', 'js/entry/navigation'], function($, applicationDetails, navigation) {
        applicationDetails.layoutFormItems('#formContainer', {{ application.licence_type.application_schema|jsonify }}
            {% if application.data %}, {{ application.data|jsonify }}{% endif %});

        $('#contentContainer').removeClass('hidden');

        // need to initialise sidebar menu after showing main container otherwise affix height will be wrong
        applicationDetails.initialiseSidebarMenu('#sectionList');

        // need to prevent enter submitting the form, but still allow go to new line on text areas.
        $(document).on("keypress", ":input:not(textarea)", function(event) {
            if (event.keyCode == 13) {
                event.preventDefault();
            }
        });

        navigation.init('Warning: any information entered into the form will be lost if not saved as draft.',
            {{ application.id }},  'a, :button', '#breadcrumbsContainer, #contentContainer', "{{ csrf_token }}");
    });
{% endblock %}

{% block breadcrumbs %}
    <div id="breadcrumbsContainer" class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb wl-breadcrumbs">
                    <li><strong>{{ application|get_application_verb }} Application</strong></li>
                    <li><a href="{% url 'wl_applications:create_select_profile' %}">Select Profile</a></li>
                    <li class="active">Enter Application Details</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block intro_title %}<h3>Enter Application Details</h3>{% endblock %}
{% block intro_subtitle %}
    <h4 class="inline">
        {{ licence_type.name }} {% if is_renewal %}(Renewal) {% endif %} {% if is_amendment %}(Amendment) {% endif %}
    </h4> 
    {% if customer %}
            <h4 class="pull-right">Customer: {{ customer.get_full_name }}</h4>
    {% endif %}
    {% if variants %}
        <h4>
            <em>({{ variants }})</em>
        </h4>
    {% endif %}
{% endblock %}
{% block intro_text %}
    <p>
        Please complete the below application questions ensuring the information provided for each is clear.
        Answers that simply refer to an attached research proposal will not be accepted.
    </p>
    <p>
        When you are satisfied with your answers, click the "Preview Application" button at the bottom-right.
    </p>
    <p>
        At any point you can save your application as a draft by clicking the "Save Draft" button at the bottom,
        allowing you to return to the application at a later time (you will find it listed in the "Applications"
        table on your home screen dashboard).
    </p>
    <p>
        It is suggested that you click the "Save Draft and Continue Editing" button at the bottom at regular
        intervals to ensure you do not lose information while completing the form.
    </p>
{% endblock %}

{% block content %}
    <div id="contentContainer" class="container hidden bottom-buffer">
        {% if amendments %}
            <div class="row">
                <div class="col-sm-2 col-md-10 col-md-offset-2">
                    <div id="amendments-panel">
                        <h4>
                            <span class="icon glyphicon glyphicon-alert text-warning"></span>
                            <label>Your application requires the following amendment(s) before approval:</label>
                        </h4>
                        {%  for amendment in amendments %}
                            <div class="alert alert-warning">
                                {{ amendment.text }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-2 col-sm-3">
                <label class="top-buffer">Selected Profile:</label>
                <p>{{ application.applicant_profile.name }}</p>
                <p><em><a href="{% url 'wl_applications:create_select_profile' %}">Change Profile</a></em></p>
                <nav class="hidden-xs top-buffer">
                    <div id="sectionList">
                        <ul class="nav nav-stacked">
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-10">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div id="formContainer">
                    </div>
                    {% if application.proxy_applicant %}
                        <h3 id="original-application-document" class="section">Original Application Document</h3>
                        <hr>
                        <div class="form-group">
                            <label>Application Document</label>
                            {% if application.hard_copy %}
                                <p>
                                    Currently:
                                    <a href="{{ application.hard_copy.file.url }}" target="_blank">
                                        {{ application.hard_copy.file.url|get_url_filename }}
                                    </a>
                                </p>
                                <input name="application_document-existing" type="hidden" value="{{ application.hard_copy.file.url|get_url_filename }}"/>
                            {% endif %}
                            <input name="application_document" type="file" class="form-control" accept=".pdf, .docx, .doc">
                            <p class="help-block">Attach a scanned copy of the original application as a Word or PDF document</p>
                        </div>
                    {% endif %}
                    <button type="submit" class="btn btn-primary pull-right" name="preview">Preview Application</button>
                    <button type="submit" class="btn btn-info pull-right" style="margin-right: 20px;" name="draft_continue">Save Draft and Continue Editing</button>
                    <button type="submit" class="btn btn-info pull-right" style="margin-right: 20px;" name="draft">Save Draft</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
