{% extends 'wl/base.html' %}

{% load static %}

{% load bootstrap3 %}

{% load jsonify %}

{% block extra_css %}
    <link href="{% static 'wl/css/application.css' %}" rel="stylesheet"/>
{% endblock %}

{% block requirements %}
    require(['jQuery', 'js/entry/application_preview'], function($, applicationPreview) {
        applicationPreview.layoutPreviewItems('#formContainer', {{ structure|jsonify }}, {{ data|jsonify }});

        $('#mainContainer').removeClass('hidden');

        // need to initialise sidebar menu after showing main container otherwise affix height will be wrong
        applicationPreview.initialiseSidebarMenu('#sectionList');
    });
{% endblock %}

{% block breadcrumbs %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb wl-breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    {% if application_pk %}
                        <li><a href="{% url 'applications:create_select_profile_existing_application' licence_type.code application_pk %}">Select Profile</a></li>
                        <li><a href="{% url 'applications:enter_details_existing_application' licence_type.code application_pk %}">Enter Application Details</a></li>
                    {% else %}
                        <li><a href="{% url 'applications:select_licence_type' %}">Licence Applications</a></li>
                        <li><a href="{% url 'applications:create_select_profile' licence_type.code %}">Select Profile</a></li>
                        <li><a href="{% url 'applications:enter_details' licence_type.code %}">Enter Application Details</a></li>
                    {% endif %}
                    <li class="active">Preview and Lodge Application</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="mainContainer" class="container hidden">
        <div class="row">
            <div class="col-md-2 col-sm-3">
                <label class="top-buffer">Selected Profile:</label>
                <p>{{ profile.name }}</p>
                {% if application_pk %}
                    <p><em><a href="{% url 'applications:create_select_profile_existing_application' licence_type.code application_pk %}">Change Profile</a></em></p>
                {% else %}
                    <p><em><a href="{% url 'applications:create_select_profile' licence_type.code %}">Change Profile</a></em></p>
                {% endif %}
            </div>
            <div class="col-md-10 col-sm-2">
                <h2>{{ licence_type.name }}</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <nav class="hidden-xs col-sm-3 col-md-2 top-buffer">
                <div id="sectionList">
                    <ul class="nav nav-stacked">
                    </ul>
                </div>
            </nav>
            <div class="col-xs-12 col-sm-9 col-md-10">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div id="formContainer">
                    </div>
                    {% if application_pk %}
                    <a class="btn btn-default" href="{% url 'applications:enter_details_existing_application' licence_type.code application_pk %}">Edit Application Details</a>
                    {% else %}
                    <a class="btn btn-default" href="{% url 'applications:enter_details' licence_type.code %}">Edit Application Details</a>
                    {% endif %}
                    <button type="submit" class="btn btn-primary pull-right" name="lodge">Lodge Application</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}