{% extends 'wl/applications_base.html' %}

{% load static %}

{% load bootstrap3 %}

{% load jsonify %}

{% load users %}

{% load application_filters %}

{% block requirements %}
    require(['jQuery',
             'js/entry/application_preview',
             'js/entry/navigation'], function($, applicationPreview, navigation) {
        applicationPreview.layoutPreviewItems('#formContainer', {{ application.licence_type.application_schema|jsonify }},
                                              {{ application.data|jsonify }});

        $('#contentContainer').removeClass('hidden');

        // need to initialise sidebar menu after showing main container otherwise affix height will be wrong
        applicationPreview.initialiseSidebarMenu('#sectionList');

        applicationPreview.setupDisclaimer($('#disclaimers').find('input[type=checkbox]'), '#lodge');

        navigation.init('Warning: any information entered into the form will be lost if not saved as draft.',
            {{ application.id }}, 'a, :button', '#breadcrumbsContainer, #contentContainer', "{{ csrf_token }}");
    });
{% endblock %}

{% block breadcrumbs %}
    <div id="breadcrumbsContainer" class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb wl-breadcrumbs">
                    <li><strong>{{ application|get_application_verb }} Application</strong></li>
                    <li><a href="{% url 'wl_applications:create_select_profile' %}">Select Profile</a></li>
                    <li><a href="{% url 'wl_applications:enter_details' %}">Enter Application Details</a></li>
                    <li class="active">Preview and Lodge Application</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block intro_title %}<h3>Preview and Lodge Application</h3>{% endblock %}
{% block intro_subtitle %}
    <h4 class="inline">
        {{ licence_type.name }} {% if is_renewal %}(Renewal) {% endif %} {% if is_amendment %}(Amendment) {% endif %}
    </h4> 
    {% if customer %}
            <h4 class="pull-right">Customer: {{ customer.get_full_name }}</h4>
    {% endif %}
    {% if variants %}
        <h4>
            <em>({{ variants }})</em>
        </h4>
    {% endif %}
{% endblock %}
{% block intro_text %}
    <p>
        This is your application information as it will be seen by an assessing officer. Please review the information
        for detail and accuracy before lodging your application. If you need to change any answers, return to the
        application by clicking the "Edit Application Details" button at the bottom-left.
    </p>
    <p>
        {% if is_payment_required %}
            When you are satisfied with your answers, read, agree with and check the disclaimer checkboxes
            and click the "Proceed to Payment" button at the bottom-right.
        {% else %}
            When you are satisfied with your answers, read, agree with and check the disclaimer checkboxes
            and click the "Lodge Application" button at the bottom-right.
        {% endif %}
    </p>
    <p>
        Note that once you have lodged the application, you will not be able to alter it unless a wildlife licensing
        officer requests that amendments be made. Should amendments or further information be required, you will be
        notified via email, including a link directing you back to your application. 
    </p>
{% endblock %}

{% block content %}
    <div id="contentContainer" class="container hidden bottom-buffer">
        <div class="row">
            <div class="col-md-2 col-sm-3">
                <label class="top-buffer">Selected Profile:</label>
                <p>{{ application.applicant_profile.name }}</p>
                <p><em><a data-entry-link="True" href="{% url 'wl_applications:create_select_profile' %}">Change Profile</a></em></p>
                <nav class="hidden-xs top-buffer">
                    <div id="sectionList">
                        <ul class="nav nav-stacked">
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-10">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div id="formContainer">
                    </div>
                    <h3>Disclaimer</h3>
                    <div id="disclaimers" class="children-anchor-point">
                        <div class="form-group">
                           <label>
                                <input name="correctnessDisclaimer" type="checkbox" />
                                I acknowledge that the information provided in the application is true and correct at the time of submission.
                           </label> 
                        </div>
                        <div class="form-group">
                           <label>
                                <input name="furtherInfoDisclaimer" type="checkbox" />
                                I acknowledge that if further information or details are requested of me, the application assessment period
                                may exceed the standard processing time
                           </label> 
                        </div>
                    </div>
                    <div>
                        <a data-entry-link="True" class="btn btn-default" href="{% url 'wl_applications:enter_details' %}">Edit Application Details</a>
                        <button type="submit" id="lodge" type="button" name="lodge"
                                class="btn btn-primary pull-right disabled"
                                data-title="You must check both dislaimer checkboxes to lodge the application">
                            {% if is_payment_required %}
                                Proceed to Payment
                            {% else %}
                                Lodge Application
                            {% endif %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
