{% extends 'wl/applications_base.html' %}

{% load static %}

{% load bootstrap3 %}

{% load jsonify %}

{% load users %}

{% block requirements %}
    require(['js/entry/select_licence_type'], function(selectLicenceType) {
        selectLicenceType.init({{ categories|jsonify }});
    });
{% endblock %}

{% block breadcrumbs %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb wl-breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    {% if application.is_temporary and request.user|is_officer %}
                        <li><a href="{% url 'wl_applications:create_select_customer' %}">Select or Create Customer</a></li>
                    {% endif %}
                    <li class="active">New Licence Application - Select Licence Type</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block intro_title %}<h3 class="no-margin">Select Licence Type</h3>{% endblock %}
{% block intro_text %}
    <p>
        Please select the type of licence you wish to apply for from the list below.
    </p>
    <p>
        Licences with the <span class="glyphicon glyphicon-triangle-right node-other"></span>
        symbol have variations to the nature of the licence and/or the licence duration. Click the arrow or licence name to expand
        these variations.
    </p>
    <p>Note that some licence types may incur a fee, which is indictated to the right of each licence type.</p>
{% endblock %}

{% block content %}
    <div class="container">
        {% for category in categories %}
            <h4>{{ category.name }}</h4>
            <div class="row">
                <div class="col-md-12">
                    <div id="{{ category.name|slugify }}"></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
