{% extends 'wl/base.html' %}

{% load static %}

{% load bootstrap3 %}

{% load jsonify %}

{% load users %}

{% block extra_css %}
    <link href="{% static 'wl/css/application.css' %}" rel="stylesheet"/>
{% endblock %}

{% block breadcrumbs %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb wl-breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="active">Licence Applications</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Select Licence Type</h2>
                <hr>
            </div>
        </div>
        {% for category, licence_types in licence_categories.items %}
            <h4>{{ category }}</h4>
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        {% for licence_type in licence_types %}
                            <li>
                                <a href="{% url 'wl_applications:select_licence_type_selected' licence_type.code_slug %}">
                                    {{ licence_type.name }} ({{ licence_type.code }})
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
        </div>
{% endblock %}
