{% extends 'wl/applications_base.html' %}

{% load static %}

{% load bootstrap3 %}

{% load jsonify %}

{% load users %}

{% block requirements %}
    require(['js/entry/select_licence_type', 'js/entry/navigation'], function(selectLicenceType, navigation) {
        selectLicenceType.init({
            categories: {{ categories|jsonify }},
        });

        navigation.init('Warning: any information entered into the form will be lost if not saved as draft.',
            {{ application.id }}, 'a, :button, span', '#breadcrumbsContainer, #contentContainer', "{{ csrf_token }}");
    });
{% endblock %}

{% block breadcrumbs %}
    <div id="breadcrumbsContainer" class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb wl-breadcrumbs">
                    <li><strong>New Application</strong></li>
                    <li class="active">Select Licence Type</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block intro_title %}<h3 class="no-margin">Select Licence Type</h3>{% endblock %}
{% block intro_text %}
    <p>
        Until the new licensing system which will support the Biodiversity Conservation Regulations 2018 is online, DBCA will use information provided by you in the below applications to assess and issue licences.
    </p>
    <p>
        Please select the type of licence you wish to apply for from the list below.
    </p>
    <p>
	<strong>PLEASE NOTE -</strong><br>
	Some licence types may incur a fee, which is indictated to the right of each licence type.<br>
	The licence fee has currently been set at the minimum amount for an annual licence renewal at present. The licence fee will not be processed until the licence is issued. On receipt of your application, a licensing officer will contact you regarding options for multi-year licences and corresponding payments.
    </p>
{% endblock %}

{% block content %}
    <div id="contentContainer" class="container">
        {% for category in categories %}
            <h4>{{ category.name }}</h4>
            <div class="row">
                <div class="col-md-12">
                    <div id="{{ category.name|slugify }}"></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
