{% extends 'wl/applications_base.html' %}

{% load static %}

{% load bootstrap3 %}

{% load users %}

{% load application_filters %}

{% block requirements %}
    require(['js/entry/navigation'], function(navigation) {
        navigation.init('Warning: any information entered into the form will be lost if not saved as draft.',
            {{ application.id }}, 'a, :button', '#breadcrumbsContainer, #contentContainer', "{{ csrf_token }}");
    });
{% endblock %}

{% block breadcrumbs %}
    <div id="breadcrumbsContainer" class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb wl-breadcrumbs">
                    <li><strong>{{ application|get_application_verb }} Application</strong></li>
                    <li class="active">Upload Identification</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block intro_title %}<h3>Upload Identification</h3>{% endblock %}
{% block intro_subtitle %}
    <h4 class="inline">
        {{ licence_type.name }} {% if is_renewal %}(Renewal) {% endif %} {% if is_amendment %}(Amendment) {% endif %}
    </h4> 
    {% if customer %}
        <h4 class="pull-right">Customer: {{ customer.get_full_name }}</h4>
    {% endif %}
    {% if variants %}
        <h4>
            <em>({{ variants }})</em>
        </h4>
    {% endif %}
{% endblock %}
{% block intro_text %}
    <p>
        This type of licence requires photographic identification. You can upload a scanned or photographed image of a valid
        Australian driver’s licence, passport, or proof-of-age card.
    </p>
    <p>
        If you cannot provide identification at this point, you can skip this step of the application process. You can then, at
        any time, upload your photo ID by selecting the Manage ID option under the Options menu on the menu bar. Alternatively,
        you can present your photo ID in person at the Wildlife Licensing office, 17 Dick Perry Avenue, Kensington.
    </p>
    <p><strong><em>Note: your application will not be approved until identification has been submitted.</em></strong></p>
{% endblock %}

{% block content %}
    <div id="contentContainer" class="container">
        <div class="row">
            <div class="col-md-12">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% with field=form.identification_file %}
                        <div class="form-group">
                            <div class="{% if field.errors %} has-error has-feedback {% endif %}">
                            <label for="{{ field.auto_id }}">{{ field.label }}</label> 
                            <input id="{{ field.auto_id }}" name="{{ field.name }}" type="file" class="form-control" {% if file_types %}accept="{{ file_types }}"{% endif %}>
                            {% if field.errors %}
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                <span class='text-danger'>{{ field.errors|join:'<br />' }}</span>
                            {% endif %}
                            </div>
                            {% if field.help_text %}
                                <p class="help-block">{{ field.help_text }}</p>
                            {% endif %}
                        </div>
                    {% endwith %}
                    <button type="submit" class="btn btn-primary pull-right">Upload</button>
                    <a class="btn btn-info pull-right right-buffer" href="{% url 'wl_applications:check_senior_card' %}">Skip this step</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
