{%  extends 'wildlifecompliance/emails/base_email.html' %}

{%  block content %}
    <p>The address for an organisation you are linked to has been updated by {{address_updated_by.get_full_name}} ({{address_updated_by.email}}).</p>
    <p><strong>Organisation: {{ organisation.name }}</strong></p>
    <p><strong>ABN: {{ organisation.abn }}</strong></p>
    <p><strong>Address: {{ organisation.postal_address.line1 }}, {{ organisation.postal_address.locality }},
        {{ organisation.postal_address.state }}, {{ organisation.postal_address.postcode}},
        {{ organisation.postal_address.country}} </strong></p>
{%  endblock %}
