{%  extends 'wildlifecompliance/emails/base_email.html' %}

{%  block content %}
    {% if linked_by.email != user.email %}
        <p>You have been made a user to the following organisation:</p>
        <p><strong>Organisation: {{ organisation.name }}</strong></p>
        <p><strong>ABN: {{ organisation.abn }}</strong></p>
        <p>You were linked to this organisation by {{linked_by.get_full_name}}({{linked_by.email}}).</p>
    {% else %}
        <p>You have linked yourself as a user to the following organisation:</p>
        <p><strong>Organisation: {{ organisation.name }}</strong></p>
        <p><strong>ABN: {{ organisation.abn }}</strong></p>
    {% endif %}
    <p>You can now make applications on behalf of this organisation.</p>
{%  endblock %}
