.return-intro {
    background-color: #EBC7C7;
    border-top: 2px solid #b30000;
    border-bottom: 2px solid #b30000;
}

.return-intro h3 {
    color: #b30000;
}

.return-intro h4 {
    color: #b30000;
}