td {
    &.normal-white-space {
        white-space: normal !important;
    }
}
tr {
    :not(.child) {
        cursor: pointer;
    }
}
table {
    .child-row-table {
        width: 90%;
        float: right;
    }
}
