td {
    &.normal-white-space {
        white-space: normal !important;
    }
}
tr {
    &:not(.child) {
        cursor: pointer;
    }

    &.dark-row {
        background-color: #eeeeee;
    }
}
table {
    &.child-row-table {
        width: 90%;
        float: right;
    }
}

.width_55pc {
    width: 55%;
}

.width_20pc {
    width: 20%;
}

.assessment-button {
    margin-top: 10px;
    margin-left: 20px;
}

.assessment-action {
    display: block;
    padding: 0px;
    margin: 0px;
}

.conditions-table {
    margin-top: 20px;
}
