{% extends 'wl/base.html' %}

{% load static %}

{% load bootstrap3 %}

{% block extra_css %}
    <link rel="stylesheet" href="//static.dpaw.wa.gov.au/static/libs/datatables/1.10.10/css/dataTables.bootstrap.css">
    <link href="//static.dpaw.wa.gov.au/static/libs/select2/3.5.3/select2.min.css" rel="stylesheet"/>
    <link href="//static.dpaw.wa.gov.au/static/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.css" rel="stylesheet"/>
{% endblock %}

{% block requirements %}
    require(['js/customer_lookup'], function (customerLookup) {
        $(function () {
            customerLookup.init();
        });
    });
{% endblock %}

{% block breadcrumbs %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb wl-breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="active">Customer Lookup</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row top-buffer">
            <div class="col-md-12">
                <h3>Customer Lookup</h3>
                <p>
                    Enter the of the customer name in the form: "first-name last-name", or "last-name, first-name".
                </p>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary pull-right">Search</button>
                </form>
            </div>
        </div>
        {% if customers != None %}
        <div class="row top-buffer">
            <div class="col-md-12">
                <h3>Results</h3>
                <table id="customersTable" class="table table-striped table-bordered dataTable">
                    <thead>
                        <tr>
                            <th>Last Name</th>
                            <th>First Name</th>
                            <th>Date of Birth</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in customers %}
                         <tr>
                             <td>{{ customer.last_name }}</td>
                             <td>{{ customer.first_name }}</td>
                             <td>{{ customer.dob }}</td>
                             <td>{{ customer.email }}</td>
                             <td><a href="{% url 'customer_management:view_customer' customer.pk %}">View</a></td>
                         </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}