{% extends 'wl/base.html' %}

{% load static %}

{% load bootstrap3 %}

{% block requirements %}
    require(['jQuery', 'js/officer_edit_customer_details'], function($, module) {
        $(function(){
            module.init();
        });
    });
{% endblock %}


{% block breadcrumbs %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb wl-breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'wl_customer_management:customer_lookup' customer.pk %}">Customer Lookup</a>
                    </li>
                    <li class="active">Edit Customer Details</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container bottom-buffer">
        <div class="row">
            <div class="col-md-12">
                <h2>Edit Customer Details</h2>
                <form method="post" enctype="multipart/form-data" id="id_form">
                    {% csrf_token %}
                    {% bootstrap_form_errors form %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary pull-right" name="save_details">Save and close</button>
                </form>
            </div>
        </div>
        <div class="row">
            <h3>Customer Documents</h3>
            <div class="col-md-6">
                <div class="col-md-2"><h4>ID</h4></div>
                <div class="col-md-6">
                    {% if id_url %}
                        {% if id_url|slice:'-3:' == 'pdf' %}
                            <a href="{{ id_url }}" target="_blank">
                                <img src="{% static 'wl/img/pdf.png' %}">
                                <p>View PDF</p>
                            </a>
                        {% else %}
                            <div class="thumbnail">
                                <img src="{{ id_url }}"/>
                            </div>
                        {% endif %}
                    {% else %}
                        <h4 class="text-center">Not Available</h4>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="btn-toolbar">
                            <button type="submit" class="btn btn-primary pull-left" name="upload_id" id="upload_id">
                                Upload ID
                            </button>
                            <button type="submit" class="btn btn-danger top-buffer" name="delete_id">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
            {% if customer.is_senior %}
                <div class="col-md-6">
                    <div class="col-md-2"><h4>Senior Card</h4></div>
                    <div class="col-md-6">
                        {% if senior_card_url %}
                            {% if senior_card_url|slice:'-3:' == 'pdf' %}
                                <a href="{{ senior_card_url }}" target="_blank">
                                    <img src="{% static 'wl/img/pdf.png' %}">
                                    <p>View PDF</p>
                                </a>
                            {% else %}
                                <div class="thumbnail">
                                    <img src="{{ senior_card_url }}"/>
                                </div>
                            {% endif %}
                        {% else %}
                            <h4 class="text-center">Not Available</h4>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        <form method="post" enctype="multipart/form-data" id="senior_form">
                            {% csrf_token %}
                            <div class="btn-toolbar">
                                <button type="submit" class="btn btn-primary pull-left"
                                        name="upload_senior_card"
                                        id="upload_senior_card">Upload Senior Card
                                </button>
                                <button type="submit" class="btn btn-danger pull-left top-buffer"
                                        name="delete_senior_card">Delete
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
