{% extends "customers/base.html" %}

{% block content %}

    <p>Hi. This looks like the first time you've logged into a Parks and Wildlife site as <b>{{ user.email }}</b>! We just need a couple more details before we can continue on.</p>
    <p class="callout warning">If you already have a Parks and Wildlife customer account under another email address, please <a href="{% url "accounts:logout" %}?link_account=True">sign in again with that account</a> and instead add <b>{{ user.email }}</b> as a secondary email address.</p>

    <form method="POST" action="{% url 'accounts:first_time' %}">
    {% csrf_token %}
    <input type="hidden" name="redirect_url" value="{{ redirect_url }}"/>
    {{ form.non_field_errors }}
    <div class="row">
        <div class="medium-6 columns">
            <label>Given name(s): <input name="first_name" type="text" value="{{ form.first_name.value }}"/></label>
            {% for error in form.first_name.errors %}<p class="help-text">{{ error }}</p>{% endfor %}
        </div>
        <div class="medium-6 columns">
            <label>Last name: <input name="last_name" type="text" value="{{ form.last_name.value }}"/></label>
            {% for error in form.last_name.errors %}<p class="help-text">{{ error }}</p>{% endfor %}
        </div>
        <div class="small-12 columns">
            <label>Date of birth: <input class="fdatepicker" name="dob" type="text" value="{{ form.dob.value }}" data-date-format="dd/mm/yyyy"/></label>
            {% for error in form.dob.errors %}<p class="help-text">{{ error }}</p>{% endfor %}
        </div>
    </div>

    <button type="submit" class="button expanded large">Save and continue</button>
    </form>

    <script>
    $(".fdatepicker").fdatepicker();
    </script>

{% endblock %}
