{% extends 'wl/emails/base_email.html' %}

{% block content %}
    {% if amendment_request.application.proxy_applicant %}
        The Wildlife Licensing application you made on behalf of {{ amendment_request.application.applicant_profile.user.get_full_name }} 
        has been reviewed and requires an amendment before approval.
    {% else %}
        Your Wildlife Licensing application has been reviewed and requires an amendment before approval.
    {% endif %}

    {% if reason %}
        <p>
            <span>Amendment Reason: {{ reason }}</span>
        </p>
    {% endif %}

    {% if amendment_request.text %}
        <p>Amendment detail: <br> {{ amendment_request.text }}</p>
    {% endif %}

    {% if url %}
        <p>Click <a href='{{ url }}'>here</a> to access to the application.</p>
        <p>Note: If you haven't been on the Wildlife Licensing site recently you might have to login first before using the provided link.</p>
    {% endif %}
{% endblock %}