{% extends 'wl/emails/base_email.html' %}

{% block content %}
    Your Wildlife Licensing application has been reviewed and requires an amendment before approval.
    {% if amendment_reason %}
        <p>
            <span>Amendment Reason: {{ amendment_reason }}</span>
        </p>
    {% endif %}
    <p>Amendment detail: <br> {{ amendment_detail }}</p>
    {% if url %}
        <p>Click <a href='{{ url }}'>here</a> to access to your application.</p>
        <p>Note: If you haven't been on the Wildlife Licensing site recently you might have to login first before using the provided link.</p>
    {% endif %}
{% endblock %}