{% extends 'wl/emails/base_email.html' %}

{% block content %}
    {% if amendment_request.application.proxy_applicant %}
        The Wildlife Licensing application you made on behalf of {{ amendment_request.application.applicant_profile.user.get_full_name }}
        has been declined.
    {% else %}
        Your Wildlife Licensing application has been declined.
    {% endif %}

    {% if reason_html %}
        <p>
            Reason:<br/>
            {{ reason_html|safe }}
        </p>

    {% endif %}

    {% if wl_home %}
        <p>Click <a href='{{ wl_home }}'>here</a> to access your Wildlife Licensing dashboard.</p>
        <p>Note: If you haven't been on the Wildlife Licensing site recently you might have to login first before using the provided link.</p>
    {% endif %}
{% endblock %}