{% extends 'wl/emails/base_email.html' %}

{% block content %}
    {% if returns_request.application.proxy_applicant %}
        The Wildlife Licensing application you made on behalf of {{ returns_request.application.applicant_profile.user.get_full_name }}
        has been reviewed. Before this application can be finalised and approved,  outstanding returns need to be completed and submitted.
    {% else %}
        Your Wildlife Licensing application has been reviewed. Before this application can be finalised and approved,
        outstanding returns need to be completed and submitted.
    {% endif %}

    {% if returns_request.reason %}
        <p>
            <span>Reason: {{ returns_request.reason }}</span>
        </p>
    {% endif %}
    {% if returns_request.text %}
        <p>Detail: <br> {{ returns_request.text }}</p>
    {% endif %}
    {% if url %}
        <p>Click <a href='{{ url }}'>here</a> to lodge your returns.</p>
        <p>Note: If you haven't been on the Wildlife Licensing site recently you might have to login first before using the provided link.</p>
    {% endif %}
{% endblock %}