{% extends 'wl/emails/base_email.html' %}

{% block content %}
    Your Wildlife Licensing application has been reviewed and requires completion of returns.
    {% if request_reason %}
        <p>
            <span>Reason: {{ request_reason }}</span>
        </p>
    {% endif %}
    {% if request_text %}
        <p>Detail: <br> {{ request_text }}</p>
    {% endif %}
    {% if url %}
        <p>Click <a href='{{ url }}'>here</a> to lodge your returns.</p>
        <p>Note: If you haven't been on the Wildlife Licensing site recently you might have to login first before using the provided link.</p>
    {% endif %}
{% endblock %}