{% extends 'wl/emails/base_email.html' %}

{% block greetings %}
    Dear {{ licence.holder.get_full_name }}
{% endblock %}

{% block content %}
    <p><strong>{{ licence.get_title_with_variants }}</strong></p>
    <p>Please find the licence attached.</p>
    <p>Please ensure that all the licence conditions are complied with, including the forwarding of a return at the end of the licence period.</p>
    <p>{{ licence.cover_letter_message }}</p>
    <p>If you have any queries, please contact the Wildlife Licensing Section on 9219 9831.</p>
{% endblock %}

{% block signature %}
    <p>
        Yours sincerely
    </p>
    <p></p>
    <p>
        DIRECTOR GENERAL<br/>
        Department of Biodiversity, Conservation and Attractions
    </p>
    <p>
        {% now 'd/m/Y' %}
    </p>
{% endblock %}
