{% extends 'wl/emails/base_email.html' %}

{% block greetings %}
    Dear {{ licence.holder.get_full_name }}
{% endblock %}

{% block content %}
    <p>
        This is a reminder that your licence
    </p>
    <p>
        <strong>{{ licence.get_title_with_variants }} &lt;{{ licence.reference }}&gt;</strong>
    </p>
    <p>
         is due to expire on {{ licence.end_date|date:'d/m/Y' }}.
    </p>
    <p>
        Please note that if you have oustanding returns, these are required to be submitted before the licence can be renewed.
    <p>
    <p>
        If you have any queries, please contact the Wildlife Licencing Section on 9219 9831 or 
        <a href="mailto:wildlifelicensing@dpaw.wa.gov.au">wildlifelicensing@dpaw.wa.gov.au</a>.
    </p>
{% endblock %}
{% block signature %}
    <p>
        Yours sincerely
    </p>
    <p></p>
    <p>
        DIRECTOR GENERAL<br/>
        Department of Biodiversity, Conservation and Attractions
    </p>
    <p>
        {% now 'd/m/Y' %}
    </p>
{% endblock %}
