{% extends 'wl/applications_base.html' %}

{% load static %}

{% load bootstrap3 %}

{% load jsonify %}

{% block extra_css %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.3/select2.min.css" rel="stylesheet"/>
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css"
          rel="stylesheet"/>
    {{ block.super }}
{% endblock %}

{% block requirements %}
    require([
        'js/conditions/assessor_enter_conditions',
        'js/logs'
    ], function (enter_conditions, logs) {
        $(function () {
            enter_conditions.init({{ assessment|jsonify }}, {{ application|jsonify }},
                                  {{ form_structure|jsonify }}, {{ other_assessments|jsonify }},
                                  "{{ csrf_token }}", {{ assessors|jsonify }}, {{ request.user.id }});

            logs.initCommunicationLog({
                logListURL: "{% url 'wl_applications:log_list' application.id %}",
                addLogEntryURL: "{% url 'wl_applications:add_log_entry' application.id %}"
            });
            logs.initActionLog({
                logListURL: "{% url 'wl_applications:action_list' application.id %}",
            });
        });
    });
{% endblock %}

{% block breadcrumbs %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb wl-breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'wl_dashboard:tables_assessor' %}">Applications</a></li>
                    <li class="active">Enter Conditions</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block intro_title %}<h3>Enter Licence Conditions</h3>{% endblock %}
{% block intro_subtitle %}
    <h4 class="inline">
        {{ application.licence_type.name }}
    </h4> 
{% endblock %}

{% block content %}
    <div class="container bottom-buffer">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Application Overview
                                <a data-toggle="collapse" href="#applicationOverviewBody" class="pull-right">
                                    <span class="glyphicon"></span>
                                </a>
                            </div>
                            <div id="applicationOverviewBody" class="panel-body panel-collapse in">
                                <label>Applicant</label>
                                {% with applicant=application.applicant_profile %}
                                    <p>
                                        {{ applicant.user.first_name }} {{ applicant.user.last_name }}
                                    </p>
                                    <div>{{ applicant.postal_address.search_text }}</div>
                                    <div class="applicant-contact">
                                        <div>
                                            <span class="fa fa-envelope"></span>
                                            <span class="email"> {{ applicant.email }}</span>
                                        </div>
                                        {% if applicant.user.phone_number %}
                                            <div>
                                                <span class="fa fa-phone phone"></span> {{ applicant.user.phone_number }}
                                            </div>
                                        {% endif %}
                                        {% if applicant.user.mobile_number %}
                                            <div>
                                                <span class="fa fa-mobile mobile"></span> {{ applicant.user.mobile_number }}
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endwith %}
                                <div class="row">
                                    <div class="col-md-5">
                                        <label>Lodged on</label>
                                        <p>{{ application.lodgement_date|date:'d/m/Y' }}</p>
                                    </div>
                                    <div class="col-md-7">
                                        <label>Assigned Officer</label>
                                        <p>
                                            {% if application.assigned_officer %} 
                                                {{ application.assigned_officer.first_name }} {{ application.assigned_officer.last_name }}
                                            {% else %}
                                                Unassigned
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                                <div class="row bottom-buffer">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Assigned for assessment to</label>
                                            <input type="hidden" id="assignee" class="form-control">
                                            <a id="assignToMe" class="pull-right">Assign to me</a>
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    <a id="viewApplicationDetails" data-toggle="popover" data-placement="right">
                                        View Application Details
                                    </a>
                                </p>
                                <p>
                                    <a id="viewOtherAssessorsComments" data-toggle="popover" data-placement="right">
                                        View Other Assessors' Comments
                                    </a>
                                </p>
                             </div>
                        </div>
                    </div>
                </div>
                {% include 'wl/logs_panel.html' %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Add Additional Conditions
                                <a data-toggle="collapse" href="#addAdditionalConditionsBody" class="pull-right">
                                    <span class="glyphicon"></span>
                                </a>
                            </div>
                            <div id="addAdditionalConditionsBody" class="panel-body panel-collapse in">
                                <div>
                                    <div class="form-group">
                                        Search Conditions
                                        <input type="hidden" id="searchConditions" class="form-control" />
                                    </div>
                                    <div style="text-align:right">
                                        <button type="button" id="addCondition" class="btn btn-xs btn-primary" disabled>Add Condition</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="save" type="button" class="btn btn-sm btn-info">Save</button>
                <button id="conclude" type="button" class="btn btn-sm btn-success pull-right">Conclude Assessment</button>
            </div>
            <div class="col-md-9">
                <h3>Current Conditions</h3>
                <div class="pull-right">
                    <div class="legend default">
                    </div>
                    <strong>Default Condition</strong>
                    <div class="legend additional">
                    </div>
                    <strong>Additional Condition</strong>
                </div>
                <form method="post" id="conditionsForm">
                    {% csrf_token %}
                    <table class="table table-bordered">
                        <thead class="conditions-table-head">
                            <tr>
                                <th class="code">Code</th>
                                <th class="condition">Condition</th>
                                <th class="action">Action</th>
                                <th class="order">Order</th>
                            </tr>
                        </thead>
                        <tbody id="conditionsBody" class="conditions-table-body">
                            <tr id="conditionsEmptyRow" class="hidden">
                                <td colspan="4">No default conditions specified</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <label for="comment">Comments</label>
                        <textarea name="comment" rows="4" id="commentText" class="form-control" placeholder="Enter comment">{{ assessment.comment }}</textarea>
                    </div>
                    {% if assessment.assessor_group.purpose %}
                        <div class="form-group">
                            <label for="purpose">Purpose</label>
                            <textarea name="purpose" rows="4" id="purposeText" class="form-control" placeholder="Enter purpose">{{ assessment.purpose }}</textarea>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    {% include 'wl/logs_comm_entry_modal.html' %}
{% endblock %}