{% extends 'wl/conditions/enter_conditions.html' %}

{% load static %}

{% load bootstrap3 %}

{% load jsonify %}

{% block requirements %}
    require(['js/conditions/assessor_enter_conditions'], function (enter_conditions) {
        $(function () {
            enter_conditions.init({{ application|jsonify }}, {{ form_structure|jsonify }});
        });
    });
{% endblock %}


{% block breadcrumbs %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb wl-breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'dashboard:tables_assessor' %}">Applications</a></li>
                    <li class="active">Enter Conditions</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block comments %}
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea name="comment" rows="4" id="commentText" class="form-control" placeholder="Enter comment"></textarea>
    </div>
{% endblock %}


{% block action_button %}
    <button id="assessmentDone" type="button" class="btn btn-sm btn-success pull-right">Conclude Assessment</button>
{% endblock %}
