Django<1.11.0
git+https://github.com/parksandwildlife/dpaw-utils.git@0.3a13#egg=dpaw-utils
git+https://github.com/django-oscar/django-oscar.git@feature/django-110#egg=django-oscar
social-auth-app-django>=0.1.0
coverage>=4.0.3
coveralls>=1.1
reportlab==3.3.0
django_bootstrap3>=6.2.2
django-braces>=1.8.1
django-datatables-view==1.13.0
django-reversion==1.10.1
git+https://github.com/scottp-dpaw/django-preserialize.git#egg=django-preserialize
django-countries==3.4.1
django-cron==0.4.6
django-dynamic-fixture>=1.9.0
openpyxl==2.3.5
datapackage>=0.6.1
jsontableschema>=0.6.3
python-dateutil==2.5.3
py4j==0.10.2.1
djangorestframework==3.4.0
djangorestframework-gis
pycountry==1.20
six>=1.10.0
django-ical>=1.4
django-taggit
