{% load static %} {% load dpaw_extras %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    <title>
        {% block title %}
            Department of Biodiversity, Conservation and Attractions
        {% endblock %}
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block header_js %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js?ver={{ settings.GIT_COMMIT_HASH }}" ></script>
    
    <script src="/static/common/node_modules/bootstrap/dist/js/bootstrap.bundle.js?ver={{ settings.GIT_COMMIT_HASH }}" ></script>
    <script src="/static/common/node_modules/jquery/dist/jquery.min.js?ver={{ settings.GIT_COMMIT_HASH }}"></script>
    <script src="/static/payments/js/ledger_payments.js?ver={{ settings.GIT_COMMIT_HASH }}"></script>
    {% endblock %}

    {% block header_css %}
    <link href="/static/common/node_modules/bootstrap/dist/css/bootstrap.css?ver={{ settings.GIT_COMMIT_HASH }}" rel="stylesheet">    
    <link rel="stylesheet" type="text/css" href="/static/common/node_modules/bootstrap-icons/font/bootstrap-icons.css?ver={{ settings.GIT_COMMIT_HASH }}">

    <link rel="icon" type="image/x-icon" href="/static/ledger/images/system-favicon.ico">
    {% endblock %}

         
        {% block extra_js %}
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

    	{% block extra_hidden_inputs %}
        {% endblock %}



    {% block "script-top" %}

    {% endblock %}

</head>

<body>
{% block development_header %}
    {% if DJANGO_SETTINGS.EMAIL_INSTANCE == 'DEV' or DJANGO_SETTINGS.EMAIL_INSTANCE == 'UAT' or DJANGO_SETTINGS.EMAIL_INSTANCE == 'TEST'  %}
    <div class="col-lg-12 p-3 bg-danger text-white text-center fs-6" >
        DEVELOPMENT: FOR TESTING ONLY DO NOT USE
    </div>
    {% endif %}
{% endblock %}


	{% include "dpaw_payments/modal-loader.html" %}
<div class="modal" tabindex="-1" id='ConfirmAction' aria-hidden="true" data-bs-backdrop="static" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Please confirm your action to change status to "Completed".</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" id='confirm_status_change_btn' class="btn btn-danger">Confirm</button>
      </div>
    </div>
  </div>
</div>
<style>
  .dbcablack_banner {
    height: 115px;
    padding-top: 0px;
    background-color: #000000;
}

.gov_b5_nav {
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
    min-height: 50px;
}   

</style>

<div class='dbcablack_banner'>
  <div class='container'>
  <div style='background-color: 000;  z-index: 2;'>
          <div style='padding: 20px;'>
              <div class="row">
                  <div class="col-lg-12">
                          <h1 id="site-title" class="site-logo">
                             <a href="{% url 'home'%}" style='text-decoration: none;'>
                                     <img src='/static/img/dbca_white.png' style='height: 80px; width: auto;' alt="Department of Biodiversity Conservation and Attractions" class="img-responsive"/>
                             </a>
                          </h1>
                  </div>
          </div>
      </div>
  </div>
  </div>
</div>      


{% block main_menu %}
<div class='gov_b5_nav'>
    <div class='container'>
        <div class='row'>
           <div class='col-sm-12'>
                     <nav class="navbar navbar-expand-lg navbar-light bg-light">
                       <div class="container-fluid">
                         {% block menu_items_left_brand %}
                           <a class="navbar-brand" href="{% url 'home'%}" style='display:none;'>Home</a>
                         {% endblock %}
                         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                         </button>
                         <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                           <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                             {% block menu_items_left %}
                               {% include 'webtemplate_dbca/includes/primary_menu.html' %}
                             {% endblock %}
                            </ul>
                            <ul class="navbar-nav navbar-right" >
                              {% block menu_items_right %}
                              {% if request.session.is_authenticated %}
                             <li class="nav-item">
                                 <a class="nav-link" href="#">
                                 Welcome
                                 <strong>
                                     {% if request.session.user_obj.first_name %}
                                         {{ request.session.user_obj.first_name }}
                                     {% elif request.session.user_obj.last_name %}
                                         {{ request.session.user_obj.last_name }}
                                     {% else %}
                                         {{ request.session.user_obj.email }}
                                     {% endif %}
                                 </strong>
                                 </a>
                             </li>

                             <li class="nav-item dropdown">
                               <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                 Options
                               </a>
                               <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarScrollingDropdown">
                                 <span class='caret-above-menu hidden-sm' style=''><i class="bi bi-caret-up-fill fas ml-2"></i></span>
              {% block menu_dropdown %}
              {% block menu_extra_dropdown_top %}
              {% endblock %}
                                          {% if request.session.user_obj.is_staff %}
                    {% include 'webtemplate_dbca/includes/staff_menu.html' %}
                                          {% block menu_extra_dropdown_staff_top %}
                                                {% include 'webtemplate_dbca/includes/staff_menu_extras.html' %}
              {% endblock %}
              {% endif %}
                                          <li><hr class="dropdown-divider"></li>
              {% block menu_extra_dropdown_bottom %}
                    {% include 'webtemplate_dbca/includes/menu_bottom.html' %}
              {% endblock %}
                                          <li><a class="dropdown-item" href="{% url 'logout' %}?next=/">Logout</a></li>
          {% endblock %}
                               </ul>
                             </li>
                           {% endif %}
       {% endblock %}
       {% block menu_items2_right %}

       {% endblock %}
                           </ul>
                         </div>
                       </div>
                     </nav>
                  </div>
              </div>
          </div>

</div>


{% endblock %}


<div class="container">
  {% block messages %}
  <BR>
  {% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible shadow fade show" role="alert">      
      {{ message | safe }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endblock %}


    {% block content %}
    {% endblock %}


</div>
</body>
</html>
