{% extends "ledgergw/web/base_b5.html" %}
{% block content %}
<link href="/static/common/node_modules/simplicite-bootstrap-datetimepicker/bootstrap5/css/bootstrap-datetimepicker.min.css?ver={{ settings.GIT_COMMIT_HASH }}" rel="stylesheet"/>
<link href="/static/common/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css?ver={{ settings.GIT_COMMIT_HASH }}" rel="stylesheet"/>

<script  type="text/javascript" src="/static/common/node_modules/moment/min/moment.min.js"></script>
<script  type="text/javascript" src="/static/common/node_modules/simplicite-bootstrap-datetimepicker/bootstrap5/js/bootstrap-datetimepicker.min.js?ver={{ settings.GIT_COMMIT_HASH }}"></script>
<script  type="text/javascript" src="/static/common/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js?ver={{ settings.GIT_COMMIT_HASH }}"></script>

{% include "dpaw_payments/modal-loader.html" %}
{% include "dpaw_payments/modal-error.html" %}
{% include "dpaw_payments/modal-success.html" %}

{% if request.user.is_staff %}

{% if system_id_exists is True %}

<div id='reports'></div>
<div class="container">
    <br>
    <h1>Financial Reports</h1>
    <div id="report-form">
        <form method="get" id="payments-form" onsubmit="event.preventDefault();">
          <br>
          <div class="card">
            <div class="card-body">
            <div class="well">
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="margin-bottom:20px;">Payments Reports</h3>
                            <div class="row" v-show="!region">
                                <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="">Start Date</label>
                                      <div class="input-group date"  id="accountsDateStartPicker">
                                          <input type="text" class="form-control" name="start" placeholder="DD/MM/YYYY" required autocomplete='off'>

                                          <span class="input-group-addon input-group-text">
                                              <span class="bi bi-calendar2-range-fill"></span>
                                          </span>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="">End Date</label>
                                      <div class="input-group date" id="accountsDateEndPicker">
                                          <input type="text" class="form-control" name="end"  placeholder="DD/MM/YYYY" required autocomplete='off'>
                                          <span class="input-group-addon input-group-text">
                                              <span class="bi bi-calendar2-range-fill"></span>
                                          </span>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:20px;">
                                <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="">Bank Start Date</label>
                                      <div class="input-group date" id="flatDateStartPicker">
                                          <input type="text" class="form-control" name="banked_start"  placeholder="DD/MM/YYYY" required autocomplete='off'>
                                          <span class="input-group-addon input-group-text">
                                              <span class="bi bi-calendar2-range-fill"></span>
                                          </span>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="">Bank End Date</label>
                                      <div class="input-group date" id="flatDateEndPicker">
                                          <input type="text" class="form-control" name="banked_end"  placeholder="DD/MM/YYYY" required autocomplete='off'>
                                          <span class="input-group-addon input-group-text">
                                              <span class="bi bi-calendar2-range-fill"></span>
                                          </span>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <button onclick="reports.generateByAccountCodes()" class="btn btn-primary pull-left" >Generate Report By Accounts</button>
                                </div>
                                <div class="col-sm-6 clearfix">
                                  <button onclick="reports.generateFlatReport()" class="btn btn-primary pull-left" >Generate Report Flat</button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        </form>
         <br>
          <div class="card">
            <div class="card-body">

        <form id="refund_form" onsubmit="event.preventDefault();">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12">
                            <h3 style="margin-bottom:20px;">Refunds Reports</h3>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                              <label for="">Start Date</label>
                              <div class="input-group date"  id="refundsStartPicker">
                                  <input type="text" class="form-control" name="refund_start_date" placeholder="DD/MM/YYYY" autocomplete='off' required>

                                          <span class="input-group-addon input-group-text">
                                              <span class="bi bi-calendar2-range-fill"></span>
                                          </span>

                              </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                              <label for="">End Date</label>
                              <div class="input-group date" id="refundsEndPicker">
                                  <input type="text" class="form-control" name="refund_end_date"  placeholder="DD/MM/YYYY" autocomplete='off' required>


                                          <span class="input-group-addon input-group-text">
                                              <span class="bi bi-calendar2-range-fill"></span>
                                          </span>
                              </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-sm-6">
                                    <button onclick="reports.generateRefundReport()" class="btn btn-primary pull-left" >Generate Refund Reports</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
       </div>
       <br>
       <div class="card">
          <div class="card-body">
		   <form id="booking_settlements_form" onsubmit="event.preventDefault();">

            <div class="well well-sm">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-6">
                                            <h3 style="margin-bottom:20px;">Settlement Report</h3>
                                            <div class="form-group">
                                         

                                              <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                          <label for="">Settlement From Date:</label>
                                                          <div class="input-group date" id='bookingSettlementsFromDatePicker'>
                                                            <input type="text" class="form-control" name="booking_settlement_date"  id='booking_settlement_date' placeholder="DD/MM/YYYY" autocomplete='off' required>
                                                             <span class="input-group-addon input-group-text">
                                                                 <span class="bi bi-calendar2-range-fill"></span>
                                                             </span>
                                                        </div>
                                                        </div>
                        
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                          <label for="">Settlement To Date:</label>
                                                          <div class="input-group date" id='bookingSettlementsToDatePicker'>
                                                            <input type="text" class="form-control" name="booking_settlement_date"  id='booking_settlement_date' placeholder="DD/MM/YYYY" autocomplete='off' required>
                                                             <span class="input-group-addon input-group-text">
                                                                 <span class="bi bi-calendar2-range-fill"></span>
                                                             </span>
                                                        </div>
                                                        </div>
                                                    </div>
                        
                                                    <div class="col-sm-12">
                                                        <br>
                                                        <div class="form-group">
                                                            <button onclick="reports.getBookingSettlementsReport()" class="btn btn-primary pull-left" >Generate Settlement Report</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>

                                              
                                              


                                            </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
		 </form>
            </div>
        </div>
       </div>
       <br>
       <div class="card">
          <div class="card-body">
 
          <form ref="oracle_form" id='oracle_form' onsubmit="event.preventDefault();">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12">
                            <h3 style="margin-bottom:20px;">Oracle Job</h3>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                      <label for="">Date</label>
                                      <div class="input-group date" ref="oracleDatePicker" id='oracleDatePicker'>
                                          <input type="text" class="form-control" name="oracle_date" id='oracleDatePicker'  placeholder="DD/MM/YYYY" required autocomplete='off'>
                                                   <span class="input-group-addon input-group-text">
                                                       <span class="bi bi-calendar2-range-fill"></span>
                                                   </span>
                                      </div>
                                      <div>
                                            <br>       
                                                 <span class="input-group-addon ">
                                                      <div class="checkbox">

                                                           &nbsp; &nbsp;<label><input id="oracle_override" type="checkbox" value="">Override closed period check</label>
                                                      </div>
                                                  </span>
                                             <br>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                        <button onclick="reports.runOracleJob()" class="btn btn-primary pull-left" >Run Job</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<br>
    <div class="card">
        <div class="card-body">

        <form ref="oracle_form" id='oracle_form' onsubmit="event.preventDefault();">
          <div class="well well-sm">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="col-lg-12">
                          <h3 style="margin-bottom:20px;">Payment Audit Report</h3>
                      </div>
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="col-sm-6">
                                  <div class="form-group">
                                    <label for="">Date</label>
                                    <div class="input-group date" ref="paymentauditDatePicker" id='paymentauditDatePicker'>
                                        <input type="text" class="form-control" name="payment_audit_report" id='paymentauditDatePicker'  placeholder="DD/MM/YYYY" required autocomplete='off'>
                                                 <span class="input-group-addon input-group-text">
                                                     <span class="bi bi-calendar2-range-fill"></span>
                                                 </span>
                                    </div>

                                  </div>
                                  <div class="form-group">
                                      <button onclick="reports.QueuePaymentAuditReportJob()" class="btn btn-primary pull-left" >Run Job</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </form>
  </div>

</div>
<br>
<div class="card">
      <div class="card-body">

      <form ref="oracle_form" id='oracle_form' onsubmit="event.preventDefault();">
        <div class="well well-sm">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <h3 style="margin-bottom:20px;">Time Based Payment Audit Report</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="">Date</label>
                                  <div class="input-group date" ref="timepaymentauditreportDatePicker" id='timepaymentauditreportDatePicker'>
                                      <input type="text" class="form-control" name="time_payment_audit_report" id='timepaymentauditreportDatePicker'  placeholder="DD/MM/YYYY" required autocomplete='off'>
                                            <span class="input-group-addon input-group-text">
                                                <span class="bi bi-calendar2-range-fill"></span>
                                            </span>
                                  </div>
                                </div>
                                <div class="form-group">
                                    <button onclick="reports.QueueTimePaymentAuditReportJob()" class="btn btn-primary pull-left" >Run Job</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>




</div>  



<br>
<div class="card">
      <div class="card-body">

      <form ref="oracle_form" id='oracle_form' onsubmit="event.preventDefault();">
        <div class="well well-sm">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <h3 style="margin-bottom:20px;">Itemised Transactions Report</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="">Settlement From Date:</label>
                                  <div class="input-group date" ref="itemisedtransreportDatePicker" id='itemisedtransreportDatePicker'>
                                      <input type="text" class="form-control" name="itemised_trans_report_from" id='itemisedtransreportDatePicker'  placeholder="DD/MM/YYYY" required autocomplete='off'>
                                            <span class="input-group-addon input-group-text">
                                                <span class="bi bi-calendar2-range-fill"></span>
                                            </span>
                                  </div>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="">Settlement To Date:</label>
                                  <div class="input-group date" ref="itemisedtransreportToDatePicker" id='itemisedtransreportToDatePicker'>
                                      <input type="text" class="form-control" name="itemised_trans_report_to" id='itemisedtransreportToDatePicker'  placeholder="DD/MM/YYYY" required autocomplete='off'>
                                            <span class="input-group-addon input-group-text">
                                                <span class="bi bi-calendar2-range-fill"></span>
                                            </span>
                                  </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <br>
                                <div class="form-group">
                                    <button onclick="reports.ItemisedTransactionReport()" class="btn btn-primary pull-left" >Generate Report</button>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>




</div>  







    </div>
<br>
<br>  
<br>  
<br>  

</div>   
<script>
// ledger/payments/api/report?system=S019&start=2021-12-21%200%3A00%3A00&end=2021-12-22%2023%3A59%3A59&banked_start=2021-12-21%200%3A00%3A00&banked_end=2021-12-23%2023%3A59%3A59&items=true
// import {$,swal,bus,datetimepicker,api_endpoints,helpers,Moment,validate} from "../../hooks.js"
// export default {
	var reports = { "var": {
		                   system_id: "{{ system_id }}",
                           queue_report_job_url: "/api/queue-report-job",
                           itemised_transactions_url: "/api/reports/itemised-transactions",
		                   refund_report_url: "/api/reports/refunds",
		                   settlement_report_url: "/api/reports/settlements",
		                   payments_report_url: '/ledger/payments/api/report-allocated',
                                   oracle_job_url: '/api/oracle_job',
	                           form:null,
                                   refund_form:null,
                                   oracle_form: null,
                                   oracleDatePicker: null,
                                   booking_settlements_form: null,
                                   bookings_form: null,
                                   bookingSettlementsFromDatePicker: null,
                                   bookingSettlementsToDatePicker: null,
                                   bookingsDatePicker: null,
                                   accountsDateStartPicker:null,
                                   accountsDateEndPicker:null,
                                   flatDateStartPicker:null,
                                   flatDateEndPicker:null,
                                   refundsStartPicker:null,
                                   refundsEndPicker:null,
                                   paymentauditDatePicker:null,
                                   timepaymentauditreportDatePicker:null,

                                   datepickerOptions:{
                                    format: 'dd/mm/yyyy',
                                    showClear: true,
                                    useCurrent: false,
                                    autoclose: true
                                   },
                                   regions:[],
                                   region:'',
                                   district:'',
                                   selected_region:{
                                       code:'',
                                       name:'',
                                       districts:[]
                                   },
                                   oracle_override: false,
	                }, 
                        init: function () {
                                console.log('initializing reports');
                                reports.var.form = $('#payments-form');
                                reports.var.refund_form = $('#refund_form');
                                reports.var.oracle_form = $('#oracle_form');
                                reports.var.booking_settlements_form = $('#booking_settlements_form');
                                reports.var.accountsDateStartPicker = $('#accountsDateStartPicker').datepicker(reports.var.datepickerOptions);
                                reports.var.accountsDateEndPicker = $('#accountsDateEndPicker').datepicker(reports.var.datepickerOptions);
                                reports.var.flatDateStartPicker = $('#flatDateStartPicker').datepicker(reports.var.datepickerOptions);
                                reports.var.flatDateEndPicker = $('#flatDateEndPicker').datepicker(reports.var.datepickerOptions);
                                reports.var.refundsStartPicker = $('#refundsStartPicker').datepicker(reports.var.datepickerOptions);
                                reports.var.refundsEndPicker = $('#refundsEndPicker').datepicker(reports.var.datepickerOptions);
                                reports.var.oracleDatePicker = $('#oracleDatePicker').datepicker(reports.var.datepickerOptions);
                                reports.var.bookingSettlementsFromDatePicker = $('#bookingSettlementsFromDatePicker').datepicker(reports.var.datepickerOptions);
                                reports.var.bookingSettlementsToDatePicker = $('#bookingSettlementsToDatePicker').datepicker(reports.var.datepickerOptions);
                                reports.var.paymentauditDatePicker = $('#paymentauditDatePicker').datepicker(reports.var.datepickerOptions);
                                reports.var.timepaymentauditreportDatePicker = $('#timepaymentauditreportDatePicker').datepicker(reports.var.datepickerOptions);
                                reports.var.itemisedtransreportDatePicker = $('#itemisedtransreportDatePicker').datepicker(reports.var.datepickerOptions);
                                reports.var.itemisedtransreportToDatePicker = $('#itemisedtransreportToDatePicker').datepicker(reports.var.datepickerOptions);
                                reports.var.flatDateStartPicker.on('dp.hide',function (e) {
                                    reports.var.flatDateEndPicker.data("DateTimePicker").date(null);
                                    reports.var.flatDateEndPicker.data("DateTimePicker").minDate(e.date);
                                });
                                reports.var.accountsDateStartPicker.on('dp.hide',function (e) {
                                    reports.var.accountsDateEndPicker.data("DateTimePicker").date(null);
                                    reports.var.accountsDateEndPicker.data("DateTimePicker").minDate(e.date);
                                });
                                reports.var.refundsStartPicker.on('dp.hide',function (e) {
                                    reports.var.refundsEndPicker.data("DateTimePicker").date(null);
                                    reports.var.refundsEndPicker.data("DateTimePicker").minDate(e.date);
                                });

                                $('#oracle_override').click(function() {
                                  if ($(this).is(':checked')) {
                                     reports.var.oracle_override = true;
                                  } else {
                                     reports.var.oracle_override = false;
                                  }
                                });
                        },
                        getBookingSettlementsReport() {
                            var settlement_from_date = moment(reports.var.bookingSettlementsFromDatePicker.datepicker("getDate")).format('DD/MM/YYYY');
                            var settlement_to_date = moment(reports.var.bookingSettlementsToDatePicker.datepicker("getDate")).format('DD/MM/YYYY');
                            var report_url = reports.var.settlement_report_url+"?system="+reports.var.system_id+"&from_date="+settlement_from_date+"&to_date="+settlement_to_date;
                            // window.location.assign(report_url);

                            fetch(report_url)
                                .then(resp => { 

                                    if (resp.status != 200) {
                                      
                                        return resp.text() ;
                                      
                                    }
                                    return resp.blob();
                                }
                                
                                )
                                .then(blob => {                                                                    
                                   
                                    if (typeof blob == 'string') {
                                        return Promise.reject(blob);
                                    }
                                    const url = window.URL.createObjectURL(blob);
                                    const a = document.createElement('a');
                                    a.style.display = 'none';
                                    a.href = url;
                                    // the filename you want
                                    a.download = 'settlement_transaction_report_'+moment(reports.var.bookingSettlementsFromDatePicker.datepicker("getDate")).format('DD-MM-YYYY')+'-'+moment(reports.var.bookingSettlementsToDatePicker.datepicker("getDate")).format('DD-MM-YYYY')+'.csv';
                                    document.body.appendChild(a);
                                    a.click();
                                    window.URL.revokeObjectURL(url);
                                    alert('File downloaded successfully!');

                            })
                            .catch(err => { 
                                alert('ERROR: '+err)
                             
                            });



                        },
                        generateRefundReport:function () {
                            let vm =this;
                            var refundstart = moment(reports.var.refundsStartPicker.datepicker("getDate")).format('DD/MM/YYYY');
                            var refundend = moment(reports.var.refundsEndPicker.datepicker("getDate")).format('DD/MM/YYYY');
                            var report_url = reports.var.refund_report_url+"?system="+reports.var.system_id+"&start="+refundstart+"&end="+refundend;
                            window.location.assign(report_url);
                        },
		        generateByAccountCodes:function () {
                                var account_start = moment(reports.var.accountsDateStartPicker.datepicker("getDate")).format('YYYY-MM-DD');
                                var account_end = moment(reports.var.accountsDateEndPicker.datepicker("getDate")).format('YYYY-MM-DD');
                                var bank_start = moment(reports.var.flatDateStartPicker.datepicker("getDate")).format('YYYY-MM-DD');
                                var bank_end = moment(reports.var.flatDateEndPicker.datepicker("getDate")).format('YYYY-MM-DD'); 
		           
                                var report_url = reports.var.payments_report_url+"?system="+reports.var.system_id+"&start="+account_start+" 00:00:00&end="+account_end+" 23:59:59&banked_start="+bank_start+" 00:00:00&banked_end="+bank_end+" 23:59:59&items=true"
                                window.location.assign(report_url);
			},
		        generateFlatReport: function() {
                                var account_start = moment(reports.var.accountsDateStartPicker.datepicker("getDate")).format('YYYY-MM-DD');
                                var account_end = moment(reports.var.accountsDateEndPicker.datepicker("getDate")).format('YYYY-MM-DD');
                                var bank_start = moment(reports.var.flatDateStartPicker.datepicker("getDate")).format('YYYY-MM-DD');
                                var bank_end = moment(reports.var.flatDateEndPicker.datepicker("getDate")).format('YYYY-MM-DD');

                                var report_url = reports.var.payments_report_url+"?system="+reports.var.system_id+"&start="+account_start+" 00:00:00&end="+account_end+" 23:59:59&banked_start="+bank_start+" 00:00:00&banked_end="+bank_end+" 23:59:59&flat=false"
                                window.location.assign(report_url);
			},
                        runOracleJob: function() {
                                var oracle_date = moment(reports.var.oracleDatePicker.datepicker("getDate")).format('YYYY-MM-DD');
                                if (oracle_date.length > 0) { 
				                    $('#LoadingPopup').modal('show');
                                      var report_url = reports.var.oracle_job_url+"?system="+reports.var.system_id+"&date="+oracle_date+"&override="+reports.var.oracle_override;
                                      $.ajax({
                                          url: report_url,
                                          method: 'GET',
                                          dataType: 'json',
                                          contentType: 'application/json',
                                          // data: "{}",
                                          success: function (response) {
						   setTimeout("$('#LoadingPopup').modal('hide')",800);
						   if (response['successful'] == true) {
                                                       setTimeout("$('#SuccessPopupBox').modal('show')",1000);
                                                       console.log(response['successful']);
					           }
                                          },
                                          error: function (error) {
					      setTimeout("$('#LoadingPopup').modal('hide');",600);
					      setTimeout("$('#ErrorPopupBox').modal('show');",1000);
                                              console.log('Error running oracle job');
                                          },
                                      });
				}

                        },
                        QueuePaymentAuditReportJob: function() {
                            var oracle_date = moment(reports.var.paymentauditDatePicker.datepicker("getDate")).format('YYYY-MM-DD');
                            if (oracle_date.length > 0) { 
                                    $('#LoadingPopup').modal('show');
                                    var report_url = reports.var.queue_report_job_url+"?system="+reports.var.system_id+"&job_date="+oracle_date+"&job_type=audit_report";
                                    $.ajax({
                                      url: report_url,
                                      method: 'GET',
                                      dataType: 'json',
                                      contentType: 'application/json',
                                      // data: "{}",
                                      success: function (response) {
                                            setTimeout("$('#LoadingPopup').modal('hide')",800);
                                            if (response['data']['status'] == 200) {
                                                   setTimeout("$('#SuccessPopupBox').modal('show')",1000);
                                                   console.log(response['data']['message']);
                                            }
                                    },
                                    error: function (error) {
                                            setTimeout("$('#LoadingPopup').modal('hide');",600);
                                            setTimeout("$('#ErrorPopupBox').modal('show');",1000);
                                            console.log('Error running oracle job');
                                    },
                                });
                            }

                        },
                        QueueTimePaymentAuditReportJob: function() {
                            var oracle_date = moment(reports.var.timepaymentauditreportDatePicker.datepicker("getDate")).format('YYYY-MM-DD');
                            if (oracle_date.length > 0) { 
                                    $('#LoadingPopup').modal('show');
                                    var report_url = reports.var.queue_report_job_url+"?system="+reports.var.system_id+"&job_date="+oracle_date+"&job_type=timed_audit_report";
                                    $.ajax({
                                      url: report_url,
                                      method: 'GET',
                                      dataType: 'json',
                                      contentType: 'application/json',
                                      // data: "{}",
                                      success: function (response) {
                                            setTimeout("$('#LoadingPopup').modal('hide')",800);
                                            if (response['data']['status'] == 200) {
                                                   setTimeout("$('#SuccessPopupBox').modal('show')",1000);
                                                   console.log(response['data']['message']);
                                            }
                                    },
                                    error: function (error) {
                                            setTimeout("$('#LoadingPopup').modal('hide');",600);
                                            setTimeout("$('#ErrorPopupBox').modal('show');",1000);
                                            console.log('Error running oracle job');
                                    },
                                });
                            }

                        },
                        ItemisedTransactionReport: function() {

                            var settlement_date_from = moment(reports.var.itemisedtransreportDatePicker.datepicker("getDate")).format('DD/MM/YYYY');
                            var settlement_date_to = moment(reports.var.itemisedtransreportToDatePicker.datepicker("getDate")).format('DD/MM/YYYY');
                            var report_url = reports.var.itemised_transactions_url+"?system="+reports.var.system_id+"&settlement_date_from="+settlement_date_from+"&settlement_date_to="+settlement_date_to;
                            

                            fetch(report_url)
                                .then(resp => { 

                                    if (resp.status != 200) {
                                      
                                        return resp.text() ;
                                      
                                    }
                                    return resp.blob();
                                }
                                
                                )
                                .then(blob => {                                                                    
                                   
                                    if (typeof blob == 'string') {
                                        return Promise.reject(blob);
                                    }
                                    const url = window.URL.createObjectURL(blob);
                                    const a = document.createElement('a');
                                    a.style.display = 'none';
                                    a.href = url;
                                    // the filename you want
                                    a.download = 'itemised_transaction_report_'+moment(reports.var.itemisedtransreportDatePicker.datepicker("getDate")).format('DD-MM-YYYY')+'-'+moment(reports.var.itemisedtransreportToDatePicker.datepicker("getDate")).format('DD-MM-YYYY')+'.csv';
                                    document.body.appendChild(a);
                                    a.click();
                                    window.URL.revokeObjectURL(url);
                                    alert('File downloaded successfully!');

                            })
                            .catch(err => { 
                                alert('ERROR: '+err)
                             
                            });
                            // window.location.assign(report_url);                            
                            
                        }                        
                        
                        
                        


	              }
reports.init();

</script>

<style lang="css">
</style>
{% else %}
<div class="alert alert-danger" role="alert">System ID does not exist</div>

{% endif %}

{% else %}
<div class="well"><h4>Permission denied</h4></div>

{% endif %}
{% endblock %}
