{% extends 'wl/base.html' %}

{% load static %}

{% load bootstrap3 %}

{% load jsonify %}

{% block extra_css %}
    <link href="//static.dpaw.wa.gov.au/static/libs/select2/3.5.3/select2.min.css" rel="stylesheet"/>
    <link href="//static.dpaw.wa.gov.au/static/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.css"
          rel="stylesheet"/>
    <link href="{% static 'wl/css/application.css' %}" rel="stylesheet"/>
{% endblock %}

{% block requirements %}
    require(['js/process/process_app'], function (app) {
        $(function () {
            data = {{ data|jsonify }};
            app.initialiseApplicationProcesssing(data);
            $('#mainContainer').removeClass('hidden');
            //app.initialiseSidePanelAffix();
        });
    });
{% endblock %}

{% block breadcrumbs %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb wl-breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'dashboard:tables_applications_officer' %}">Applications</a></li>
                    <li class="active">Process Application</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="mainContainer" class="container hidden">
        <div class="row">
            <div class="col-md-12">
                <h2>Process Application</h2>
                <h3>{{ data.application.licence_type.name }}</h3>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div id=sidebarPanels class="bottom-buffer">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Application Overview
                                    <a data-toggle="collapse" href="#applicationOverviewBody" class="pull-right">
                                        <span class="glyphicon"></span>
                                    </a>
                                </div>
                                <div id="applicationOverviewBody" class="panel-body panel-collapse in">
                                    <label>Applicant</label>
                                    {% with applicant=data.application.applicant_profile %}
                                        <p>
                                            {{ applicant.user.first_name }} {{ applicant.user.last_name }}
                                            <span class="pull-right">
                                                {% if applicant.user.identification %}
                                                    <a data-toggle="modal" data-target="#idModal">
                                                        Show ID
                                                    </a>
                                                {% else %}
                                                    ID Unavailable
                                                {% endif %}
                                            </span>
                                        <p>{{ applicant.postal_address.search_text }}</p>
                                    {% endwith %}
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label>Lodged on</label>
                                            <p>{{ data.application.lodgement_date|date:'d/m/Y' }}</p>
                                        </div>
                                        <div class="col-md-7">
                                            <label>Status</label>
                                            <p id="processingStatus">{{ data.application.processing_status }}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Currently assigned to</label>
                                        <input type="hidden" id="assignee" class="form-control">
                                        <a id="assignToMe" class="pull-right">Assign to me</a>
                                    </div>
                                    <div class="form-group" id="application-log-group">
                                        <div><label>Communication log</label></div>
                                        <a id="showLog" class="pull-left" role="button">Show log</a>
                                        <a id="addLogEntry" class="pull-right">Add log entry</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Application Lodgements
                                    <a data-toggle="collapse" href="#lodgedVersionsBody" class="pull-right">
                                        <span class="glyphicon"></span>
                                    </a>
                                </div>
                                <div id="lodgedVersionsBody" class="panel-body panel-collapse in">
                                    <table id="lodgedVersions" class="table small-table">
                                        <thead>
                                            <tr>
                                                <th>Lodge No.</th>
                                                <th>Date</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if data.application.previous_application %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Previous Licence
                                        <a data-toggle="collapse" href="#previousApplicationBody" class="pull-right">
                                            <span class="glyphicon"></span>
                                        </a>
                                    </div>
                                    <div id="previousApplicationBody" class="panel-body panel-collapse in">
                                        <div>
                                            <label>Application</label>
                                            <table id="previousApplication" class="table small-table">
                                                <thead>
                                                    <tr>
                                                        <th>Lodge No.</th>
                                                        <th>Date</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div>
                                            <label>Returns</label>
                                            {% if data.returns_outstanding %}
                                                <p>Returns outstanding.</p>
                                                <p><a href="{% url 'dashboard:tables_returns_officer' %}" target="_blank">View Returns List</a></p>
                                            {% else %}
                                                <p>No returns outstanding.</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Processing Checklist
                                    <a data-toggle="collapse" href="#processingChecklistBody" class="pull-right">
                                        <span class="glyphicon"></span>
                                    </a>
                                </div>
                                <div id="processingChecklistBody" class="panel-body panel-collapse in">
                                    <div id="idCheck" class="processing-action-group">
                                        <div>
                                            <label>ID Check</label>
                                            <span class="pull-right status">{{ data.application.id_check_status }}</span>
                                            <span class="done pull-right hidden">
                                                <a>Reset</a>
                                                <span class="glyphicon glyphicon-ok ok-tick"></span>
                                            </span>
                                        </div>
                                        <div class="action-buttons-group">
                                            <button type="button" class="btn btn-xs btn-success">Accept</button>
                                            <button type="button" class="btn btn-xs btn-warning">Request Update</button>
                                        </div>
                                        <hr>
                                    </div>
                                    <div id="returnsCheck" class="processing-action-group">
                                        <div>
                                            <label>Returns Check</label>
                                            <span class="pull-right status">{{ data.application.returns_check_status }}</span>
                                            <span class="done pull-right hidden">
                                                <a>Reset</a>
                                                <span class="glyphicon glyphicon-ok ok-tick"></span>
                                            </span>
                                        </div>
                                        <div class="action-buttons-group">
                                            <button type="button" class="btn btn-xs btn-success">Accept</button>
                                            <button type="button" class="btn btn-xs btn-warning">Request Return Completion</button>
                                        </div>
                                        <hr>
                                    </div>
                                    <div id="characterCheck" class="processing-action-group">
                                        <div>
                                            <label>Character Check</label>
                                            <span class="pull-right status">{{ data.application.character_check_status }}</span>
                                            <span class="done pull-right hidden">
                                                <a>Reset</a>
                                                <span class="glyphicon glyphicon-ok ok-tick"></span>
                                            </span>
                                        </div>
                                        <div class="action-buttons-group">
                                            <button type="button" class="btn btn-xs btn-success">Accept</button>
                                        </div>
                                        <a id="showCharacterChecklist" class="small-text" data-toggle="popover"
                                           data-placement="right" title="Character Checklist">
                                            Character Checklist
                                        </a>
                                        {% if data.application.applicant_profile.user.character_flagged %}
                                            <a id="dodgyUser" class="pull-right" data-toggle="tooltip"
                                               data-placement="right"
                                               title="User has previously been flagged as having questionalbe character. {{ data.application.applicant_profile.user.character_comments }}">
                                                <span class="glyphicon glyphicon-user"></span>
                                            </a>
                                        {% endif %}
                                    </div>
                                    <hr>
                                    <div id="review" class="processing-action-group">
                                        <div>
                                            <label>Review</label>
                                            <span class="pull-right status">{{ data.application.review_status }}</span>
                                            <span class="done pull-right hidden">
                                                <a>Reset</a>
                                                <span class="glyphicon glyphicon-ok ok-tick"></span>
                                            </span>
                                        </div>
                                        <div class="action-buttons-group">
                                            <button type="button" class="btn btn-xs btn-success">Accept</button>
                                            <button type="button" class="btn btn-xs btn-warning">Request Amendments</button>
                                        </div>
                                        <a id="showAmendmentRequests" class="hidden small-text" data-toggle="popover"
                                           data-placement="right" title="Amendment Requests">
                                            View all amendment requests
                                        </a>
                                    </div>
                                    <hr>
                                    <div class="processing-action-group">
                                        <div>
                                            <label>Assessment</label>
                                            <span class="glyphicon glyphicon-ok pull-right ok-tick hidden"></span>
                                        </div>
                                        <div>
                                            <div class="form-group">
                                                Select Group
                                                <input type="hidden" id="assessor" class="form-control"/>
                                            </div>
                                            <div style="text-align:right">
                                                <button type="button" id="sendForAssessment"
                                                        class="btn btn-xs btn-primary" disabled>
                                                    Send
                                                </button>
                                            </div>
                                        </div>
                                        <div class="hidden">
                                            Current Assessments
                                            <table id="currentAssessments" class="table small-table no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>Assessor</th>
                                                        <th style="text-align: center">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form method="post" action="{% url 'applications:process' data.application.id %}">
                                {% csrf_token %}
                                <button id="approve" type="submit" name="enterConditions" type="button"
                                        class="btn btn-sm btn-success pull-right" disabled>Enter Conditions
                                </button>
                                <button id="decline" type="submit" name="decline" type="button"
                                        class="btn btn-sm btn-danger">Decline Application
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="previewContainer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block modals %}
        {% with user=data.application.applicant_profile.user %}
            {% if user.identification %}
                <div class="modal fade" id="idModal" tabindex="-1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                <h4 class="modal-title">Identification for {{ user.first_name }}
                                    {{ user.last_name }}</h4>
                            </div>
                            <div class="modal-body center">
                                {% if user.identification.file.url|slice:'-3:' == 'pdf' %}
                                    <a href="{{ user.identification.file.url }}" target="_blank">
                                        <img src="{% static 'wl/img/pdf.png' %}"></img>
                                        <p>View PDF</p>
                                    </a>
                                {% else %}
                                    <a href="{{ user.identification.file.url }}" target="_blank">
                                        <img width="100%" src="{{ user.identification.file.url }}"/>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endwith %}
        <div class="modal fade" id="requestIDUpdateModal" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                        <h4 class="modal-title">Request Photo Identification Upload</h4>
                    </div>
                    <form id="idRequestForm" method="post" action="{% url 'applications:id_request' %}">
                        {% csrf_token %}
                        <div class="modal-body">
                            {% bootstrap_form id_request_form %}
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default">Send Request</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="requestReturnsModal" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                        <h4 class="modal-title">Request Return Completion</h4>
                    </div>
                    <form id="returnsRequestForm" method="post" action="{% url 'applications:returns_request' %}">
                        {% csrf_token %}
                        <div class="modal-body">
                            {% bootstrap_form returns_request_form %}
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default">Send Request</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="requestAmendmentModal" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                        <h4 class="modal-title">Request Amendments to Application</h4>
                    </div>
                    <form id="amendmentRequestForm" method="post" action="{% url 'applications:amendment_request' %}">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="modal-body">
                                {% bootstrap_form amendment_request_form %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default">Send Request</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% if application_log_entry_form %}
            <div class="modal fade" id="logEntryModal" tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                            <h4 class="modal-title">Add log entry to application</h4>
                        </div>
                        <form id="addLogEntryForm" method="post"
                              action="{% url 'applications:add_log_entry' data.application.id %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="modal-body">
                                    {% bootstrap_form application_log_entry_form %}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-default">Add Entry</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}