{% load bootstrap3 %}

{% load static %}

{% load users %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
            {% bootstrap_css %}
                <link type="text/css" href="{% static 'ps/css/base.css' %}" rel="stylesheet">
            {% block extra_css %}
            {% endblock %}
            {% block extra_js %}
            {% endblock %}
            <title>
                {% block title %}
                    Parkstay - Department of Parks and Wildlife
                {% endblock %}
            </title>

        </meta>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        <script src="//static.dpaw.wa.gov.au/static/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript" src="http://static.dpaw.wa.gov.au/static/cdnjs/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
        {% block custom_js %}
        {% endblock %}
    </body>
</html>
