{%  extends 'disturbance/emails/base_email.html' %}

{%  block content %}
	The Proposal {{ proposal.lodgement_number }} has been assessed and has been recommended for approval. 
    
    
    <p>
    Title: {{proposal.title}}<br>
    Activity: {{proposal.activity}}<br>
    Region: {{proposal.region}}<br>
    {% if proposal.district %}
        District:{{proposal.district}}
    {% else %}
        District: -
    {% endif %}
    </p>

    {% if proposal.proposed_issuance_approval %}
        <p>
        	<span>Approved: </span>
        </p>
        <p>Start date: {{ start_date }}</p>
        <p>Expiry date: {{ expiry_date }}</p>
        <p>Details: {{ details }}</p>
    {% endif %}

    <p>
    You can access this Proposal using the following link:
    </p>
    <a href="{{url}}">Access Proposal</a>


{%  endblock %}
