{% extends 'base.html' %}

{% load static %}

{% load bootstrap3 %}

{% load jsonify %}

{% block extra_css %}
    <link href="{% static 'css/application_preview.css' %}" rel="stylesheet"/>
{% endblock %}

{% block requirements %}
    require(['js/application_preview'], function(application_preview) {
        application_preview('#mainContainer', {{ structure|jsonify }}, '{{ csrf_token }}');
    });
{% endblock %}

{% block content %}
    <div id="mainContainer" class="container" />
{% endblock %}
