{% extends 'base.html' %}

{% load static %}

{% load bootstrap3 %}

{% load jsonify %}

{% block extra_css %}
    <link href="{% static 'css/application.css' %}" rel="stylesheet"/>
{% endblock %}

{% block requirements %}
    require(['js/application'], function(application) {
        application('#mainContainer', {{ structure|jsonify }}, '{% url 'applications:application_preview' application_type %}', '{{ csrf_token }}');
    });
{% endblock %}

{% block content %}
    <div id="mainContainer" class="container" />
{% endblock %}