<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/ledger/account-management/{{ account_id }}/change/">Account Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/ledger/account-management/{{ account_id }}/change/residential-address/">Residential Address</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/ledger/account-management/{{ account_id }}/change/postal-address/">Postal Address</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/ledger/account-management/{{ account_id }}/change-log/">Change Log</a>
    </li>
</ul>