{% if field.type == 'text' %}
    <input class="form-control" type="{{ field.type }}" name="{{ field.name }}" value="{{ field.data }}" {% if field.readonly %}disabled{% endif %}></input>
{% elif field.type == 'text_area' %}
    <textarea rows="3" class="form-control" type="{{ field.type }}" name="{{ field.name }}" {% if field.readonly %}disabled{% endif %}>{{ field.data }}</textarea>
{% elif field.type == 'number' %}
    <input class="form-control" type="{{ field.type }}" name="{{ field.name }}" value="{{ field.data }}" {% if field.readonly %}disabled{% endif %}></input>
{% elif field.type == 'date' %}
    <input id="{{ field.name }}{{ group_index }}_date" class="form-control" name="{{ field.name }}" value="{{ field.data }}" {% if field.readonly %}disabled{% endif %}></input>
{% elif field.type == 'species' %}
    <input name="{{ field.name }}" class="form-control species" autocomplete="off" data-species-type="{{ field.speciesType }}" value="{{ field.data }}"  {% if field.readonly %}disabled{% endif %}/>
{% elif field.type == 'label' %}
    {% for option in field.options %}
        <div>
            {% if group_index %}
                <input id="{{ option.name }}{{ group_index }}Hidden" name="{{ option.name }}" type="hidden" value="off" {% if field.readonly %}disabled{% endif %}>
            {% endif %}
            <input name="{{ option.name }}" {% if group_index %} id="{{ option.name }}{{ group_index }}" class="extracted-checkbox"{% endif %}
                type="checkbox" {% if option.data == 'on' %}checked{% endif %} {% if field.readonly %}disabled{% endif %}>
            {{ option.label }}
        </div>
    {% endfor %}
{% elif field.type == 'radiobuttons' %}
    {% for option in field.options %}
        <div class="radio">
            <label>
                <input name="{{ field.name }}" type="radio" value="{{ option.value}}" {% if option.value == field.data %}checked{% endif %} {% if field.readonly %}disabled{% endif %}>
                {{ option.label }}
            </label>
        </div>
    {% endfor %}
{% elif field.type == 'select' %}
    <select name="{{ field.name}}" class="form-control" {% if field.readonly %}disabled{% endif %}>
        {% if field.defaultBlank %}
            <option disabled {% if not field.data %}selected{% endif %}>Please Choose</option>
        {% endif %}
        {% for option in field.options %}
            <option class="form-control" value="{{ option.value}}" {% if option.value == field.data %}selected{% endif %}>{{ option.label }}</option>
        {% endfor %}
    </select>
{% endif %}