{% extends 'wl/applications_base.html' %}

{% load static %}

{% load bootstrap3 %}

{% load jsonify %}

{% load application_filters %}

{% block extra_css %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.3/select2.min.css" rel="stylesheet"/>
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css"
          rel="stylesheet"/>
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet"/>
    {{ block.super }}
{% endblock %}

{% block requirements %}
    require([
        'js/issue/issue_licence',
        'js/logs'
    ],
    function(issueLicence, logs) {
        issueLicence.initialise();
        logs.initCommunicationLog({
            logListURL: "{% url 'wl_applications:log_list' application.id %}",
            addLogEntryURL: "{% url 'wl_applications:add_log_entry' application.id %}"
        });
        logs.initActionLog({
            logListURL: "{% url 'wl_applications:action_list' application.id %}",
        });
    });
{% endblock %}

{% block breadcrumbs %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb wl-breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'wl_dashboard:tables_applications_officer' %}">Applications</a></li>
                    <li><a href="{% url 'wl_applications:process' application.id %}">Process Application</a></li>
                    <li><a href="{% url 'wl_applications:enter_conditions' application.id %}">Enter Conditions</a></li>
                    {% if application.licence and application.licence.licence_number %}
                        <li class="active">Reissue Licence</li>
                    {% else %}
                        <li class="active">Issue Licence</li>
                    {% endif %}
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block messages %}
{% endblock %}

{% block intro_title %}
    {% if application.licence and application.licence.licence_number %}
        <h3>Reissue Licence</h3>
    {% else %}
        <h3>Issue Licence</h3>
    {% endif %}
{% endblock %}
{% block intro_subtitle %}
    <h4 class="inline">
        {{ application.licence_type.name }}
    </h4> 
{% endblock %}

{% block content %}
    <div class="container bottom-buffer">
        <div class="row">
            <div class="col-md-12">
                {% for message in messages %}
                    <div class="{{ message|bootstrap_message_classes }} alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&#215;</button>
                        {{ message|safe }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Application Overview
                                <a data-toggle="collapse" href="#applicationOverviewBody" class="pull-right">
                                    <span class="glyphicon"></span>
                                </a>
                            </div>
                            <div id="applicationOverviewBody" class="panel-body panel-collapse in">
                                <label>Applicant</label>
                                {% with applicant=application.applicant_profile %}
                                    <p>
                                        {{ applicant.user.first_name }} {{ applicant.user.last_name }}
                                    </p>
                                    <div>{{ applicant.postal_address.search_text }}</div>
                                    <div class="applicant-contact">
                                        <div>
                                            <span class="fa fa-envelope"></span>
                                            <span class="email"> {{ applicant.email }}</span>
                                        </div>
                                        {% if applicant.user.phone_number %}
                                            <div>
                                                <span class="fa fa-phone phone"></span> {{ applicant.user.phone_number }}
                                            </div>
                                        {% endif %}
                                        {% if applicant.user.mobile_number %}
                                            <div>
                                                <span class="fa fa-mobile mobile"></span> {{ applicant.user.mobile_number }}
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endwith %}
                                <div class="row">
                                    <div class="col-md-5">
                                        <label>Lodged on</label>
                                        <p>{{ application.lodgement_date|date:'d/m/Y' }}</p>
                                    </div>
                                    <div class="col-md-7">
                                        <label>Status</label>
                                        <p>{{ application.processing_status }}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Currently assigned to</label>
                                    <p>
                                        {% if application.assigned_officer %} 
                                            {{ application.assigned_officer.first_name }} {{ application.assigned_officer.last_name }}
                                        {% else %}
                                            Unassigned
                                        {% endif %}
                                    </p>
                                </div>
                                <label>Payment Status</label>
                                <p class="no-margin">
                                    {{ payment_status }}
                                    {% if payment_status == 'Awaiting Payment' %}
                                        <a href="{% url 'wl_payments:manual_payment' application.id %}?redirect_url={{ request.build_absolute_uri }}"
                                            class="pull-right">Enter Payment</a>
                                    {% endif %}
                                </p>
                             </div>
                        </div>
                    </div>
                </div>
                {% include 'wl/logs_panel.html' %}
                <a class="btn btn-sm btn-default" href="{% url 'wl_applications:enter_conditions' application.id %}" role="button">Conditions</a>
                {% if payment_status == 'Credit Card Ready' %}
                    <button id="save" name="save" type="button" class="btn btn-sm btn-info left-buffer-m">Save</button>
                {% else %}
                    <button id="save" name="save" type="button" class="btn btn-sm btn-info left-buffer-xxxl">Save</button>
                {% endif %}
                {% if payment_status == 'Awaiting Payment' %}
                    <button id="issue" name="issue" type="button" class="btn btn-sm btn-success pull-right disabled"
                            data-title="Payment must be received before licence can be issued">
                        Issue
                    </button>
                {% else %}
                    <button id="issue" name="issue" type="button" class="btn btn-sm btn-success pull-right">
                        {% if application.licence and application.licence.licence_number %}
                            Reissue
                        {% else %}
                            {% if payment_status == 'Credit Card Ready' %}
                                Charge & Issue
                            {% else %}
                                Issue
                            {% endif %}
                        {% endif %}
                    </button>
                {% endif %}
                <a href="{% url 'wl_applications:preview_licence' application.id %}" id="previewLicence" class="top-buffer pull-right" target="_blank">
                    Preview Licence PDF <img height="20px" src="{% static 'wl/img/pdf.png' %}">
                </a>
            </div>
            <div class="col-md-9">
                <form method="post" id="issueLicenceForm" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if extracted_fields %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">Editable application fields (will appear on licence)</h4>
                            </div>
                            <div class="panel-body">
                                {% for item in extracted_fields %}
                                    {% if not item.children %}
                                        <div class="form-group">
                                            <label class="control-label" for="id_{{ item.name }}">{{ item.label }}</label>
                                            {% include 'wl/issue/extracted_field.html' with field=item %}
                                            {% if item.help_text %}
                                                <p class="help-block">{{ item.help_text }}</p>
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <label class="control-label" for="id_{{ item.name }}">{{ item.label }}</label>
                                        {% if item.help_text %}
                                            <p class="help-block">{{ item.help_text }}</p>
                                        {% endif %}
                                        {% for item_group in item.children %}
                                            <div class="row">
                                                {% with width=item_group|length|derive_col_width %}
                                                    {% for child_item in item_group %}
                                                        <div class="col-md-{{ width }}">
                                                            <div class="form-group">
                                                                {% if forloop.parentloop.first %}
                                                                    <label class="control-label">{{ child_item.label }}</label>
                                                                {% endif %}
                                                                {% include 'wl/issue/extracted_field.html' with field=child_item group_index=forloop.parentloop.counter %}
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                {% endwith %}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% bootstrap_form issue_licence_form %}
                    <a href="#" id="add_attachment" class="top-buffer">Add attachment</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    {% include 'wl/logs_comm_entry_modal.html' %}
{% endblock %}
