{% if licence_field.type == 'text' %}
    <input class="form-control" type="{{ licence_field.type }}" name="{{ licence_field.name }}" value="{{ licence_field.data }}"></input>
{% elif licence_field.type == 'text_area' %}
    <textarea rows="3" class="form-control" type="{{ licence_field.type }}" name="{{ licence_field.name }}" value="{{ licence_field.data }}"></textarea>
{% elif licence_field.type == 'number' %}
    <input class="form-control" type="{{ licence_field.type }}" name="{{ licence_field.name }}" value="{{ licence_field.data }}"></input>
{% elif licence_field.type == 'date' %}
    <input class="form-control" name="{{ licence_field.name }}" value="{{ licence_field.data }}"></input>
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
{% elif licence_field.type == 'checkbox' %}
    <input name="{{name}}" type="checkbox"> {{ licence_field.label }}
{% elif licence_field.type == 'radiobuttons' %}
    {% for option in licence_field.options %}
        <div class="radio">
            <label>
                <input name="{{ licence_field.name }}" type="radio" value="{{ licence_field.data }}" {% if option.value == licence_field.data %}checked{% endif %}>
                {{ option.label }}
            </label>
        </div>
    {% endfor %}
{% elif licence_field.type == 'select' %}
    <select name="{{ licence_field.name}}" class="form-control">
        {% if licence_field.defaultBlank %}
            <option disabled selected value=" ">Please Choose</option>
        {% endif %}
        {% for option in licence_field.options %}
            <option value="{{ licence_field.data }}" class="form-control" {% if option.value == licence_field.data %}selected{% endif %}>{{ option.label }}</option>
        {% endfor %}
    </select>
{% elif licence_field.type == 'species' %}
    <input name="{{ licence_field.name }}" class="form-control species" autocomplete="off" data-species-type="{{ licence_field.speciesType }}" value="{{ licence_field.data }}"/>
{% endif %}