{% extends 'mooring/base.html' %}
{% load static %}
{% load forms %}
{% block content %}
    <div class="container">
        <div class="well">
            <div class="row"><div class="col-sm-12">
                <h2>Success!</h2>
                <p>A confirmation email has been sent to {{ admissionsBooking.customer.email }}. </p>
                <p>Please click <a href="{% url 'admissions' %}">here</a> if you want to pay further admission fees.</p>
                <p>Please click <a href="{% url 'map' %}">here</a> if you want to make a mooring booking.</p>
            </div></div>
        </div>
        {% include "mooring/admissions/booking_view.html" %}
    </div>
{% endblock %}
