<div class="well">
    <div class="row"><div class="col-sm-12">
        <h3 class="text-primary">Rottnest Island Admission Fee Payment</h3>
    </div></div>
    <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-5">
                    <b>Admission date:</b>
                </div>
                <div class="col-sm-7">
                        {{ arrival }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <b>Admission fee confirmation number:</b>
                </div>
                <div class="col-sm-7">
                    AD{{ admissionsBooking.id }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <b>Date paid:</b>
                </div>
                <div class="col-sm-7">
                    {{ admissionsBooking.created }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <b>Overnight Stay: </b>
                </div>
                <div class="col-sm-7">
                    {% if overnight %}
                        {% if "See Booking PS" in overnight %}
                            {{ overnight }}
                        {% else %}
                            Yes
                        {% endif %}
                    {% else %}
                        No
                    {% endif %}
                </div>
            </div>
            {% if admissionsBooking.noOfAdults > 0 %}
            <div class="row">
                <div class="col-sm-5">
                    <b>Adults:</b>
                </div>
                <div class="col-sm-7">
                    {{ admissionsBooking.noOfAdults}}
                </div>
            </div>
            {% endif %}
            {% if admissionsBooking.noOfChildren > 0 %}
            <div class="row">
                <div class="col-sm-5">
                    <b>Children:</b>
                </div>
                <div class="col-sm-7">
                    {{ admissionsBooking.noOfChildren }}
                </div>
            </div>
            {% endif %}
            {% if admissionsBooking.noOfInfants > 0 %}
            <div class="row">
                <div class="col-sm-5">
                    <b>Infants:</b>
                </div>
                <div class="col-sm-7">
                    {{ admissionsBooking.noOfInfants }}
                </div>
            </div>
            {% endif %}
            <div class="row"><div class="col-sm-12" style="margin-top: 1em">
                {% if request.user == admissionsBooking.customer or request.user.is_staff or request.session.ad_last_booking == admissionsBooking.id%}
                    <a href="{% url 'get_admissions_confirmation' admissionsBooking.id %}" class="btn btn-info btn-lg" >Confirmation</a>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'mooring-invoice-pdf' admissionsInvoice %}" class="btn btn-info btn-lg" >Invoice</a></p>
                    {% else %}
                        <a href="{% url 'home' %}" class="btn btn-info btn-lg">Log in</a><p>You must be logged in to see your invoice online.</p>
                    {% endif %}
                {% else %}
                    <p style="font-size: 1.5rem; font-weight: bold;">You do not have permission to access the confirmation or invoice for this booking.<br>Please check your email or contact RIA directly.</p>
                {% endif %}
                <p style="font-size: 1.5rem; font-weight: bold;">You must bring your printed confirmation with you to the island.</p>
            </div></div>
        </div>
    </div>
</div>

