{% extends 'wl/base.html' %}

{% load static %}

{% load bootstrap3 %}

{% load dict_helpers %}

{% block extra_css %}
    <link rel="stylesheet"
          href="//static.dpaw.wa.gov.au/static/libs/datatables/1.10.10/css/dataTables.bootstrap.css">
    <link href="//static.dpaw.wa.gov.au/static/libs/select2/3.5.3/select2.min.css" rel="stylesheet"/>
    <link href="//static.dpaw.wa.gov.au/static/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.css"
          rel="stylesheet"/>
{% endblock %}

{% block requirements %}
    require(["{% static 'wl/js/return_table.js' %}"], function (returnTable) {
    returnTable.initTables();
    });
{% endblock %}

{% block breadcrumbs %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb wl-breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="active">Curate Return</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Curate Return</h2>
                <h3>{{ return.licence.licence_type.name }}</h3>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Return Overview
                                <a data-toggle="collapse" href="#applicationOverviewBody" class="pull-right">
                                    <span class="glyphicon"></span>
                                </a>
                            </div>
                            <div id="applicationOverviewBody" class="panel-body panel-collapse in">
                                <label>Customer</label>
                                {% with customer=return.licence.holder %}
                                    <p>
                                        {{ customer.first_name }} {{ customer.last_name }}
                                    </p>
                                {% endwith %}
                                <div class="row">
                                    <div class="col-md-7">
                                        <label>Lodgement No.</label>
                                        <p>{{ return.lodgement_number }}</p>
                                    </div>
                                    <div class="col-md-5">
                                        <label>Lodged on</label>
                                        <p>{{ return.lodgement_date|date:'d/m/Y' }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Status</label>
                                        <p>{{ return.status }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="conclude" type="button" class="btn btn-sm btn-success pull-right">Conclude Curation</button>
            </div>
            <div class="col-md-9">
                <form method="POST">
                    {% csrf_token %}
                    {% for table in tables %}
                        <div class="row bottom-buffer">
                            <div class="col-md-12">
                                <h3 class="no-margin">{{ table.name }}</h3>
                                <table class="return-table table table-striped table-bordered dataTable">
                                    <thead>
                                        <tr>
                                            {% for header in table.headers %}
                                                <th>{{ header }}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in table.data %}
                                            <tr>
                                                {% for header in table.headers %}
                                                    {% with value=row|get_item:header|get_item:'value' error=row|get_item:header|get_item:'error' %}
                                                        <td>
                                                            <input name="{{ table.name }}::{{ header }}"
                                                                   value="{{ value }}"/>
                                                            {% if error %}
                                                                <div><span class="text-danger">{{ error }}</span></div>
                                                            {% endif %}
                                                        </td>
                                                    {% endwith %}
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}