{% extends 'wl/returns_base.html' %}

{% load static %}

{% load bootstrap3 %}

{% load users %}

{% load dict_helpers %}

{% block extra_css %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/datatables/1.10.10/css/dataTables.bootstrap.min.css"
          rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.3/select2.min.css" rel="stylesheet"/>
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css"
          rel="stylesheet"/>
{% endblock %}

{% block requirements %}
    require(["{% static 'wl/js/return_table.js' %}"], function (returnTable) {
        returnTable.initTables();

        // disable form submit by 'enter' key
        $(document).on("keypress", ":input:not(textarea)", function(event) {
            if (event.keyCode == 13) {
                event.preventDefault();
            }
        });
    });
{% endblock %}

{% block breadcrumbs %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb wl-breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    {% if request.user|is_officer %}
                        <li><a href="{% url 'wl_dashboard:tables_returns_officer' %}">Returns</a></li>
                    {% endif %}
                    <li class="active">Enter Return Data</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block intro_title %}
    <h3>Enter Return</h3>
{% endblock %}
{% block intro_subtitle %}
    <h4 class="inline">
        {{ return.licence.licence_type.name }}
    </h4> 
    {% if request.user|is_officer %}
        <h4 class="pull-right">Customer: {{ return.licence.holder.get_full_name }}</h4>
    {% endif %}
{% endblock %}
{% block intro_text %}
    <p>
        Please enter the return data for the relevant period, as specified in your licence conditions. The 
        data can be entered directly in the table below or uploaded using the appropriate Excel 
        spreadsheet template. This template can be downloaded from the highlighted link below. When 
        you then upload a completed Excel template, this will pre-fill the corresponding tables.
    </p>
    <p>
        When finished, click "Lodge" to lodge the return.
    </p>
    <p>
        You can also choose to submit a Nil Return by clicking on the “Submit Nil Return” button at the bottom.
        In this case, you must provide the reason for a nil return.
    </p>
    <p>
        At any point you can save the return data as a draft by clicking the “Save Draft” button at the bottom-left,
        allowing you to complete the return at a later time.
    </p>
{% endblock %}

{% block content %}
    <div class="container bottom-buffer">
        {% if amendments %}
            <div class="row">
                <div class="col-sm-2 col-md-10 col-md-offset-2">
                    <div id="amendments-panel">
                        <h4>
                            <span class="icon glyphicon glyphicon-alert text-warning"></span>
                            <label>Your return requires the following amendment(s) before approval:</label>
                        </h4>
                        {%  for amendment in amendments %}
                            <div class="alert alert-warning">
                                {{ amendment.reason|safe }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        <h4>Standard Return</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form upload_spreadsheet_form %}
                    <a href="{% url 'wl_returns:download_return_template' return.return_type.id %}" class="pull-left"
                       name="upload">Download Template</a>
                    <button type="submit" class="btn btn-primary pull-right" name="upload">Upload File</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form method="POST">
                    {% csrf_token %}
                    {% for table in tables %}
                        <div class="row top-buffer">
                            <div class="col-md-12">
                                <div class="horizontal-scroll bottom-buffer">
                                    <table class="return-table table table-striped table-bordered dataTable">
                                        <thead>
                                            <tr>
                                                {% for header in table.headers %}
                                                    <th>{{ header.title }}{% if header.required %} *{% endif %}</th>
                                                {% endfor %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if table.data %}
                                                {% for row in table.data %}
                                                    <tr>
                                                        {% for header in table.headers %}
                                                            {% with value=row|get_item:header.title|get_item:'value' error=row|get_item:header.title|get_item:'error' %}
                                                                <td>
                                                                    <input name="{{ table.name }}::{{ header.title }}"
                                                                           value="{{ value|default_if_none:"" }}"
                                                                           {%  if header.species %}
                                                                               data-species="{{ header.species }}"
                                                                           {% endif %}
                                                                    />
                                                                    {% if error %}
                                                                        <div><span class="text-danger">{{ error }}</span></div>
                                                                    {% endif %}
                                                                </td>
                                                            {% endwith %}
                                                        {% endfor %}
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                {% for i in '01234' %}
                                                    <tr>
                                                        {% for header in table.headers %}
                                                            <td>
                                                                <input name="{{ table.name }}::{{ header.title }}"
                                                                       {%  if header.species %}
                                                                           data-species="{{ header.species }}"
                                                                       {% endif %}
                                                                />
                                                            </td>
                                                        {% endfor %}
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                                <a class="add-return-row">Add Row</a>
                            </div>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary pull-right" name="lodge">Lodge</button>
                    <button type="submit" class="btn btn-info pull-right" style="margin-right: 20px;" name="draft_continue">Save
                        Draft and Continue Editing
                    </button>
                    <button type="submit" class="btn btn-info pull-right" style="margin-right: 20px;" name="draft">Save Draft
                    </button>
                </form>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <h4>Nil Return</h4>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form nil_return_form %}
                    <button type="submit" class="btn btn-primary pull-right" name="nil">Submit Nil Return</button>
                </form>
        </div>
        </div>
    </div>
{% endblock %}
