{% extends 'wl/base.html' %}

{% load static %}

{% load bootstrap3 %}

{% load dict_helpers %}

{% block extra_css %}
    <link rel="stylesheet"
          href="//static.dpaw.wa.gov.au/static/libs/datatables/1.10.10/css/dataTables.bootstrap.css">
    <link href="//static.dpaw.wa.gov.au/static/libs/select2/3.5.3/select2.min.css" rel="stylesheet"/>
    <link href="//static.dpaw.wa.gov.au/static/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.css"
          rel="stylesheet"/>
{% endblock %}

{% block requirements %}
    require(["{% static 'wl/js/return_table.js' %}"], function (returnTable) {
        returnTable.initTables();
    });
{% endblock %}

{% block breadcrumbs %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb wl-breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="active">Enter Return</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container bottom-buffer">
        <div class="row">
            <div class="col-md-12">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form upload_spreadsheet_form %}
                    <button type="submit" class="btn btn-primary pull-right" name="upload">Upload File</button>
                </form>
            </div>
        </div>
        <form method="POST">
            {% csrf_token %}
            {% for table in tables %}
                <div class="row top-buffer">
                    <div class="col-md-12">
                        <h3>{{ table.name }}</h3>
                        <table class="return-table table table-striped table-bordered dataTable">
                            <thead>
                                <tr>
                                    {% for header in table.headers %}
                                        <th>{{ header }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% if table.data %}
                                    {% for row in table.data %}
                                        <tr>
                                            {% for header in table.headers %}
                                                <td>
                                                    <input name="{{ table.name }}::{{ header }}" value="{{ row|get_item:header }}"></input>
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    {% for i in '01234' %}
                                        <tr>
                                            {% for header in table.headers %}
                                                <td>
                                                    <input name="{{ table.name }}::{{ header }}"></input>
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                        <a class="add-return-row">Add Row</a>
                    </div>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary pull-right" name="submit">Submit</button>
            <button type="submit" class="btn btn-info pull-right" style="margin-right: 20px;" name="draft_continue">Save Draft and Continue Editing</button>
            <button type="submit" class="btn btn-info pull-right" style="margin-right: 20px;" name="draft">Save Draft</button>
        </form>
    </div>
{% endblock %}