{% extends 'wl/returns_base.html' %}

{% load static %}

{% load bootstrap3 %}

{% load users %}

{% load dict_helpers %}

{% block extra_css %}
    <link rel="stylesheet"
          href="//static.dpaw.wa.gov.au/static/libs/datatables/1.10.10/css/dataTables.bootstrap.css">
    <link href="//static.dpaw.wa.gov.au/static/libs/select2/3.5.3/select2.min.css" rel="stylesheet"/>
    <link href="//static.dpaw.wa.gov.au/static/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.css"
          rel="stylesheet"/>
{% endblock %}

{% block requirements %}
    require(["{% static 'wl/js/return_table.js' %}"], function (returnTable) {
        returnTable.initTables();
    });
{% endblock %}

{% block breadcrumbs %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb wl-breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    {% if request.user|is_officer %}
                        <li><a href="{% url 'wl_dashboard:tables_returns_officer' %}">Returns</a></li>
                    {% endif %}
                    <li class="active">View Return (read-only)</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block intro_title %}
    <h3>View Return (read-only)</h3>
{% endblock %}
{% block intro_subtitle %}
    <h4 class="inline">
        {{ return.licence.licence_type.name }}
    </h4> 
    {% if request.user|is_officer %}
        <h4 class="pull-right">Customer: {{ return.licence.holder.get_full_name }}</h4>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container bottom-buffer">
        <div class="top-buffer">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="inline">View Return (read-only)</h3>
                </div>
            </div>
        </div>
        {% for table in tables %}
            <div class="row top-buffer">
                <div class="col-md-12 horizontal-scroll">
                    <table class="return-table table table-striped table-bordered dataTable">
                        <thead>
                            <tr>
                                {% for header in table.headers %}
                                    <th>{{ header }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in table.data %}
                                <tr>
                                    {% for header in table.headers %}
                                        <td>
                                            {{ row|get_item:header }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
        {% if return.comments %}
            <div id="comments" class="top-buffer">
                <label>Comments</label>
                <p>{{ return.comments }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}