<h3 id="applicant">Applicant</h3>
<hr>
<div class="children-anchor-point">
    <div class="form-group">
        <label>Select the applicant by typing the applicant's last name (or part there-of) and selecting from the list.</label>
        <input name="applicant" id="applicantInput" class="form-control">
    </div>
</div>