{% load bootstrap3 %}

{% load static %}

{% load users %}
{% load tagutils %}
{% get_instance_type as instance_type %}
{% is_internal as is_internal_login %}
{% is_officer as is_officer_login %}
{% is_wildlifecompliance_admin as is_wildlifecompliance_admin_login %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
            {% bootstrap_css %}
                <link type="text/css" href="{% static 'wildlifecompliance/css/base.css' %}" rel="stylesheet">
            {% if not dev %}
                <link rel="stylesheet" href="{% static 'wildlifecompliance_vue/static/css/app.css' %}">
            {% endif %}
            {% block extra_css %}
            {% endblock %}
            {% block extra_js %}
            {% endblock %}
            <title>
                {% block title %}
                    Wildlife Licensing System - Department of Parks and Wildlife
                {% endblock %}
            </title>

        </meta>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <header class="topmast">
            {% block header %}
                {% include 'wildlifecompliance/header.html' with instance_type=instance_type %}
            {% endblock %}
        </header>
        {% block menu %}
            <div class="container-fluid">
                <div class="row">
                    
                    {% if request.session.is_new %}
                        <nav class="navbar navbar-default hidden">
                    {% elif request.session.new_to_wildlifecompliance %}
                        <nav class="navbar navbar-default hidden">
                    {% else %}
                        <nav class="navbar navbar-default">
                    {% endif %}
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="{% url 'wc_home' %}"><div style="inline"><img src="{% static 'wl/img/dpaw_small.png' %}">Home</div></a>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    {% block left_menu_items %}
                                        {% if is_internal_login %}
                                            <li><a href="/internal/call_email">Call/Email</a></li>
                                            <li><a href="/internal/licences">Licences</a></li>
                                            <!--
                                            <li><a href="/internal/licences">Licences</a></li>
                                            <li><a href="/internal/returns">Returns</a></li>
                                            <li><a href="/internal/tag_purchases">Tag Purchases</a></li>
                                            <li><a href="/internal/advices">Advices to CEO</a></li>
                                            -->
                                            {% if is_officer_login %}
                                                <li><a href="/internal/organisations/access">Organisation Access Requests</a></li>
                                                <li><a href="/internal/search">Search</a></li>
                                            {% endif %}
                                        {% endif %}
                                    {% endblock %}
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    {% if request.user.is_authenticated %}
                                        <li>
                                            <a>
                                            Welcome
                                            <strong>
                                                {% if request.user.first_name %}
                                                    {{ request.user.get_short_name }}
                                                {% elif request.user.last_name %}
                                                    {{ request.user.last_name }}
                                                {% else %}
                                                    {{ request.user.email }}
                                                {% endif %}
                                            </strong>
                                            </a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                Options
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                {% if is_wildlifecompliance_admin_login %}
                                                    <li><a href="{% url 'admin:index' %}">Admin</a></li>
                                                    <li><a href="{% url 'mgt-commands' %}">Management Commands</a></li>
                                                    <li role="separator" class="divider"></li>
                                                {% endif %}
                                                <li><a href="{% url 'manage-account' %}">Manage Account</a></li>
                                                <li><a href="{% url 'pdf_latex' %}">Create PDF</a></li>
                                                <li><a href="{% url 'manage-profiles' %}">Manage Profiles</a></li>
                                                {% for org in request.user.wildlifecompliance_organisations.all %}
                                                    {% for org_contact in org.contacts.all%}
                                                        {% ifequal org_contact.email request.user.email %}
                                                            {% if org_contact.user_status == 'active' %}
                                                                {% if org_contact.is_admin or org_contact.check_consultant %}
                                                                    <li><a href="/external/organisations/manage/{{org.id}}">Manage {{ org.organisation.name}} </a></li>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endifequal %}
                                                    {% endfor %}
                                                {% endfor %}
                                                <li role="separator" class="divider"></li>
                                                <li><a href="{% url 'accounts:logout' %}?next=/">Logout</a></li>
                                            </ul>
                                        </li>
                                    {% endif %}
                                    {% block right_menu_items %}
                                    {% endblock %}
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        {% endblock %}
        {% block breadcrumbs %}
        {% endblock %}
        {% block messages %}
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% for message in messages %}
                            <div class="{{ message|bootstrap_message_classes }} alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&#215;</button>
                                {{ message|safe }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block content %}
        {% endblock %}
        {% block modals %}
        {% endblock %}
        {% if not dev %}
            <script type="text/javascript" src="https://static.dbca.wa.gov.au/static/libs/jquery/3.3.1/jquery.min.js"></script>
            <script type="text/javascript" src="{% static 'wildlifecompliance_vue/static/js/manifest.js' %}"></script>
            <script type="text/javascript" src="{% static 'wildlifecompliance_vue/static/js/vendor.js' %}"></script>
            {% if app_build_url %}
                <script type="text/javascript" src="{{ app_build_url }}"></script>
            {% else %}
                <script type="text/javascript" src="{% static 'wildlifecompliance_vue/static/js/app.js' %}"></script>
            {% endif %}
        {% else %}
            <script type="text/javascript" src="{{ dev_url }}"></script>
        {% endif %}
        {% block custom_js %}
        {% endblock %}
    </body>
</html>
