{% extends 'mooring/base.html' %}
{% load static %}

{% block title %}
    Mooring booking selector - Department of Parks and Wildlife
{% endblock %}

{% block content %}
    <noscript><div class="container"><div class="row">
        <div class="col-sm-12"><div class="well">
            <h3>Sorry, the mooring site booking selector requires JavaScript support!</h3>
            <p>Please ensure that JavaScript is enabled in your browser.</p>
        </div></div>
    </div></div></noscript>
    <div id="availability"></div>
    <script type="text/javascript">
{% if ground_id %}    var parkstayGroundId = '{{ ground_id|escapejs }}';
{% endif %}
    </script>
    <script src="{% static 'availability/js/manifest.js' %}"></script>
    <script src="{% static 'availability/js/vendor.js' %}"></script>
    <script src="{% static 'availability/js/app.js' %}"></script>
{% endblock %}

