{% load bootstrap3 %}

{% load static %}
{% if TEMPLATE_GROUP == 'rottnest' %}

<div class="">
    <div class="container">
        <div class="masthead">
            <div class="row">
                <div class="col-lg-8">
                    <div class="agency-freespace">
                        <h1 id="site-title" class="site-logo">
                           <a href="{%url 'home'%}">
                              <img src="/static/mooring/img/rottnest-island-logo.png" alt="Rottnest Island Authority - Mooring" class="img-responsive"/>
                           </a>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% else %}
<div class="">
    <div class="container">
        <div class="masthead">
            <div class="row">
                <div class="col-lg-8">
                    <div class="agency-freespace">
                        <h1 id="site-title" class="site-logo">
                           <a href="{%url 'home'%}">
                              <img src="/static/mooring/img/logo-park-stay.gif" alt="Department of Biodiversity, Conservation and Attractions - Mooring" class="img-responsive"/>
                           </a>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
