{% extends 'mooring/base.html' %}

{% load bootstrap3 %}

{% load static %}

{% block extra_css %}
    <link type="text/css" href="{% static 'wl/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block messages %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>
                    Welcome to Mooring 
                </h2>
                <p>This web portal allows you to manage your advance booking of a mooring in one of our many mooring locations.</p>
                <p><b>To make a new booking, or to find a Mooring, please visit the interactive map on our <a href="{{EXPLORE_PARKS_SEARCH}}">Explore mooring website</a>.</b></p>
            </div>
            <div class="col-md-4">
                {% if not request.user.is_authenticated %}
                    <div id="ps-login-container">
                        <h3>
                            Access Mooring 
                        </h3>
                        {% bootstrap_messages %}
                        <form method="post" action="{% url "social:complete" backend="email" %}">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <div id="submit-container">
                                {% bootstrap_button 'Submit' button_class='btn-primary' %}
                            </div>
                        </form>
                        <p>Submit your email to login or start the new-user registration process.</p>
                        <hr>
                        <h4>
                            Mooring Password-less Logins
                        </h4>
                        <p>
                            At the Department of Biodiversity, Conservation and Attractions, we employ a password-less authentication system, meaning you never need to remember
                            a password. When you need to login to a site, such as Mooring Bookings, simply enter your email and an 
                            authentication link will be sent to your registered email address. From there, simply follow the link to complete the login process.
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
