{% extends 'mooring/base.html' %}
{% load static %}

{% block title %}
    Mooring Map - Department of Parks and Wildlife
{% endblock %}

{% block content %}
    <div id="parkfinder"></div>
    <script type="text/javascript">
        var parkstayUrl = window.location.protocol + '//' + window.location.host;
    </script>
    <script src="{% static 'exploreparks/js/manifest.js' %}"></script>
    <script src="{% static 'exploreparks/js/vendor.js' %}"></script>
    <script src="{% static 'exploreparks/js/map.js' %}"></script>
{% endblock %}
