<html style="'background:#f3f3f3;">
    <body  style="background:#f3f3f3; margin:0px; padding: 10px;" width='100%'>

        <table style="background:#FFFFFF; padding: 3px; margin: 10px;" width='97%'>
            <tr>
                <td>

                    <table background="https://www.dpaw.wa.gov.au/templates/dpaw/images/top-bg.gif" style='background: #01b9bc;' width="100%">
                        <tr>
                            <td>
                                <img height='77' width='474' style='' id="Rottnest Logo" src="{{ context_processor.PUBLIC_URL }}/static/mooring/img/rottnest-island-logo.png" >
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style='height: 600px; padding:11px;' valign='top' >
                    {{ body }}

                    {% include "mooring/email/signature-rottnest.html" %}
                </td>

            </TR>
            <tr >
                <td style="color: #777; font-size: 85%; border-top: 1px solid #eee; padding-top: 12px; padding-bottom: 12px" >
                    &nbsp;&nbsp;&nbsp; v{{ version }} © Department of Biodiversity, Conservation and Attractions 
                </td>
            </TR>
        </table>
    </body>
</html>

