{% extends 'mooring/base.html' %}
{% load static %}
{% block extra_css %}
    {{ block.super }}
    <!--link href="/static/common/css/font-awesome.css" rel="stylesheet"/-->
    <style>
        .bold {
            font-weight: bold;
        }
        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
            border:none;
        }
    </style>

    <div>


    </div>

{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">

        <div class="col-sm-12">
            <h2>Booking History</h2>
	</div>
        
        <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="pull-right">
                      <a class='btn btn-primary' href="{% url 'view_refund_booking_history' booking_id %}">Refund Allocation</a>
                      <a class='btn btn-primary' href='/ledger/payments/invoice/payment?{% for bh in booking_history %}{% if bh.booking.booking_type != 3 %}{% for bi in bh.invoices %}invoice={{ bi.invoice_reference }}&{% endfor %}{% endif %}{% endfor %}'>Ledger Group Invoices</a>
        </div>
        <div><BR></div>
        &nbsp;
        <table cellspacing="0" width="100%" id="bookings-table" class="hover table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" role="grid" aria-describedby="bookings-table_info">
        <thead>
		<tr>
		  <th>Confirmation#</th>
                  <th>Booking Type</th>
                  <th>Linked Admission</th>
		  <th>Total</th>
                  <th>Booking Date<br>
                  Booked By 
                  </th>
                  <th>Cancel Date<br>Cancelled By</th>
                  <th width='125px'>Invoices#</th>
                  <th>Ledger Payment</th>
		</tr>
	</thead>
        <tbody> 
 
                 {% for bh in booking_history %}
                  {% if bh.booking.booking_type != 3 %}
                  <tr>
                      <td><A title='New Booking' HREF='/api/get_confirmation/{{ bh.booking.id }}'>PS{{ bh.booking.id }}</A> {% if bh.booking.old_booking %}<i style="color:red;" class="fa fa-arrow-right"></i> <A title='OLD Booking' HREF='/api/get_confirmation/{{ bh.booking.old_booking.id }}'>PS{{ bh.booking.old_booking.id }}{% endif %}</A></td>
                      <th>{{ bh.booking.get_booking_type_display }}</th>
                      <td>{% if bh.booking.admission_payment %}<A HREF='/api/get_admissions_confirmation/{{ bh.booking.admission_payment.id }}'>AD{{ bh.booking.admission_payment.id }}{% endif %}</A></td>
                      <td style='color: {% if bh.booking.cost_total > 0 %}red{% elif  bh.booking.cost_total < 0 %}green{% endif %}'  >${{ bh.booking.cost_total }}</td>
                      <td>{{ bh.booking.created }}
                          {{ bh.booking.created_by }}
                      </td>
                      <td>
                          {% if bh.booking.cancelation_time %}{{ bh.booking.cancelation_time }}{% endif %}<BR>
			  {% if bh.booking.canceled_by  %}{{ bh.booking.canceled_by }}{% endif %}
                      </td>

                      <td>{% for bi in bh.invoices %}
                            <A href='/mooring/payments/invoice-pdf/{{ bi.invoice_reference }}'><i style="color:red;" class="fa fa-file-pdf-o"></i>&nbsp;{{ bi.invoice_reference }}</A><BR>
                      {% endfor %}
		      </td>
                      <td>{% for bi in bh.invoices %}
                            <A href='/ledger/payments/invoice/payment?invoice={{ bi.invoice_reference }}'>View {{ bi.invoice_reference }}</A><BR>

                      {% endfor %}
                      </td>
                  </tr> 
                  {% endif %}
		 {% endfor %}
        </tbody>
        </table>
        </div>
    </div>
{% endblock %}

