<div class="well">
    <div class="row"><div class="col-sm-12">
        <h3 class="text-primary">{{ booking.mooringarea.name }}, {{ booking.mooringarea.park.name }}</h3>
    </div></div>
    <div class="row">
        <div class="col-sm-3">
            <img class="img-thumbnail img-responsive" alt="" src="{{ booking.campground.first_image.image.url }}"/>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-4">
                    <b>Mooring</b>
                </div>
                <div class="col-sm-8">
                    {{ booking.mooringarea.name }}
                </div>
            </div><div class="row">
                <div class="col-sm-4">
                    <b>Dates</b>
                </div>
                <div class="col-sm-8">
                    {{ booking.stay_dates }}
                </div>
            </div><div class="row" style='display: none'>
                <div class="col-sm-4">
                    <b>Number of guests</b>
                </div>
                <div class="col-sm-8">
                    {{ booking.stay_guests }}
                </div>
            </div><div class="row">
                <div class="col-sm-4">
                    <b>Booking confirmation number</b>
                </div>
                <div class="col-sm-8">
                    {{ booking.confirmation_number }}
                </div>
            </div><div class="row">
                <div class="col-sm-4">
                    <b>Payment status</b>
                </div>
                <div class="col-sm-8">
                    {% if booking.status == 'Over Paid' %}
                        Paid
                    {% else %}
                        {{ booking.status }}
                    {% endif %} 
                </div>
            </div><div class="row"><div class="col-sm-12" style="margin-top: 1em">
                {% if booking.status == 'Paid' or booking.status == 'Over Paid' %}<p><a href="{% url 'get_confirmation' booking.id %}" class="btn btn-info btn-lg" >Print</a></p>
                <p style="font-size: 1.5rem; font-weight: bold;">You must bring your printed confirmation with you to the mooring.</p>
                {% else %}<p style="font-size: 1.5rem; font-weight: bold;">You must bring your printed confirmation with you to the mooring. Confirmation is only available after the booking is paid in full.</p>{% endif %}
            </div></div>
        </div>
    </div>
</div>

