{% extends 'mooring/base.html' %}
{% load static %}
{% load forms %}
{% block content %}
    <div class="container">
        <div class="well">
            <div class="row"><div class="col-sm-12">
                <h2>Cancellation Completed</h2>
                <p>A confirmation email has been sent to {{ booking.customer.email }}. </p>
                <p>For any refund details please refer to the email sent to {{ booking.customer.email }}. </p>
            </div></div>
        </div>
    </div>
{% endblock %}
