{% extends 'mooring/base.html' %}
{% load static %}
{% block extra_css %}
    {{ block.super }}
    <!--link href="/static/common/css/font-awesome.css" rel="stylesheet"/-->
    <style>
        .bold{
            font-weight: bold;
        }
        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
            border:none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container"><div class="row">
        <div class="col-sm-12">
            <h2>Upcoming Bookings</h2>
{% if not current_bookings %}
            <div class="well">
                <h3>You do not have any upcoming bookings!</h3>
                <p>Please visit the <a href="{{EXPLORE_PARKS_SEARCH}}">mooring map</a> to book a mooring.</p>
            </div>
{% else %}
    {% for booking in current_bookings %}
        {% include "mooring/booking/booking_view.html" %}
    {% endfor %}
{% endif %}
{% if past_bookings %}
            <h2>Past Bookings</h2>
    {% for booking in past_bookings %}
        {% include "mooring/booking/booking_view.html" %}
    {% endfor %}
{% endif %}
        </div>
    </div></div>
{% endblock %}

