{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4 well well-lg">
                <p class="lead text-center">
                    <strong>Password Reset Complete</strong>
                </p>
                <p>
                    Your password has been set. You may go ahead and log in now.
                <p>

                <a href="{% url 'login' %}" class="btn btn-primary btn-lg btn-block" role="button">Log In</a>
            </div>
        </div>
    </div>
{% endblock %}
