{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}
    <div class="container">
        {% if validlink %}
            {% if form.errors %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger">
                            <p><strong>The two password fields didn't match. Please try again.</strong></p>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-offset-4 col-md-4 well well-lg">
                    <p class="lead text-center">
                        <strong>Enter New password</strong>
                    </p>

                    <form method="post" action="" role="form">
                        {% csrf_token %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <div class="form-group">
                            <input type="password" class="form-control input-lg" name="new_password1" placeholder="New Password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-lg" name="new_password2" placeholder="Confirm Password">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-primary btn-block">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-offset-4 col-md-4 well well-lg">
                    <p class="lead text-center">
                        <strong>Password Reset Unsuccessful</strong>
                    </p>
                    <p>
                        The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
                    <p>

                    <a href="{% url 'password_reset' %}" class="btn btn-primary btn-lg btn-block" role="button">Request Password</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}