{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4 well well-lg">
                <p class="lead text-center">
                    <strong>Password Reset Complete</strong>
                </p>
                <p>We've emailed you instructions for setting your password. You should be receiving them shortly.</p>
                <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
            </div>
        </div>
    </div>
{% endblock %}