<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        {% block greetings %}
            <p>
                Dear Sir/Madam,
            </p>
        {% endblock %}
        {% block content %}
        {% endblock %}
        {% block signature %}
            <p>
                Yours sincerely,
            </p>
            <p></p>
            <p>
            {{ settings.SYSTEM_NAME_SHORT }} Section
            </p>
        {% endblock %}
        {% block reply_statement %}
            <p></p>
            <p></p>
            <p>
                <!--
                <strong><em>Please do not reply directly to this email. Should you need to contact the licensing section of the Department of 
                Biodiversity, Conservation and Attractions, please send emails to <a href="mailto:das@dpaw.wa.gov.au">das@dpaw.wa.gov.au</a> 
                or call (08) 9219 9000.</em></strong>
                -->

                <strong><em>
                    Please do not reply directly to this email. Should you need to contact the {{settings.DEP_NAME}}, 
                    please contact the respective DBCA region/district or the DAS administrator on <a href="mailto:{{ settings.SUPPORT_EMAIL }}">{{ settings.SUPPORT_EMAIL }}</a>.
                </em></strong> 
            </p> 
        {% endblock %}
    </body> 
</html>
