{% extends 'wl/applications_base.html' %}

{% load static %}

{% load bootstrap3 %}

{% load jsonify %}

{% load users %}

{% block extra_css %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/datatables/1.10.10/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    {{ block.super }}
{% endblock %}

{% block requirements %}
    require([
        'jQuery',
        'js/view/view_readonly_officer',
        'js/entry/application_preview',
        'js/logs'
    ],
    function($, viewReadonlyOfficer, applicationPreview, logs) {
        viewReadonlyOfficer.init({{ application|jsonify }}, {{ assessments|jsonify }}, {{form_structure|jsonify}});

        $('#mainContainer').removeClass('hidden');

        logs.initCommunicationLog({
            logListURL: "{% url 'wl_applications:log_list' application.id %}",
            addLogEntryURL: "{% url 'wl_applications:add_log_entry' application.id %}"
        });
        logs.initActionLog({
            logListURL: "{% url 'wl_applications:action_list' application.id %}",
        });

        // need to initialise sidebar menu after showing main container otherwise affix height will be wrong
        applicationPreview.initialiseSidebarMenu('#sectionList');
    });
{% endblock %}

{% block breadcrumbs %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb wl-breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="active">View Application (read-only)</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block intro_title %}
    <h3>Application (read-only)</h3>
{% endblock %}
{% block intro_subtitle %}
    <h4 class="inline">
        {{ application.licence_type.name }}
    </h4> 
{% endblock %}

{% block content %}
    <div id="mainContainer" class="container hidden">
        <div class="row">
            <div class="col-md-3">
               <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Application Overview
                                <a data-toggle="collapse" href="#applicationOverviewBody" class="pull-right">
                                    <span class="glyphicon"></span>
                                </a>
                            </div>
                            <div id="applicationOverviewBody" class="panel-body panel-collapse in">
                                <label>Applicant</label>
                                {% with applicant=application.applicant_profile %}
                                    <p>
                                        {{ applicant.user.first_name }} {{ applicant.user.last_name }}
                                    </p>
                                    <div>{{ applicant.postal_address.search_text }}</div>
                                    <div class="applicant-contact">
                                        <div>
                                            <span class="fa fa-envelope"></span>
                                            <span class="email"> {{ applicant.email }}</span>
                                        </div>
                                        {% if applicant.user.phone_number %}
                                            <div>
                                                <span class="fa fa-phone phone"></span> {{ applicant.user.phone_number }}
                                            </div>
                                        {% endif %}
                                        {% if applicant.user.mobile_number %}
                                            <div>
                                                <span class="fa fa-mobile mobile"></span> {{ applicant.user.mobile_number }}
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endwith %}
                                <div class="row">
                                    <div class="col-md-5">
                                        <label>Lodged on</label>
                                        <p>{{ application.lodgement_date|date:'d/m/Y' }}</p>
                                    </div>
                                    <div class="col-md-7">
                                        <label>Status</label>
                                        <p><span id="status" data-toggle="popover" data-placement="right">{{ application.processing_status }}</span></p>
                                    </div>
                                </div>
                                <label>Currently assigned to</label>
                                <p>
                                    {% if application.assigned_officer %} 
                                        {{ application.assigned_officer.first_name }} {{ application.assigned_officer.last_name }}
                                    {% else %}
                                        Unassigned
                                    {% endif %}
                                </p>
                                <label>Payment Status</label>
                                <p class="no-margin">
                                    {{ payment_status }}
                                    {% if payment_status == 'Awaiting Payment' %}
                                        <a href="{% url 'wl_payments:manual_payment' application.id %}?redirect_url={{ request.build_absolute_uri }}"
                                            class="pull-right">Enter Payment</a>
                                    {% endif %}
                                </p>
                                <hr>
                                <p>
                                    <a id="viewAssessorsComments" data-toggle="popover" data-placement="right">
                                        View Assessors' Comments
                                    </a>
                                </p>
                                <p>
                                    <a href="{% url 'wl_applications:view_application_pdf' application.id %}" target="_blank">
                                        View PDF <img src="{% static 'wl/img/pdf.png' %}" height="20"></img>
                                    </a>
                                </p>
                             </div>
                        </div>
                    </div>
                </div>
                {% include 'wl/logs_panel.html' %}
                <div id="sectionList">
                    <div class="application-sections-heading">
                        <h4>Application Sections</h4>
                    </div>
                    <ul class="nav nav-stacked">
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div id="applicationContainer"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    {% include 'wl/logs_comm_entry_modal.html' %}
{% endblock %}