{%  extends 'wl/emails/base_email.html' %}

{%  block content %}
    <p>Customer {{ return.licence.holder.get_full_name }} has an overdue return for Wildlife Licence:</p>
    <p><strong>{{ return.licence.licence_type.name }}</strong></p>
    <p>that was due on {{ return.due_date }}.
    {% if return.proxy_customer %}
        <p>The customer's proxy officer is: {{ return.proxy_customer.get_full_name }}.</p>
    {% endif %}
    <p>Note: If you haven't been on the Wildlife Licensing site recently you might have to login first before using the provided link.</p>
{%  endblock %}