{% extends 'wl/emails/base_email.html' %}

{% block content %}
    {% if application and application.proxy_applicant %}
        The Wildlife Licensing return you made on behalf of {{ application.applicant_profile.user.get_full_name }}
        has been reviewed and requires an amendment before approval.
    {% else %}
        Your Wildlife Licensing return has been reviewed and requires an amendment before approval.
    {% endif %}

    {% if reason %}
        <p>
            <span>Amendment Reason: {{ reason }}</span>
        </p>
    {% endif %}

    {% if url %}
        <p>Click <a href='{{ url }}'>here</a> to edit the return.</p>
        <p>Note: If you haven't been on the Wildlife Licensing site recently you might have to login first before using the provided link.</p>
    {% endif %}
{% endblock %}