{%  extends 'wildlifecompliance/emails/base_email.html' %}

{%  block content %}
	Your application {{ application.lodgement_number }} has been reviewed and requires an amendment before further assessment.

    {% if reason %}
        <p>
        	<span>Amendment Reason: {{ reason }}</span>
        </p>
    {% endif %}

    {% if amendment_details %}
        <p><span> Amendment details: <br> {{ amendment_details }}</span></p>
    {% endif %}

    <p><strong>Link: <a href="{{url}}">{{url}}</a></strong></p>
    <p>Note: If you haven't logged into the Wildlife Licensing System recently you may need to login first before using the provided link.</p>
{%  endblock %}