{%  extends 'wildlifecompliance/emails/base_email.html' %}

{% block content %}
    A Wildlife Licensing application activity type has been approved, with below details.
    <p><strong>Application : {{ application.id }}</strong></p>
    <p><strong>Activity Type : {{ activity_type_name }}</strong></p>
    <p><strong>Expiry Date : {{ expiry_date }}</strong></p>
    <p><strong>Start Date : {{ start_date }}</strong></p>
    <p><strong>Link: {{url}}</strong></p>

    <p>Note: If you haven't been on the Wildlife Licensing site recently you might have to login first before using the provided link.</p>
{% endblock %}