{%  extends 'wildlifecompliance/emails/base_email.html' %}

{% block content %}
    An application has been returned to the Licensing Officer (Condition) stage.

    {% if application %}
        <p><span> Application ID: <br> {{ application.id }}</span></p>
    {% endif %}

    {% if text %}
        <p><span> Details: <br> {{ text }}</span></p>
    {% endif %}

    {% if url %}
        <p><strong>Link: <a href="{{url}}">{{url}}</a></strong></p>

        <p>Note: If you haven't logged into the Wildlife Licensing System recently you may need to login first before using the provided link.</p>
    {% endif %}
{% endblock %}