{%  extends 'commercialoperator/emails/base_email.html' %}

{%  block content %}
    <!-- <p>Your Licence has been surrendered:</p>
    <p><strong>Licence : {{ approval.lodgement_number}}</strong></p>
    <p><strong>Surrender Details : {{details}}</strong></p>
    <p><strong>Surrender Date : {{surrender_date}}</strong></p> -->
  <p>Your licence to conduct commercial operations on <em>Conservation and Land Management Act 1984 (CALM Act)</em> land has been surrendered.</p>
  	<p><strong>Licence : {{ approval.lodgement_number}}</strong></p>
    <p><strong>Surrender Details : {{details}}</strong></p>
    <p><strong>Surrender Date : {{surrender_date}}</strong></p>
  <p>If you have any enquiries or need assistance with the online system please contact a licensing officer on {{settings.DEP_PHONE}}, or email {{settings.SUPPORT_EMAIL}}</p>
    
{%  endblock %}
