{% load static %} {% load dpaw_extras %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Payments - Department of Biodiversity, Conservation and Attractions</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />



    {% block "scriptimports" %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js?ver={{ settings.GIT_COMMIT_HASH }}" rel="stylesheet" ></script>
    <script src="/static/common/node_modules/bootstrap/dist/js/bootstrap.bundle.js?ver={{ settings.GIT_COMMIT_HASH }}" ></script>
    <script src="/static/common/node_modules/jquery/dist/jquery.min.js?ver={{ settings.GIT_COMMIT_HASH }}"></script>

    <script src="/static/payments/js/ledger_payments.js?ver={{ settings.GIT_COMMIT_HASH }}"></script>
    <script src="/static/payments/js/oracle_refund.js?ver={{ settings.GIT_COMMIT_HASH }}"></script>
    {% endblock %}

     <link  href="/static/common/node_modules/bootstrap/dist/css/bootstrap.min.css?ver={{ settings.GIT_COMMIT_HASH }}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/common/node_modules/bootstrap-icons/font/bootstrap-icons.css?ver={{ settings.GIT_COMMIT_HASH }}">
    <link rel="icon" href="//static.dpaw.wa.gov.au/images/favicon.svg" sizes="any" type="image/svg+xml" />
    
    {% block extra_css %}
    <style>
        {% block "css-top" %}
        .voided_invoice {
            -ms-transform: rotate(20deg);
            -webkit-transform: rotate(20deg);
            transform: rotate(13deg);
            position: relative;
            top: 137px;
            opacity: 0.7;
        }

        .logo {
            margin: 20px 0;
        }
        @media only screen and (min-width: 35.61111em) {
             .status{
                margin-top: 30px;
             }
         }
	 {% endblock %}
    </style>
    <script> 
	    {% block "script-top" %}

            {% endblock %}

    </script>
    {% endblock %}
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #000000; height: 115px">
  <div class="container-fluid">
    <img class="align-right" src="/static/ledger/images/dbca_white.png" alt="Department of Parks and Wildlife" style='height:70px;'>
    <a class="navbar-brand" href="#" style='color: #fff; padding-left: 20px;'>Ledger Payments</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/" style='color: #fff'>Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


{% block "body-content" %}

{% endblock %}
</body>
</html>
