{% extends "ledgergw/web/base_b5.html" %}

{% block content %}

{% if ois_found is True %}


{% if system_interface_permssions.all_access is True or system_interface_permssions.view_ledger_tools is True or system_interface_permssions.manage_ledger_tool  is True %}



<textarea id='system_interface_permssions' rows="4" cols="50" style='display:none'>
  {{ system_interface_permssions_json }}
</textarea>

<div class="row">
        <div class="col-12">
          <BR>
          </div>

        <div class="col-12">
            <h1>Failed Transactions</h1>
        </div>
		        <div class="col-12">
			     <BR><BR>
			     <div class="row g-3">
			        <div class="col-3">
                                    <select class="form-select" aria-label="Select status" id='fr-status'>
                                      <option value="">All</option>
                                      <option value="0" selected >Pending</option>
                                      <option value="1">Refund Completed</option>
                                    </select>
			                          </div>

                                <div class="col-4">
                                    <input type='hidden' value='{{ system_id }}' id='fr-system' >
                                    <select class="form-select" aria-label="Select System" id='fr-system-old' style='display:none;'>
                                      <option selected value="">All</option>
                                        {% for system in oracle_systems %}
                                                <option {% if system_id == system.system_id %}selected{% endif %} value="{{ system.system_id }}">{{ system.system_id }} - {{ system.system_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                      <div class="col-3">
                          <input type="text" class="form-control" id="fr-keyword" placeholder="Keyword">
                      </div>
                      <div class="col-2 text-center">
                                            <button type="button" class="btn btn-primary" id='fr-filter' >FILTER</button>
                      </div>
                    </div>
                                      <BR>

                             <table cellspacing="0" width="100%" id="failed-refunds-table" class="hover table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" role="grid"> 
                             <thead>
                                     <tr>
                                       <th>Invoice GroupID</th>
                                       <th>Booking Reference</th>
                                       <th>Invoice Reference</th>
                                       <th>Refund Amount</th>
                                       <th>Status</th>
                                       <th>System</th>
				                               <th>Oracle Refund</th>
                                     </tr>
                             </thead>
                             <tbody>
                                    <tr>
                                         <td>&nbsp;</td>
                                         <td>&nbsp;</td>
                                         <td>&nbsp;</td>
                                         <td>&nbsp;</td>
                                         <td>&nbsp;</td>
                                         <td>&nbsp;</td>
                                    </tr>
                             </tbody>
                             </table>

	    </div>

            <div class="col-12 ">
            <nav aria-label="" id='pages'>
            </nav>

			</div>
            </div>
</div>
</body>
<script>
       ledger_payments.init_failed_transactions();
</script>
{% else %}
<br>
  <div class="alert alert-danger" role="alert">
      You don't have permission to access this page.
  </div>
{% endif %}

{% else %}
<br>
<div class="alert alert-danger" role="alert">
  The system identifier does not exist.
</div>


{% endif %}
{% endblock %}
