<div class="modal fade" id="SuccessPopupBox" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="alert alert-danger" role="alert" id='popup-error' style='display:none'>

        </div>
        <div class='col-12'>
            <center>
            <i class="bi bi-check-circle-fill text-center" style='color: #10ff00; font-size: 100px;'></i>
            <h2 id='success-title'>Success</h2>
            <div id='error-message'>Successfully Completed</div>
            <br>
            <button type="button" class="btn btn-primary" id='group-close-modal' data-bs-dismiss="modal">Close</button>

                    <div class="spinner-border text-primary" role="status" style='display:none' id='peakgroup_progress_loader_create'>
                  <span class="visually-hidden">Loading...</span>
        </div>
            <br>
            <br>
            </center>
        </div>

      </div>
    </div>
  </div>
</div>
