{% extends "ledgergw/web/base_b5.html" %}

{% block content %}
<meta http-equiv="refresh" content="10">
<div class="container" id='payment-totals-container'>
<div class="row">
        <div class="col-12 text-center">
            <h1>Please Wait</h1>
        </div>
		        <div class="col-12 text-center"> 
                        <div class="spinner-border" style="width: 9rem; height: 9rem;" role="status">
                        <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>


<br>
</div>
{% endblock %}
