{% load  static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %} - Office for Information Management - Department of Parks and Wildlife{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <script type="text/javascript" src="//static.dpaw.wa.gov.au/static/libs/jquery/2.2.0/jquery.min.js"></script>
        <script type="text/javascript" src="//static.dpaw.wa.gov.au/static/libs/localforage/1.3.1/localforage.min.js"></script>
        <script type="text/javascript" src="//static.dpaw.wa.gov.au/static/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
        <script type="text/javascript" src="//static.dpaw.wa.gov.au/static/libs/foundation/6.1.2/foundation.min.js"></script>
        <script type="text/javascript" src="//static.dpaw.wa.gov.au/static/libs/foundation-datepicker/1.5.0/js/foundation-datepicker.min.js"></script>
        <script type="text/javascript" src="//static.dpaw.wa.gov.au/static/js/egg.js"></script>
        <script type="text/javascript" src="{% static 'js/f6_oim_cms.js' %}"></script>
        <link rel="icon" href="//static.dpaw.wa.gov.au/images/favicon.svg" sizes="any" type="image/svg+xml" />
        <link rel="stylesheet" type="text/css" media="all" href="//static.dpaw.wa.gov.au/static/fonts/Lato2OFLWeb/Lato/latofonts.css" />
        <link rel="stylesheet" type="text/css" media="all" href="//static.dpaw.wa.gov.au/static/libs/foundation/6.1.2/foundation-flex.css">
        <link rel="stylesheet" type="text/css" media="all" href="//static.dpaw.wa.gov.au/static/cdnjs/ajax/libs/foundicons/3.0.0/foundation-icons.css" />
        <link rel="stylesheet" type="text/css" media="all" href="//static.dpaw.wa.gov.au/static/libs/foundation-datepicker/1.5.0/css/foundation-datepicker.min.css" />
        <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/f6_oim_cms.css' %}" />
        {% block extra_css %}

        {% endblock %}
    </head>
    <body>
        <div class="inner-wrap">
            <div class="content">
                <div class="row align-center">
                    <div class="align-center columns show-for-large hide-for-print"><a target="_blank" href="//www.dpaw.wa.gov.au">
                        <img class="align-center" src="//static.dpaw.wa.gov.au/images/oimlogo_left.svg" alt="Department of Parks and Wildlife"></a>
                    </div>
                </div>
                <div class="row align-justify">
                    <!-- Search for Invoice -->
                    <div class="columns">
                        <h3>Search For Invoice</h3>
                        <form id="search_invoice_form">
                            <div class="row">
                                <div id="invoice-label" class="small-9 columns">
                                    <div class="input-group">
                                        <span class="input-group-label">Reference</span>
                                        <input id="invoice_num" class="input-group-field" type="text"/>
                                        <div class="input-group-button">
                                            <input id="search_invoice" type="submit" class="button" value="Submit" onsubmit="getInvoice();"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /Search for Invoice -->
                    <!-- Show Errors -->
                    <div id="errors" class="columns large-12">
                        
                    </div>
                    <!-- /Show Errors -->
                    <!-- Show invoice details -->
                    <div class="columns large-12">
        
                    </div>
                    <!-- /Show invoice details -->
                    <!-- Payment Options -->
                    <div class="columns large-12">
                        
                    </div>
                    <!-- /Payment OPtions -->
                </div>
            </div>
            <div class="footer">
                <style type="text/css">.row {min-width:100% !important;}</style>
            </div>
        </div>
        <script type="text/javascript">
            $(function(){
                function getInvoice(){
                    var ref = null;
                    var $submit_btn = $('#search_invoice');
                    // Get value of invoice field
                    ref = $('#invoice_num').val();
                    alert(ref);
                    // Make api call to retrieve invoice data
                    $.get("/ledger/payments/api/invoices/"+ref+".json", function(resp){
                        console.log(resp);
                    });
                }
                
                $('#search_invoice_form').submit(function(e){
                    e.preventDefault();
                    getInvoice();
                });
            });
        </script>
    </body>
</html>
