{% extends 'mooring/base.html' %}
{% load static %}
{% load users %}
{% block extra_css %}
    <link href="/static/ledger/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/common/css/dataTables.bootstrap.min.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link href="/static/common/css/select2.min.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link href="/static/common/css/select2-bootstrap.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link href="/static/common/css/font-awesome.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'mooring/css/dashboard.css' %}?ver={{ GIT_COMMIT_HASH }}">
{% endblock %}
{% block extra_js %}
{% endblock %}
{% block requirements %}
{% endblock %}

{% block content %}
    <div class="container" id="dashboard-table-container">
 <a href='{% url 'dash-booking-policy-change-view' change_group_id %}' type="button" class="btn btn-primary" style="">Go Back</a><BR><BR>
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="title_heading">
        <h1 class="panel-title">
            <a role="button" data-toggle="collapse" href="#search_person_company_collapse" aria-expanded="false" aria-controls="search_person_company_collapse">
                Policy Option 
            </a>
        </h1>
    </div>

    <div class="panel-collapse collapse in" id="search_person_company_collapse" role="tabpanel" aria-labelledby="search_person_company_heading">
        <div class="panel-body">


	{% load crispy_forms_tags %}

	{% block page_content_inner %}
	<h1>{{ page_heading }}</h1>
	{% crispy form %}
	{% endblock %}
   </div>

</div>
</div>
</div>

   {% include "mooring/dash/policy_group_js.html" %}
{% endblock %}
