{% extends 'mooring/base.html' %}
{% load static %}
{% load users %}
{% block extra_css %}
    <link href="/static/ledger/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/common/css/dataTables.bootstrap.min.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link href="/static/common/css/select2.min.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link href="/static/common/css/select2-bootstrap.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link href="/static/common/css/font-awesome.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'mooring/css/dashboard.css' %}?ver={{ GIT_COMMIT_HASH }}">
{% endblock %}
{% block extra_js %}
{% endblock %}
{% block requirements %}
{% endblock %}

{% block content %}

    <div class="container" id="dashboard-table-container">

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="title_heading">
        <h1 class="panel-title">
            <a role="button" data-toggle="collapse" href="#search_person_company_collapse" aria-expanded="false" aria-controls="search_person_company_collapse">
                  Change Groups 
            </a>
        </h1>
    </div>

    <div class="panel-collapse collapse in" id="search_person_company_collapse" role="tabpanel" aria-labelledby="search_person_company_heading">
        <div class="panel-body">

        <div class="col-lg-12">
          <div class="row">
          <div class="col-lg-9">
          </div>
          <div class="col-lg-3">
            <span class="pull-right"><a href="{% url 'dash-booking-policy-create-change' %}" class="btn btn-primary" style="">New Change Group</a></span>
          </div>
          </div>
        </div> 
        <table width="100%" id='change-policy' class='hover table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline'>
        <thead>
        <tr><th>ID</th><th>Change Group</th><th>Action</th></tr>
        </thead>
        <tbody>
        {% for change_group in change_groups %}
             <tr><td>{{ change_group.id }}</td><td>{{ change_group.name }}</td>
                 <td>
                      <a href='{% url 'dash-booking-policy-change-edit' change_group.id %}'>Edit</a><BR>
                      <a href='{% url 'dash-booking-policy-change-view' change_group.id %}'>View Policies</a>
                 </td>
             </tr>
                     
        {% endfor %}
        </tbody>
        </table>

	</div>
</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="title_heading">
        <h1 class="panel-title">
            <a role="button" data-toggle="collapse" href="#search_person_company_collapse" aria-expanded="false" aria-controls="search_person_company_collapse">
                  Cancel Groups
            </a>
        </h1>
    </div>

    <div class="panel-collapse collapse in" id="search_person_company_collapse" role="tabpanel" aria-labelledby="search_person_company_heading">
        <div class="panel-body">

        <div class="col-lg-12">
          <div class="row">
          <div class="col-lg-9">
          </div>
          <div class="col-lg-3">
            <span class="pull-right"><a href="{% url 'dash-booking-policy-create-cancel' %}" class="btn btn-primary" style="">New Cancel Group</a></span>
          </div>
          </div>
        </div>

        <table width="100%" id='cancel-policy' class='hover table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline'>
        <thead>
        <tr><th>ID</th><th>Cancel Group</th><th>Action</th></tr>
	</thead>
        <tbody>
        {% for cancel_group in cancel_groups %}
             <tr>
                 <td>{{ cancel_group.id }}</td>
                  <td>{{ cancel_group.name }}</td>
                  <td>
                      <a href='{% url 'dash-booking-policy-cancel-edit' cancel_group.id %}'>Edit</a><br>
                      <a href='{% url 'dash-booking-policy-cancel-view' cancel_group.id %}'>View Policies</a>
                  </td></tr>
        {% endfor %}
	</tbody>
        </table>
    </div>

        </div>
</div>
</div>

<script>
function loadTable() {
    $('#change-policy').dataTable({searching: false, paging: true, "pageLength": 25, "order": [[ 0, "asc" ]],
     columnDefs: [
       { type: 'natural-nohtml', targets: 0 },  { 'bSortable': false, 'aTargets':  2 }
     ]
    });
    $('#cancel-policy').dataTable({searching: false, paging: true, "pageLength": 25, "order": [[ 0, "asc" ]],
     columnDefs: [
       { type: 'natural-nohtml', targets: 0 },  { 'bSortable': false, 'aTargets':  2 }
     ]
    });
}
window.onload= function() {
    loadTable();
}
</script>
{% endblock %}
