{% extends 'mooring/base.html' %}
{% load static %}
{% load users %}
{% block extra_js %}
{% endblock %}
{% block requirements %}
{% endblock %}

{% block content %}
<div class="container" id="dashboard-table-container" iistyle='position: relative'>

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="title_heading">
        <h1 class="panel-title">Confirm Delete
        </h1>
    </div>

    <div class="panel-collapse collapse in" id="search_person_company_collapse" role="tabpanel" aria-labelledby="search_person_company_heading">
        <div class="panel-body">

        <div class="col-lg-12">

<form id='id_form_modals' action="" method="post">
    {% csrf_token %}
    <p>Are you sure that you want to delete the period group "{{ object.name }}"?</p>
    <input type="submit" name="confirm" value="Confirm" class="btn btn-primary btn-lg btn-danger ajax-submit" id="submit-id-confirm">
    <input type="submit" name="cancel" value="Cancel" class="btn btn-primary ajax-close" id="submit-id-cancel">
</form>



   </div>
</div>
{% endblock %}
