{% extends 'mooring/base.html' %}
{% load static %}
{% load users %}
{% block extra_css %}
    <link href="/static/ledger/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/common/css/dataTables.bootstrap.min.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link href="/static/common/css/select2.min.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link href="/static/common/css/select2-bootstrap.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link href="/static/common/css/font-awesome.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'mooring/css/dashboard.css' %}?ver={{ GIT_COMMIT_HASH }}">
{% endblock %}
{% block extra_js %}
{% endblock %}
{% block requirements %}
{% endblock %}

{% block content %}
    <div class="container" id="dashboard-table-container">

        <div class="col-lg-12">
          <div class="row">
          <div class="col-lg-3">
            <a href='{% url 'dash-booking-policy-change-view' change_group_id %}' type="button" class="btn btn-primary" style="">Back</a>
          </div>
          <div class="col-lg-6">
          </div>
          <div class="col-lg-3">
          </div>

          </div>
        </div>

	<h1>Add Policy Group</h1>
	{% load crispy_forms_tags %}

	{% block page_content_inner %}
	<h1>{{ page_heading }}</h1>
	{% crispy form %}
	{% endblock %}
   </div>
   {% include "mooring/dash/policy_group_js.html" %}
{% endblock %}
