   <script>
   window.onload= function() {
           CalulationType();
           $( "#id_calulation_type" ).change(function() {
              CalulationType();
           });
   }
   function CalulationType() {
          var calulation_type = $('#id_calulation_type').val();
          if (calulation_type == 0) {
              $('#div_id_amount').hide();
              $('#div_id_percentage').show();
          }
          if (calulation_type == 1) {
              $('#div_id_amount').show();
              $('#div_id_percentage').hide();
          }

   }

   </script>

