{% extends 'mooring/base.html' %}
{% load static %}
{% load users %}
{% block extra_css %}
    <link href="/static/ledger/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/common/css/dataTables.bootstrap.min.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link href="/static/common/css/select2.min.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link href="/static/common/css/select2-bootstrap.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link href="/static/common/css/font-awesome.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'mooring/css/dashboard.css' %}?ver={{ GIT_COMMIT_HASH }}">
{% endblock %}
{% block extra_js %}
{% endblock %}
{% block requirements %}
{% endblock %}

{% block content %}

    <div class="container" id="dashboard-table-container">
 <a href='{% url 'dash-bookingperiod' %}' type="button" class="btn btn-primary" style="">Go Back</a><BR><BR>
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="title_heading">
        <h1 class="panel-title">
            <a role="button" data-toggle="collapse" href="#search_person_company_collapse" aria-expanded="false" aria-controls="search_person_company_collapse">
                 Booking Periods for {{ object.name }}  
            </a>
        </h1>
    </div>

    <div class="panel-collapse collapse in" id="search_person_company_collapse" role="tabpanel" aria-labelledby="search_person_company_heading">
        <div class="panel-body">

        <div class="col-lg-12">
          <div class="row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6">
          </div>
          <div class="col-lg-3">
            <span class="pull-right"><a href='{% url 'dash-booking-period-option-add' object.id %}' type="button" class="btn btn-primary" style="">Add Period</a></span>
          </div>
	  
          </div>
        </div> 
        <div class="col-lg-12">
		&nbsp;
	</div>	
        <table width="100%" id='table-policy' class='hover table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline'>
        <thead>
        <tr><th>ID</th><th>Period Name</th><th>Small Price</th><th>Medium Price</th><th>Large Price</th><th>Start Time</th><th>Finish Time</th><th>Change Group</th><th>Cancel Group</th><th>Action</th></tr>
        </thead>
        <tbody>
        {% for p in object.booking_period.all %}
            <tr><td>{{ p.id }}</td><td>{{ p.period_name }}</td><td>${{ p.small_price }}</td><td>${{ p.medium_price }}</td><td>${{ p.large_price }}</td><td>{{ p.start_time }}</td><td>{{ p.finish_time }}</td><td>{{ p.change_group }}</td><td>{{ p.cancel_group }}</td><td><a href='{% url 'dash-booking-period-option-edit' object.id p.id %}'>Edit</a><br><a href='{% url 'dash-booking-period-option-delete' object.id p.id %}'>Delete</a><br></td></tr>

	{% endfor %}
        </tbody>
        </table>

    </div>
</div>
<script>
function loadTable() {
    $('#table-policy').dataTable({searching: false, paging: true, "pageLength": 25, "order": [[ 3, "desc" ]],
     columnDefs: [
       { 'bSortable': false, type: 'natural-nohtml', targets: 0 }, { 'bSortable': false, 'aTargets':  1 },  { type: 'natural-nohtml', targets: 3 },{ 'bSortable': false, 'aTargets':  2 }, { 'bSortable': false, 'aTargets':  4 }
     ]
    });
}
window.onload= function() {
    loadTable();
}
</script>
{% endblock %}
