{% extends 'mooring/base.html' %}
{% load static %}
{% load users %}
{% block extra_css %}
    <link href="/static/ledger/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/common/css/dataTables.bootstrap.min.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link href="/static/common/css/select2.min.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link href="/static/common/css/select2-bootstrap.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link href="/static/common/css/font-awesome.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'mooring/css/dashboard.css' %}?ver={{ GIT_COMMIT_HASH }}">
{% endblock %}
{% block extra_js %}
{% endblock %}
{% block requirements %}
{% endblock %}

{% block content %}



    <div class="container" id="dashboard-table-container">


<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="title_heading">
        <h3 class="panel-title">
            <a role="button" data-toggle="collapse" href="#search_person_company_collapse" aria-expanded="false" aria-controls="search_person_company_collapse">
                 Booking Periods Groups 
            </a>
        </h3>
    </div>

    <div class="panel-collapse collapse in" id="search_person_company_collapse" role="tabpanel" aria-labelledby="search_person_company_heading">
        <div class="panel-body">

        <div class="col-lg-12">
          <div class="row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6">
          </div>
          <div class="col-lg-3">
            <span class="pull-right"><a href='{% url 'dash-bookingperiod-group-add' %}' type="button" class="btn btn-primary" style="">Add Group</a></span>
          </div>
	  
          </div>
        </div> 
        <div class="col-lg-12">
		&nbsp;
	</div>	
        <table width="100%" id='table-policy' class='hover table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline'>
        <thead>
        <tr><th>ID</th><th>Period Group</th><th>Periods</th><th>Action</th></tr>
        </thead>
        <tbody>
        {% for bp in bp_groups %}
            <tr>
                <td>{{ bp.id }}</td>
                <td>{{ bp.name }}</td>
                <td>{% for p in bp.booking_period.all %} {{ p.period_name }} ({{ p.option_description }})<BR> {% endfor %}</td>
                <td>
                   <a href='{% url 'dash-bookingperiod-group-edit' bp.id %}'>Edit</a><BR>
                   <a href='{% url 'dash-bookingperiod-group-view' bp.id %}'>View Periods</a><BR>
                 

                </td>
            </tr>

	{% endfor %}
        </tbody>
        </table>

    </div>
</div>
<script>

function loadTable() {
    $('#table-policy').dataTable({searching: false, paging: true, "pageLength": 25, "order": [[ 0, "asc" ]],
     columnDefs: [
       { type: 'natural-nohtml', targets: 0 }, { 'aTargets':  1 },  { 'aTargets':  2 }, { type: 'natural-nohtml', targets: 3 }
     ]
    });
}
window.onload= function() {
    loadTable();
}
</script>
{% endblock %}
