{% extends 'mooring/base.html' %}
{% load static %}
{% load users %}
{% block extra_css %}
    <link href="/static/ledger/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/common/css/dataTables.bootstrap.min.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link href="/static/common/css/select2.min.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link href="/static/common/css/select2-bootstrap.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link href="/static/common/css/font-awesome.css?ver={{ GIT_COMMIT_HASH }}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'mooring/css/dashboard.css' %}?ver={{ GIT_COMMIT_HASH }}">
{% endblock %}
{% block extra_js %}
{% endblock %}
{% block requirements %}
{% endblock %}

{% block content %}



    <div class="container" id="dashboard-table-container">


<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="title_heading">
        <h3 class="panel-title">
            <a role="button" data-toggle="collapse" href="#search_person_company_collapse" aria-expanded="false" aria-controls="search_person_company_collapse">
                Failed Refunds 
            </a>
        </h3>
    </div>

    <div class="panel-collapse collapse in" id="search_person_company_collapse" role="tabpanel" aria-labelledby="search_person_company_heading">
        <div class="panel-body">

        <div class="col-lg-12">
		&nbsp;
	</div>	
        <table width="100%" id='table-policy' class='hover table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline'>
        <thead>
        <tr><th>ID</th><th>Booking ID</th><th>Invoice Ref#</th><th>Refund Amount</th><th>Status</th><th>Created</th><th>Actions</th></tr>
        </thead>
        <tbody>
        {% for row in failedrefunds %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.booking.id }}</td>
                <td>{{ row.invoice_reference }}</td>
                <td>${{ row.refund_amount }}</td>
                <td>{{ row.get_status_display }}</td>
                <td>{{ row.created }}</td>
                <td>
                   <a href='/ledger/payments/invoice/payment?invoice={{ row.invoice_reference }}'>View Invoice Payment</a><BR>
                   <a href='{% url 'dash-complete_failed_refund' row.id %}'>Mark Completed</a><BR>

                </td>
            </tr>

	{% endfor %}
        </tbody>
        </table>

    </div>
</div>
<script>

function loadTable() {
    $('#table-policy').dataTable({searching: false, paging: true, "pageLength": 25, "order": [[ 0, "asc" ]],
     columnDefs: [
       { type: 'natural-nohtml', targets: 0 }, { 'aTargets':  1 },  { 'aTargets':  2 }, { type: 'natural-nohtml', targets: 3 }
     ]
    });
}
window.onload= function() {
    loadTable();
}
</script>
{% endblock %}
