{% extends 'ps/base.html' %}
{% load static %}

{% block title %}
    Campsite booking selector - Department of Parks and Wildlife
{% endblock %}

{% block content %}
    <noscript><div class="container"><div class="row">
        <div class="col-sm-12"><div class="well">
            <h3>Sorry, the campsite booking selector requires JavaScript support!</h3>
            <p>Please ensure that JavaScript is enabled in your browser.</p>
        </div></div>
    </div></div></noscript>
    <div id="availability"></div>
    <script src="{% static 'availability/1.2.1/js/vendor.js' %}"></script>
    <script src="{% static 'availability/1.2.1/js/app.js' %}"></script>
    <script type="text/javascript">
window.onload = function () {
    {% if ground_id %}
    var availability = availabilityApp('#availability', {
        siteId: parseInt('{{ ground_id|escapejs }}')
    });
    {% else %}
    var availability = availabilityApp('#availability');
    {% endif %}
};
    </script>
 {% endblock %}

