{% extends 'ps/base.html' %}
{% load static %}

{% block title %}
    Campsite booking selector - Department of Parks and Wildlife
{% endblock %}

{% block content %}
    <div id="availability"></div>

    <script type="text/javascript">
    var parkstayGroundId = '{{ ground_id|escapejs }}';
    </script>
    <script src="{% static 'availability/js/manifest.js' %}"></script>
    <script src="{% static 'availability/js/vendor.js' %}"></script>
    <script src="{% static 'availability/js/app.js' %}"></script>
{% endblock %}

