{% load bootstrap3 %}

{% load static %}
<div class="">
    <div class="container">
        <div class="masthead">
            <div class="row">
                <div class="col-lg-8">
                    <div class="agency-freespace">
                        <h1 id="site-title" class="site-logo">
                           <a href="{%url 'home'%}">
                              <img src="/static/ps/img/logo-park-stay.gif" alt="Department of Parks and Wildlife - Park Stay" class="img-responsive"/>
                           </a>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
