{% extends 'ps/base.html' %}

{% load bootstrap3 %}

{% load static %}

{% block extra_css %}
    <link type="text/css" href="{% static 'ledger/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block messages %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>
                    Welcome to Parkstay
                </h2>
                <p>This web portal allows you to manage your advance booking of a campsite in one of our many national parks.</p>
                <p><b>To make a new booking, or to find a campground in a national park, please visit the interactive map on our <a href="{{EXPLORE_PARKS_SEARCH}}">Explore Parks website</a>.</b></p>
                <p>Camping in our parks is limited to designated areas which have been chosen and designed to <a href="{{EXPLORE_PARKS_CONSERVE}}">minimise the impact on the environment</a>. For <a href="{{EXPLORE_PARKS_PEAK_PERIODS}}">peak periods</a> where booking is possible, you should book early to avoid disappointment as these are among our most popular campgrounds. Other campgrounds will often reach capacity early in school and public holiday periods, so plan to arrive early and have a back up plan with an alternative place to stay in case your first choice campground is full.</p>
            </div>
            <div class="col-md-4">
                {% if not request.user.is_authenticated %}
                    <div id="ps-login-container">
                        <h3>
                            Access Parkstay
                        </h3>
                        {% bootstrap_messages %}
                        <form method="post" action="{% url "social:complete" backend="email" %}">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <div id="submit-container">
                                {% bootstrap_button 'Submit' button_class='btn-primary' %}
                            </div>
                        </form>
                        <p>Submit your email to login or start the new-user registration process.</p>
                        <hr>
                        <h4>
                            Parkstay Password-less Logins
                        </h4>
                        <p>
                            At the Department of Parks and Wildlife, we employ a password-less authentication system, meaning you never need to remember
                            a password. When you need to login to a site, such as Wildlife Licensing, simply enter your email and an
                            authentication link will be sent to your registered email address. From there, simply follow the link to complete the login process.
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
