{% extends 'ps/base.html' %}

{% load bootstrap3 %}

{% load static %}

{% block extra_css %}
    <link type="text/css" href="{% static 'wl/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block left_menu_items %}
    <li><a href="">Contact Us</a></li>
    <li><a href="">Further Information</a></li>
{% endblock %}

{% block messages %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>
                    My Bookings
                </h2>
            </div>
            <div class="col-md-4">
                [insert content here]
            </div>
        </div>
    </div>
{% endblock %}
