{%  extends 'commercialoperator/emails/base_email.html' %}

{%  block content %}
	Your Application {{ proposal.lodgement_number }} for a commercial operations licence has been returned to you for further information.

    {% if reason %}
        <p>
        	<span>Amendment Reason: {{ reason }}</span>
        </p>
    {% endif %}

    {% if amendment_request_text %}
        <p><span> Amendment details: <br> {{ amendment_request_text }}</span></p>
    {% endif %}
    <p>
    Please <a href="{{url}}"> login</a> to your account to complete the application.
    </p>
    <p>You will receive a notification email if there is any incomplete information or documents missing from the application.</p>
    


{%  endblock %}
