{%  extends 'commercialoperator/emails/base_email.html' %}

{%  block content %}
    {% if reminder %}
        <p>This is a reminder for QA for Application <strong>{{proposal.lodgement_number}}</strong> that has been sent to you:</p>
    {% else %}
        <p>A QA for Application <strong>A{{proposal.id}}</strong> has been sent to you:</p>
        <p>Comments ({{completed_by}}): {{comments}}</p>
    {% endif %}
    <p>You can access this Application using the following link:</p>
    <a href="{{url}}">Access Application</a>
{%  endblock %}
