div.details-row-buffer {
    margin-top: 10px;
    margin-bottom: 10px;
}

a.add-link {
    margin-bottom: 10px;
}

div.wl-panel-heading {
    color: white !important;
    background-color: #529b6b !important;
}