.wl-header {
    background: #529b6b;
}

.wl-banner {
    height: 100px;
    padding-top: 10px;
    background-image: url("/static/wl/img/banner.png");
    background-repeat: no-repeat;
}

.wl-banner img {
    vertical-align: top;
}

.wl-banner div {
    margin-left: 10px;
    display: inline-block;
}

@media (max-width: 992px) {
    .wl-banner h1 {
        display: none;
    }
}

.wl-banner h1 {
    margin-top: 15px;
    font-size: 50px;
    color: #fcb13f;
}

.top-buffer {
    margin-top: 20px;
}

.top-buffer-s {
    margin-top: 10px;
}

.top-buffer-xs {
    margin-top: 5px;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.bottom-buffer-xs {
    margin-bottom: 5px;
}

.left-buffer-xxxl {
    margin-left: 40px;
}

.left-buffer {
    margin-left: 20px;
}

.left-buffer-m {
    margin-left: 15px;
}

.right-buffer {
    margin-right: 20px;
}

.wl-breadcrumbs {
    background-color: white;
    margin-top: -20px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.inline {
    display: inline;
}

.center {
    text-align: center;
}

.no-margin {
    margin: 0px;
}

.horizontal-scroll {
    overflow-x: scroll;
}

.modal-header {
    background-color: #529b6b;
    color: #fcb13f;
}

.modal-body {
    background-color: #529b6b;
    color: #fff;
}

.modal-footer {
    background-color: #529b6b;
}

.popover {
    max-width: 100%;
}

.intro {
    padding: 10px;
    border-radius: 3px;
}

.intro h3 {
    margin-top: 0px;
}

.intro h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.applications {
    color: #ffffff !important;
    background-color: #7d9acc !important;
}

.licences {
    color: #ffffff !important;
    background-color: #ead47c !important;
}

.returns {
    color: #ffffff !important;
    background-color: #d86565!important;
}