#wl-login-container {
  margin-top: 20px;
  padding: 15px;
  width: 100%;
  border-radius: 5px;
  background: #3d2dc6;
}
#wl-login-container .control-label {
  color: white;
}
#wl-login-container #submit-container {
  text-align: right;
  margin-top: 10px;
}
#wl-login-container h3,
#wl-login-container h4 {
  margin-top: 0px;
  color: white;
}
#wl-login-container p {
  color: white;
}
#wl-login-container a {
  color: white;
}
