<script>
$(function(){
    var new_card_form = $('#new_card_form');
    var store_card_pay_button = $('#store-card-pay-button');
    var new_card_pay_button = $('#new-card-pay-button');

    var stored_card_form = $('#stored_card_form');
    var mastercard_regex = /^(((222[1-9]|22[3-9][0-9]|2[3-6][0-9]{2}|27[01][0-9]|2720)\d+)|((5[1-6])\d+))$/;
    var visa_regex = /^[4]{1}\d+$/;
    // Reset Forms
    function reset_forms() {
        if (stored_card_form.length > 0){
            stored_card_form[0].reset();
        }
        new_card_form[0].reset();
        $('#use_stored').prop('checked',false);
    }

$("#pay-with-store-card").click(function() {
var card = $('input[name=card]:checked').val();
var paymentcsrfmiddlewaretoken = $('#payment-csrfmiddlewaretoken').val();
var checkout_token = $('#checkout_token').val();
var payment_method = $('#payment_method').val();

var data = {'card': card, 'payment-csrfmiddlewaretoken': paymentcsrfmiddlewaretoken, 'checkout_token': checkout_token, 'payment_method':payment_method };

$.ajax({
  type: "POST",
  url: '/api/process-payment',
  data: data,
  success: function( data, textStatus, jQxhr ) {
	  $("#ledger-payment-overtop").html("<BR><BR>"+data);
	  $("#ledger-payment-overtop").show();
	  
  },
  error: function( jqXhr, textStatus, errorThrown ) {
         console.log( errorThrown );
  },
  // dataType: 'text,' 
});	


});

$("#pay-with-new-card").click(function() {
alert('new');
var id_number = $('#id_number').val();
var id_expiry_month_0 = $('#id_expiry_month_0').val();
var id_expiry_month_1 = $('#id_expiry_month_1').val();
var ccv = $('#id_ccv').val();

var paymentcsrfmiddlewaretoken = $('#payment-csrfmiddlewaretoken').val();
var checkout_token = $('#checkout_token').val();
var payment_method = $('#payment_method').val();

var data = {'payment-csrfmiddlewaretoken': paymentcsrfmiddlewaretoken, 'checkout_token': checkout_token, 'payment_method':payment_method, 'number': id_number, 'expiry_month_0': id_expiry_month_0, 'expiry_month_1': id_expiry_month_1, 'ccv': ccv };

$.ajax({
  type: "POST",
  url: '/api/process-payment',
  data: data,
  success: function( data, textStatus, jQxhr ) {
          $("#ledger-payment-overtop").html("<BR><BR>"+data);
          $("#ledger-payment-overtop").show();

  },
  error: function( jqXhr, textStatus, errorThrown ) {
         console.log( errorThrown );
  },
  // dataType: 'text,'
});

});

	

$("input[name='card']").change(function() {
	if (this.value == 'new')  {
            if (!store_card_pay_button.hasClass('hide')) {
                   store_card_pay_button.addClass('hide');
            }


            if (new_card_pay_button.hasClass('hide')) {
                    new_card_pay_button.removeClass('hide');
            }
            


            if (new_card_form.hasClass('blur-div')) {
		    new_card_form.removeClass('blur-div');
	    }

            //if (new_card_form.hasClass('hide')) {
            //                       new_card_form.removeClass('hide');
            //                    }


        } else {

            if (store_card_pay_button.hasClass('hide')) {
                    store_card_pay_button.removeClass('hide');
            }


            if (!new_card_pay_button.hasClass('hide')) {
                   new_card_pay_button.addClass('hide');
            }


             if (!new_card_form.hasClass('blur-div')) {
	          new_card_form.addClass('blur-div');
             }




            // if (!new_card_form.hasClass('hide')) {
            //      new_card_form.addClass('hide');
            //}




            //if (!stored_card_form.hasClass('hide')) {
            //   stored_card_form.addClass('hide');
            //}
        }
});


//    $('#use_stored').click('on',function(){
//        if (this.checked) {
//            if (!new_card_form.hasClass('hide')) {
//               new_card_form.addClass('hide');
//            }
//            if (stored_card_form.hasClass('hide')) {
//               stored_card_form.removeClass('hide');
//            }
//        }
//        else{
//            if (new_card_form.hasClass('hide')) {
//               new_card_form.removeClass('hide');
//            }
//            if (!stored_card_form.hasClass('hide')) {
//               stored_card_form.addClass('hide');
//            }
//        }
//    });
    reset_forms();

    $('#id_number').on('keydown keyup',function(e){
        if(mastercard_regex.test(e.target.value)){
            $('.mastercard').removeClass('disabled');
            $('.visa').addClass('disabled');
        }
        else if (visa_regex.test(e.target.value)){
            $('.mastercard').addClass('disabled');
            $('.visa').removeClass('disabled');
        }
        else{
            $('.mastercard').addClass('disabled');
            $('.visa').addClass('disabled');
        }
    });
});
</script>
