{% extends 'checkout/payment_details.html' %}
{% load static %}
{% load i18n %}

{%block styles %}
    {{ block.super}}
    <style>
        .card-logo{
            width: 100px;
            float: left;
            margin: 5px;
        }
        .card-logo.disabled{
            opacity: 0.4;
        }
    </style>
{% endblock %}
{% block payment_details %}
<div clas="container">
    <!-- Pills -->
    <ul class="nav nav-pills nav-justified">
        <li class="active"><a data-toggle="tab" href="#card">Pay now by Card</a></li>
{% if bpay_allowed %}
        <li><a data-toggle="tab" href="#bpay">Pay later by BPAY/Cash/Cheque/Money Order</a></li>
{% endif %}
    </ul>
    <!-- Pills -->
    <div class="tab-content">
        <div id="card" class="tab-pane fade in active">
            <div class="well">
                <div class="sub-header">
                    <h3>{% trans "Card Details" %}</h3>
                </div>
                {% if store_card and cards %}
                    <div class="checkbox">
                        <label><input type="checkbox" id="use_stored" name="use_stored" value="True"/>Use Stored Cards</label>
                    </div>
                    <form id="stored_card_form" method="post" action="{% url 'checkout:preview' %}" class="hide form-stacked">
                        {% csrf_token %}
                        <input type="hidden" name="checkout_token" readonly value="True"/>
                        <input type="hidden" name="payment_method" readonly value="card"/>
                        <fieldset  id="storedcard_fieldset">
                            <legend>Stored Cards</legend>
                            <table style="width:20%;">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Ending</th>
                                        <th>Expiry Date</th>
                                        <th>Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for card in cards %}
                                    <tr>
                                        <td><input  type="radio" name="card" value="{{card.id}}" selected/></td>
                                        <td>{{card.last_digits}}</td>
                                        <td>{{card.expiry_date|date:'m/Y'}}</td>
                                        <td>{{card.get_card_type_display}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </fieldset>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-large btn-primary pull-right">{% trans "Continue" %}</button>
                        </div>
                    </form>
                {% endif %}
                <form id="new_card_form" method="post" action="{% url 'checkout:preview' %}" class="form-stacked">
                    {% csrf_token %}
                    <div>
                        <h4>Accepted Cards</h4>
                    </div>
                    <div class="clearfix">
                        <div class="visa card-logo disabled">
                            <img src="{% static 'payments/img/visa-logo.svg' %}" alt="visa-logo"/>
                        </div>
                        <div class="mastercard card-logo disabled">
                            <img src="{% static 'payments/img/mastercard-logo.svg' %}" alt="mastercard-logo"/>
                        </div>
                    </div>
                    {% include "partials/form_fields.html" with form=bankcard_form %}
                    {% if store_card %}
                    <div class="checkbox">
                        <label><input type="checkbox" name="store_card" value="True"/>Store Card</label>
                    </div>
                    {% endif %}
                    <input type="hidden" name="payment_method" readonly value="card"/>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-large btn-primary pull-right">{% trans "Continue" %}</button>
                    </div>
                </form>
            </div>
        </div>
{% if bpay_allowed %}
    <!-- BPAY -->
        <div id="bpay" class="tab-pane fade">
            <div class="well">
                <div class="sub-header">
                    <h3>{% trans "BPAY/Cash/Cheque/Money Order" %}</h3>
                    <p>Click Continue to preview your order. An invoice will be generated once you place your order.</p>
                </div>
                <form method="post" action="{% url 'checkout:preview' %}" class="form-stacked">
                    {% csrf_token %}
                    <input type="hidden" name="payment_method" readonly value="bpay"/>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-large btn-primary pull-right">{% trans "Continue" %}</button>
                    </div>
                </form>
            </div>
        </div>
{% endif %}

    </div>
</div> 
{% endblock %}
{% block extrascripts %}
    <script type="text/javascript" src="{% static 'payments/js/checkout.js'%}"></script>
    
    {{ block.super }}
{% endblock %}
