{% load i18n %}
{% load currency_filters %}
{% load thumbnail %}
{% load purchase_info_tags %}

    <div class="sub-header">
        {% block order_contents_actions %}
        
        {% endblock %}

        <h2 style='margin-left:2px'>Order Information</h2>
	<br>
    </div>
    <div class="basket-title">
        <div class="row" style='border-bottom: 3px solid #000000; margin-bottom: 12px; margin-left: 2px; margin-right: 2px;'>
            <p class="col-sm-8 h5" style='font-size: 19px'>Item</p>
            <p class="col-sm-2 h5 align-center" style='font-size: 19px'>Quantity</p>
            <p class="col-sm-2 h5 align-right" style='font-size: 19px'>Total</p>
        </div>
    </div>
    
    {%if not basket.custom_ledger %}
        {% for line in basket.all_lines %}
            {% purchase_info_for_line request line as session %}
            <div class="basket-items">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="image_container">
                            {% if line.product.primary_image.original.url %}
                                {% with image=line.product.primary_image %}
                                    {% thumbnail image.original "100x100" upscale=False as thumb %}
                                        <a href="{{ form.instance.product.get_absolute_url }}"><img class="thumbnail" src="{{ thumb.url }}" alt="{{ product.get_title }}"></a>
                                    {% endthumbnail %}
                                {% endwith %}
                            {% else %}
                                <img class="thumbnail" src="https://static.dpaw.wa.gov.au/images/no-image.jpg" alt="{{ product.get_title }}">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <h3>{% comment %}Temp comment to block users from accessing the shop pages. <a href="{{ line.product.get_absolute_url }}">{% endcomment %}{{ line.description }}{% comment %}</a>{% endcomment %}</h3>
                        
                    </div>
                    <div class="col-sm-1 align-center">
                        {{ line.quantity }}
                    </div>
                    <div class="col-sm-2 align-right">
                        <p class="price_color">
                            {% if not show_tax_separately and line.is_tax_known %}
                                {{ line.line_price_incl_tax|currency:basket.currency }}
                            {% else %}
                                {{ line.line_price_excl_tax|currency:basket.currency }}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        {% for line in basket.all_lines %}
            <div class="basket-items">
                <div class="row" style='margin-left:2px;'>
                    <div class="col-sm-8">
                        <h3 style='font-size: 19px; font-weight: normal;'>{{ line.ledger_description }}</a></h3>
                    </div>
                    <div class="col-sm-2 align-center">
                        {{ line.quantity }}
                    </div>
                    <div class="col-sm-2 align-right">
                        <p class="price_color">
                            {% if not show_tax_separately and line.is_tax_known %}
                                {{ line.line_price_incl_tax|currency:basket.currency }}
                            {% else %}
                                {{ line.line_price_excl_tax|currency:basket.currency }}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <BR><BR>
    <div class="row">
        <div class="col-sm-6">&nbsp;</div>
        <div class="col-sm-6" style='font-size: 26px !important'>
            <div class="sub-header">
                <h3>&nbsp;{% trans 'Totals' %}</h3>
            </div>
            {% include 'basket/partials/basket_totals.html' %}
        </div>
    </div>

