{% extends 'oscar/checkout/preview.html' %}
{% load currency_filters %}
{% load i18n %}
{% load thumbnail %}
{% load purchase_info_tags %}
{% load staticfiles %}

<style>
.page_inner {
border-radius: 6px 6px 6px 6px !important;

}

</style>


{% block checkout_title %}
    {% trans "" %}
{% endblock %}

{% block checkout_nav %}
{% endblock %}

{% block iicontent %}
    {% include "checkout/process-payment.html" %}
{% endblock %}

{% block preview_order %}
{% endblock preview_order %}


{% block shipping_address %}
{% if shipping_method.code != 'no-shipping-required'%}

    <div class="col-sm-6">
        <div class="sub-header">
            <h2>{% trans "Shipping" %}</h2>
        </div>
        {% if shipping_address %}
            <div class="well well-info">
                {% block shipping_address_actions %}
                    <a href="{% url 'checkout:shipping-address' %}" class="pull-right">
                        {% trans "Change" %}
                    </a>
                {% endblock %}
                <h3>{% trans "Address" %}</h3>
                <address>
                    {% for field in shipping_address.active_address_fields %}
                        {{ field }}<br/>
                    {% endfor %}
                </address>

                {% if shipping_address.phone_number %}
                    <h4>{% trans "Contact" %}</h4>
                    <p>
                        {% trans "Phone" %}: {{ shipping_address.phone_number }}
                        {% if guest_email %}
                            <br/>{% trans "Email" %}: {{ guest_email }}
                        {% endif %}
                    </p>
                {% endif %}

                {% if shipping_address.notes %}
                    <h4>{% trans "Instructions" %}</h4>
                    <p>{{ shipping_address.notes|linebreaks }}</p>
                {% endif %}
            </div>
        {% endif %}

        {% if shipping_method %}
            <div class="well well-info">
                {% block shipping_method_actions %}
                    <a href="{% url 'checkout:shipping-method' %}" class="pull-right">
                        {% trans "Change" %}
                    </a>
                {% endblock %}
                <h3>{% trans "Shipping method" %}</h3>
                <p>{{ shipping_method.name }}
                    {% if shipping_method.description %}
                        - {{ shipping_method.description|safe }}
                    {% endif %}
                </p>

            </div>
        {% endif %}
    </div>
{% endif %}
{% endblock shipping_address %}

{% block order_contents %}
<style>
.page_inner {
	border-radius: 6px 6px 6px 6px !important;

}

</style>
{% endblock order_contents %}
{% block payment_method %}

{% endblock %}

{% block place_order %}


    <form method="post" action="{% url 'checkout:preview' %}" id="place_order_form" onsubmit="placeOrderForm();">
        {% csrf_token %}
        <input type="hidden" name="action" value="place_order" />

        {% comment %}
            When submitting sensitive data on the payment details page (eg a bankcard)
            we don't want to save the data and so we pass the bound form to the preview
            template and render it in a hidden div.  Then the payment information will
            get re-submitted when the user confirms the order.
        {% endcomment %}
        <div style="display:none">
            {% block hiddenforms %}{{ bankcard_form.as_p }}{% endblock %}
        </div>
        {% if payment_method == 'card' %}
              <center><h2>Preparing to process payment, Please Wait</h2></center>
        {% endif %}

        <div class="form-group clearfix">
            <div class="row">
                <div class="col-sm-3 col-sm-offset-9">
	             <div id='payment-loader'></div>

                     <button id="place-order" formnovalidate type="submit" class="btn btn-primary btn-lg btn-block" data-loading-text="{% trans 'Submitting...' %}" {% if payment_method == 'card' %}style='display:none'{% endif %}>
                         {% if payment_method == 'card' %}
                            {% trans "Pay" %}
                         {% else %}
                            {% trans "Continue" %}
                         {% endif %}
                     </button>
                </div>
            </div>
        </div>
    </form>

    <script>
            var place_order_form = document.getElementById("place_order_form");
            function placeOrderForm() {
                               $('.page_inner').hide();
                               var page = document.getElementById('default');
                               var pageheight = page.parentElement.scrollHeight;
		               // var divheight = window.outerHeight || window.pageYOffset ||  window.scrollMaxY;
		               pageheight = pageheight + 20;
		               var div = document.createElement("div");
		                    
		                   divhtml = "<div id='ledger-payment-loader' style='height:"+pageheight+"px'>";
                                   divhtml += "<div class='ledger-payment-loader-box-align' >";
			           divhtml += " <center>";
			           divhtml += " <div class='ledger-payment-loader-box' >";
			    
                                   divhtml += "  <img  src='/static/ledger/images/ajax-loader-spinner.gif'><br><br>";
                                   divhtml += "  <strong>PROCESSING PAYMENT</strong> ";
		                   divhtml += "</div>";
			           divhtml += " </center>";
			           divhtml += "</div>";
		               div.innerHTML = divhtml;
		               div.id = "payment-loader-popup";
		               div.style.height = pageheight;
		               document.body.prepend(div);
	                       //document.getElementById("payment-loader").innerHTML= "LOADING";	    
	    }

            function windowResized() { 
		    var ploader = document.getElementById('ledger-payment-loader');
		    var page = document.getElementById('default');
		    var pageheight = page.parentElement.scrollHeight;
		    pageheight = pageheight + 20;
		    // var divheight = window.outerHeight || window.pageYOffset ||  window.scrollMaxY;
		    console.log(pageheight);
		    ploader.style.height=pageheight+'px';

            }
            window.addEventListener("resize",windowResized);

	    //var payment_loader = {
	    //        init: function() {
            //            payment_loader.loop();
	    //        },
	    //        loop: function() {
	    //    	if (document.readyState == "loading") {
            //                console.log(document.readyState);
	    //    	    document.getElementById("payment-loader").innerHTML= "LOADING";
	    //    	}
	    //    	if (document.readyState == "complete") {
            //                document.getElementById("payment-loader").innerHTML= "COMPLETED";
	    //            }
	    //            setInterval("payment_loader.loop()",100);
	    //        }

            //}
            //payment_loader.init();
	    //var chkReadyState = setInterval(function() {
	    //            if (document.readyState == "complete") {
	    //    		        // clear the interval

	    //    	}
	    //            console.log(document.readyState);
	    //            (chkReadyState);
	    //    		        // finally your page is loaded.
	    //}, 100);
     function processPayment() { 

         placeOrderForm(); 
         document.getElementById("place-order").click();
     }
     function checkForJquery() {

     if (window.jQuery) {
           processPayment();
     } else {
           console.log("Waiting for Jquery to Load");
   	   setTimeout("checkForJquery()", "800");
     }
     }
     checkForJquery();
    </script>


{% endblock place_order %}
