{% extends 'wl/base.html' %}

{% load static %}

{% block extra_css %}
    <link href="//static.dpaw.wa.gov.au/static/cdnjs/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"/>
    <link href="{% static 'wl/css/applications.css' %}" rel="stylesheet"/>
{% endblock %}

{% block intro %}
    <div class="container bottom-buffer">
        <div class="top-buffer bottom-buffer intro applications">
            {% block intro_title %}{% endblock %}
            {% block intro_subtitle %}{% endblock %}
        </div>
        {% block intro_text%}{% endblock %}
        <hr>
    </div>
{% endblock %}