{% extends 'wl/base.html' %}

{% load static %}

{% load bootstrap3 %}

{% load jsonify %}

{% block extra_css %}    
    <link href="//static.dpaw.wa.gov.au/static/libs/select2/3.5.4/select2.min.css" rel="stylesheet"/>
    <link href="//static.dpaw.wa.gov.au/static/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.css" rel="stylesheet"/>
    <link href="{% static 'wl/css/application.css' %}" rel="stylesheet"/>
{% endblock %}

{% block requirements %}
    require(['js/enter_details'], function(enter_details) {
        enter_details('#mainContainer', {{ structure|jsonify }}, '{{ csrf_token }}'{% if data %}, {{ data|jsonify }}{% endif %});
    });
{% endblock %}

{% block content %}
    <div id="mainContainer" class="container" />
{% endblock %}