<div class="form-group">
    <input name="{{name}}" type="checkbox" {{#if required}}data-parsley-required{{/if}} {{#if value}}checked{{/if}}> {{label}}
    {{#if help_text}}
        <p class="help-block">{{ help_text }}</p>
    {{/if}}
</div>