<div class="form-group">
    <label>{{label}}</label>
    <div class='input-group date'>
        <input name="{{name}}" class="form-control" placeholder="DD/MM/YYYY" {{#if required}}required{{/if}} {{#if value}}value="{{value}}"{{/if}}/>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    {{#if help_text}}
        <p class="help-block">{{{help_text}}}</p>
    {{/if}}
</div>