<h4>{{label}}</h4>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            {{#each children}}
                <td><label>{{this.label}}</label></td>
            {{/each}}
            {{#unless isPreviewMode }}
                <td><label>Remove</label></td>
            {{/unless}}
        </tr>
    </thead>
    <tbody>
    
    </tbody>
</table>
{{#unless isPreviewMode }}
    <div class="add-group">
        <a>Add Row</a>
    </div>
{{/unless}}