<h4>{{label}}</h4>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            {{#each children}}
                <td><label>{{this.label}}</label></td>
            {{/each}}
            <td><label>Remove</label></td>
        </tr>
    </thead>
    <tbody>
    
    </tbody>
</table>
<div class="add-group">
    <a>Add Row</a>
</div>