<div class="form-group">
    <label>{{label}}</label>
    <input name="{{name}}" class="form-control" {{#if required}}required{{/if}} {{#if value}}value="{{value}}"{{/if}}/>
    {{#if help_text}}
        <p class="help-block">{{{help_text}}}</p>
    {{/if}}
 </div>