{% extends 'wl/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'wl/css/dashboard.css' %}">
{% endblock %}

{% block requirements %}
    require(["{%  static 'wl/js/dash_tree.js' %}"], function (app) {
        var options = {
            treeSelector: '#dashboard-tree',
            treeData: {% if dataJSON  %} {{ dataJSON|safe }} {% else %} [] {% endif %}
        };
        app(options);
    });
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>{{  title }}</h1>
            <div id="dashboard-tree"></div>
        </div>
    </div>
{% endblock %}