{% extends 'wl/dash_tables.html' %}

{% block applications %}
{% endblock %}

{% block licences %}
{% endblock %}

{% block returns_filters %}
    <form class="form" id="returns-filter-form">
        <div class="col-md-3">
            <div class="form-group">
                <label for="returns-filter-licence-type">Licence Type: </label>
                <select class="form-control" name="licence_type"
                        id="returns-filter-licence-type">
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="returns-filter-status">Status: </label>
                <select class="form-control" name="status"
                        id="returns-filter-status">
                </select>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <a class="hidden btn btn-primary btn-xs" id="reset-returns-filter-button" href="#">Reset filters</a>
        </div>
    </div>
{% endblock %}