{% extends 'wl/dash_tables.html' %}

{% block content %}
    <div class="container">
        <p>
            <a href="{% url 'wl_applications:new_application' %}">Apply for a new wildlife licence online</a>
        </p>
    </div>
    {{ block.super }}
{% endblock %}

{% block applications_title %}My Proxied Applications{% endblock %}
{% block applications_filters %}
    <form class="form" id="applications-filter-form">
        <div class="col-md-3">
            <div class="form-group">
                <label for="applications-filter-licence-type">Licence Type: </label>
                <select class="form-control" name="licence_type"
                        id="applications-filter-licence-type">
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="applications-filter-status">Status: </label>
                <select class="form-control" name="status"
                        id="applications-filter-status">
                </select>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <a class="hidden btn btn-primary btn-xs" id="reset-applications-filter-button" href="#">Reset filters</a>
        </div>
    </div>
{% endblock %}

{%  block licences %}
{#    {% block licences_title %}My Proxied Licences{% endblock %}#}
{%  endblock %}

{% block returns_title %}My Proxied Returns{% endblock %}
{% block returns_filters %}
    <form class="form" id="returns-filter-form">
        <div class="col-md-3">
            <div class="form-group">
                <label for="returns-filter-licence-type">Licence Type: </label>
                <select class="form-control" name="licence_type"
                        id="returns-filter-licence-type">
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="returns-filter-status">Status: </label>
                <select class="form-control" name="status"
                        id="returns-filter-status">
                </select>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <a class="hidden btn btn-primary btn-xs" id="reset-returns-filter-button" href="#">Reset filters</a>
        </div>
    </div>
{%  endblock %}