{% extends 'wl/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet"
          href="//static.dpaw.wa.gov.au/static/libs/datatables/1.10.10/css/dataTables.bootstrap.css">
    <link rel="stylesheet" href="{% static 'wl/css/dashboard.css' %}">
{% endblock %}

{% block requirements %}
    require(["{%  static 'wl/js/dash_tables.js' %}"], function (app) {
        var options = {
            data: {% if dataJSON %} {{ dataJSON|safe }} {% else %} {} {% endif %}
        };
        app(options);
    });
{% endblock %}

{% block content %}
    <div class="container" id="dashboard-table-container">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default" id="applications">
                <div class="panel-heading" role="tab" id="applications-heading">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#applications-collapse"
                           aria-expanded="true" aria-controls="collapseOne">
                            <h3>Applications</h3>
                        </a>
                    </h4>
                </div>
                <div id="applications-collapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="applications-heading">
                    <div class="panel-body">
                        <div class="row pad-bottom-20">
                            <div id="applications-filter-panel" class="filter-panel">
                                <div class="col-md-10 col-md-offset-1">
                                    <form class="form-inline" id="applications-filter-form">
                                        <div class="form-group">
                                            <label for="applications-filter-licence-type">License Type: </label>
                                            <select class="form-control" name="license_type" id="applications-filter-licence-type">
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="applications-filter-status">Status: </label>
                                            <select class="form-control" name="status" id="applications-filter-status">
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="applications-filter-assignee">Assignee: </label>
                                            <select class="form-control" name="assignee" id="applications-filter-assignee">
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <table id="applications-table" class="table table-striped table-bordered dataTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}