{% extends 'wl/dash_tables.html' %}

{% block applications %}
{% endblock %}

{% block licences_filters %}
    <form class="form" id="licences-filter-form">
        <div class="col-md-3">
            <div class="form-group">
                <label for="licences-filter-licence-type">Licence Type: </label>
                <select class="form-control" name="licence_type"
                        id="licences-filter-licence-type">
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="licences-filter-status">Status: </label>
                <select class="form-control" name="status"
                        id="licences-filter-status">
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="licences-filter-expiry-after">Expire After: </label>
                <div class="input-group date" id="licences-filter-expiry-after-date">
                    <input type="text" class="form-control" name="expiry_after"
                           id="licences-filter-expiry-after" placeholder="DD/MM/YYYY">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="licences-filter-expiry-before">Expire before: </label>
                <div class="input-group date" id="licences-filter-expiry-before-date">
                    <input type="text" class="form-control" name="expiry_before"
                           id="licences-filter-expiry-before" placeholder="DD/MM/YYYY">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <a class="hidden btn btn-primary btn-xs" id="reset-licences-filter-button" href="#">Reset filters</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-10">
                <a href="#" target="_blank" id="licences-bulk-renewals" class="btn btn-primary btn-xs pull-right">Bulk Renewal Letters (PDF)</a>
            </div>
        </div>
    </form>
{% endblock %}

{% block returns %}
{% endblock %}