{% extends 'wl/base.html' %}

{% load static %}

{% load bootstrap3 %}

{% block breadcrumbs %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb wl-breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'wl_main:list_profiles' %}">List Profiles</a></li>
                    <li class="active">Create Profile</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Create Profile</h2>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form profile_form %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Postal Address</h4>
                        </div>
                        <div class="panel-body">
                            {% bootstrap_form address_form %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Create</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
