{% extends 'wl/base.html' %}

{% load static %}

{% load bootstrap3 %}

{% block breadcrumbs %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb wl-breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="active">Edit Account</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block requirements %}
    require(['js/edit_account'], function (edit_account) {
        edit_account.init();
    });
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Edit Account</h2>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form_errors emailuser_form %}
                    {% bootstrap_form emailuser_form %}
                    {% if allow_discontinue %}
                        <button type="submit" name="discontinue" class="btn btn-danger pull-left">Discontinue Registration</button>
                    {% endif %}
                    <button type="submit" class="btn btn-primary pull-right">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
