{% extends 'wl/base.html' %}

{% load static %}

{% load bootstrap3 %}

{% block breadcrumbs %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb wl-breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'wl_main:list_profiles' %}">List Profiles</a></li>
                    <li class="active">Edit Profile</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container bottom-buffer">
        <div class="row">
            <div class="col-md-12">
                {% block heading %}
                    <h2>Edit Profile</h2>
                {% endblock %}
                <hr>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form profile_form %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Postal Address</h4>
                        </div>
                        <div class="panel-body">
                            {% if address_form.profiles|length > 1 %}
                                <label class="control-label">You have {{address_form.profiles|length}} profiles linked with this address.</label>
                            {% endif %}
                            {% bootstrap_form address_form %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
