{% extends 'wl/base.html' %}

{% load static %}

{% load jsonify %}

{% block extra_css %}
    <link rel="stylesheet"
          href="//static.dpaw.wa.gov.au/static/libs/datatables/1.10.10/css/dataTables.bootstrap.css">
    <link rel="stylesheet"
          href="//static.dpaw.wa.gov.au/static/libs/bootstrap-select/1.9.4/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="{% static 'wl/css/dashboard.css' %}">
{% endblock %}

{% block requirements %}
    require(['js/personas_table'], function (personasTable) {
        personasTable.initPersonasTable('#personas', {{ data|jsonify }}, '{% url 'main:edit_persona_prefix' %}');
    });
{% endblock %}

{% block breadcrumbs %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb wl-breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="active">List Personas</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Personas</h3>
                </div>
                <div class="panel-body">
                    <a href="{% url 'main:create_persona' %}">Create new persona</a>
                    <table id="personas" class="table table-striped table-bordered dataTable"></table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}