{% load bootstrap3 %}

<div class="modal fade" id="logCommEntryModal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Add log entry</h4>
            </div>
            <form id="addLogCommEntryForm" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="modal-body">
                        {% bootstrap_form log_entry_form %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default">Add Entry</button>
                </div>
            </form>
        </div>
    </div>
</div>