<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Logs
                {% if not disable_collapse %}
                    <a data-toggle="collapse" href="#logBody" class="pull-right">
                        <span class="glyphicon"></span>
                    </a>
                {% endif %}
            </div>
            <div id="logBody" class="panel-body panel-collapse in">
                <div class="row">
                    <div class="col-md-12">
                        <label>{% if type %}{{ type }} {% endif %}Communications</label>
                    </div>
                    <div class="col-md-6">
                        <a id="showCommunicationLog" data-toggle="popover" class="pull-left" role="button">Show</a>
                    </div>
                    <div class="col-md-6">
                        <a id="addCommunicationLogEntry" class="pull-right">
                            {% if add_text %}{{ add_text }}{% else %}Add entry{% endif %}</a>
                    </div>
                </div>
                {% if not hide_action_log %}
                    <div class="row top-buffer-s">
                        <div class="col-md-12">
                            <label>{% if type %}{{ type }} {% endif %}Actions</label>
                        </div>
                        <div class="col-md-12">
                            <a id="showActionLog" data-toggle="popover" class="pull-left" role="button">Show</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>