{% extends 'wl/base.html' %}

{% load static %}

{% load bootstrap3 %}

{% block breadcrumbs %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb wl-breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="active">Manage Identification</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3>Upload new identification</h3>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% with field=form_id.identification_file %}
                        <div class="form-group">
                            <div class="{% if field.errors %} has-error has-feedback {% endif %}">
                            <label for="{{ field.auto_id }}">{{ field.label }}</label> 
                            <input id="{{ field.auto_id }}" name="{{ field.name }}" type="file" class="form-control" {% if file_types %}accept="{{ file_types }}"{% endif %}>
                            {% if field.errors %}
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                <span class='text-danger'>{{ field.errors|join:'<br />' }}</span>
                            {% endif %}
                            </div>
                            {% if field.help_text %}
                                <p class="help-block">{{ field.help_text }}</p>
                            {% endif %}
                        </div>
                    {% endwith %}
                    <button type="submit" class="btn btn-primary pull-right" name="identification">Upload Identification</button>
                </form>
            </div>
            {% if existing_id_image_url %}
                <div class="col-md-4">
                    <h3>Current identification</h3>
                    <div class="center">
                        {% if existing_id_image_url|slice:'-3:' == 'pdf' %}
                            <a href="{{ existing_id_image_url }}" target="_blank">
                                <img src="{% static 'wl/img/pdf.png' %}">
                                <p>View PDF</p>
                            </a>
                        {% else %} 
                            <img src="{{ existing_id_image_url }}" width="100%"/>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
        {%  if form_senior %}
        <hr>
        <div class="row">
            <div class="col-md-12">
                <p>If you are the holder of a senior card, you can upload it here to be eligible for a discount on some licence types.</p>
            </div>
            <div class="col-md-8">
                <h3>Upload Senior card</h3>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% with field=form_senior.senior_card %}
                        <div class="form-group">
                            <div class="{% if field.errors %} has-error has-feedback {% endif %}">
                            <label for="{{ field.senior_card }}">{{ field.label }}</label>
                            <input id="{{ field.senior_card }}" name="{{ field.name }}" type="file" class="form-control" {% if file_types %}accept="{{ file_types }}"{% endif %}>
                            {% if field.errors %}
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                <span class='text-danger'>{{ field.errors|join:'<br />' }}</span>
                            {% endif %}
                            </div>
                            {% if field.help_text %}
                                <p class="help-block">{{ field.help_text }}</p>
                            {% endif %}
                        </div>
                    {% endwith %}
                    <button type="submit" class="btn btn-primary pull-right" name="senior_card">Upload Senior Card</button>
                </form>
            </div>
            {% if existing_senior_card_image_url %}
                <div class="col-md-4">
                    <h3>Current Senior Card</h3>
                    <div class="center">
                       {% if existing_senior_card_image_url|slice:'-3:' == 'pdf' %}
                            <a href="{{ existing_senior_card_image_url }}" target="_blank">
                                <img src="{% static 'wl/img/pdf.png' %}">
                                <p>View PDF</p>
                            </a>
                        {% else %}
                            <img src="{{ existing_senior_card_image_url }}" width="100%"/>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
{% endblock %}