{% extends 'dashboard/layout.html' %}
{% load currency_filters %}
{% load i18n %}

{% block extrastyles %}
    {{block.super }}
    <script type="text/javascript" src="//static.dpaw.wa.gov.au/static/libs/localforage/1.3.1/localforage.min.js"></script>
    <script type="text/javascript" src="//static.dpaw.wa.gov.au/static/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
{% endblock %}

{% block title %}
    {% trans "BPAY Transaction" %} {{ txn.reference }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            <span class="divider"></span>
        </li>
        <li>
            BPAY <span class="divider"></span>
        </li>
        <li>
            <a href="{% url 'payments:bpay-collection-list' %}">{% trans "Collections" %}</a>
            <span class="divider"></span>
        </li>
        <li class="active">{{ txn.reference }}</li>
    </ul>
{% endblock %}

{% block headertext %}
    {% blocktrans with id=collection.date %}
        Collection {{ id}}
    {% endblocktrans %}
{% endblock %}

{% block dashboard_content %}
    
    <script id="bpay_transactions" type="text/x-handlebars-template" data-url="/ledger/payments/api/bpay/collections/{{collection.date|date:'Y-m-d'}}.json?transactions=True" data-onload="upgradeTable">
        <table id="collections_table" class="hide table table-striped table-bordered">
            <thead>
                <tr>
                    <th>CRN</th>
                    <th>Amount</th>
                    <th>Type</th>
                    <th>Payment Date</th>
                    <th>Payment Method</th>
                    <th>Entry Method</th>
                </tr>
            </thead>
            {% verbatim %}
            <tbody>{{#each transactions}}
                <tr>
                    <td>{{ this.crn }}</td>
                    <td>{{ this.amount }}</td>
                    <td>{{ this.type }}</td>
                    <td>{{ this.payment_date }}</td>
                    <td>{{ this.payment_method }}</td>
                    <td>{{ this.entry_method }}</td>
                </tr>
                {{/each}}
            </tbody>
            {% endverbatim %}
        </table>
        
{% endblock dashboard_content %}

{% block extrascripts %}
    {{block.super}}
    <script>
        window._renderHandlebars = function(tmpl, data, callback) {
            tmpl.after(data);
            window[callback]();
        }
    
        window.renderHandlebars = function() {
            $("script[data-url]").each(function() {
                var tmpl = $(this);
                var url = tmpl.attr("data-url");
                var callback = tmpl.attr("data-onload");
                localforage.getItem(url).then(function(data) {
                    if (data) { _renderHandlebars(tmpl, data, callback) }
                    $.get(url, function(rawdata) {
                        console.log(rawdata);
                        var comp_data = Handlebars.compile(tmpl.html())(rawdata);
                        localforage.setItem(url, comp_data);
                        if (!data) { _renderHandlebars(tmpl, comp_data, callback) }
                    });
                });
            });
        }

        $(document).ready(renderHandlebars);
    </script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/dataTables.foundation.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.1.0/css/fixedHeader.foundation.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/scroller/1.4.0/css/scroller.foundation.css"/>
 
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/dataTables.foundation.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.1.0/js/dataTables.fixedHeader.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/scroller/1.4.0/js/dataTables.scroller.js"></script>
    
    <script>
        window.upgradeTable = function(){
            $('#collections_table').DataTable();
            $('#collections_table').removeClass("hide");
        }
        
    </script>
{% endblock %}