{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div>
        <form action="create_commercialoperator_help/" method="POST">
            {% csrf_token %}
                <button type="submit">Create CommercialOperator Help</button>
        </form>
        <br>
        <form action="create_apiary_help/" method="POST">
            {% csrf_token %}
                <button type="submit">Create Apiary Help</button>
        </form>
        <br>
        <form action="create_commercialoperator_help_assessor/" method="POST">
            {% csrf_token %}
                <button type="submit">Create CommercialOperator Help Assessor</button>
        </form>
        <br>

    </div>
    <br />
    {{ block.super }}
{% endblock %}
