{% extends "disturbance/base.html" %}

{% block content %}
<div class="row">
    <div class="col-xm-12 col-sm-6">
        <h1>Personal details</h1>
        <table class="table table-striped table-bordered table-condensed">
            <tbody>
                <tr><th>Email</th><td>{{ object.emailuser.email }}</td></tr>
                <tr><th>Given name(s)</th><td>{{ object.emailuser.first_name }}</td></tr>
                <tr><th>Surname</th><td>{{ object.emailuser.last_name }}</td></tr>
                <tr><th>Work phone</th><td>{{ object.work_phone}}</td></tr>
                <tr><th>Mobile</th><td>{{ object.mobile }}</td></tr>
            </tbody>
        </table>
        <a class="btn btn-primary" role="button" href="{% url 'user_profile_update' %}">Update your details</a>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-8">
        <h1>Addresses</h1>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-condensed">
                <tbody>
                    <tr>
                        <th>Postal address</th>
                        <td>{{ object.postal_address }}</td>
                        <td>
                        {% if object.postal_address %}
                            <a class="btn btn-primary btn-sm" role="button" href="{% url 'address_update' object.postal_address.pk %}">Update</a>
                            <a class="btn btn-danger btn-sm" role="button" href="{% url 'address_delete' object.postal_address.pk %}">Delete</a>
                        {% else %}
                            <a class="btn btn-primary btn-sm" role="button" href="{% url 'user_address_create' 'postal' %}">Create</a>
                        {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-8">
        <h1>Company/organisation details</h1>
        {% if organisations %}
        <p>You are delegated to submit applications on behalf of the following:</p>
        {% for org in organisations %}
        <h3>{{ org }}</h3>
        <p>
            <a class="btn btn-primary" role="button" href="{% url 'organisation_update' org.pk %}">Update details</a>
        </p>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-condensed">
                <tbody>
                    <tr>
                        <th>Postal address</th>
                        <td>{{ org.postal_address }}</td>
                        <td>
                        {% if org.postal_address %}
                            <a class="btn btn-primary btn-sm" role="button" href="{% url 'address_update' org.postal_address.pk %}">Update</a>
                            <a class="btn btn-danger btn-sm" role="button" href="{% url 'address_delete' org.postal_address.pk %}">Delete</a>
                        {% else %}
                            <a class="btn btn-primary btn-sm" role="button" href="{% url 'organisation_address_create' org.pk 'postal' %}">Create</a>
                        {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Billing address</th>
                        <td>{{ org.billing_address }}</td>
                        <td>
                        {% if org.billing_address %}
                            <a class="btn btn-primary btn-sm" role="button" href="{% url 'address_update' org.billing_address.pk %}">Update</a>
                            <a class="btn btn-danger btn-sm" role="button" href="{% url 'address_delete' org.billing_address.pk %}">Delete</a>
                        {% else %}
                            <a class="btn btn-primary btn-sm" role="button" href="{% url 'organisation_address_create' org.pk 'billing' %}">Create</a>
                        {% endif %}
                        </td>
                    </tr>
                    {% for d in org.delegates.all %}
                    <tr>
                        {% if forloop.first %}<th rowspan="{{ org.delegates.count }}">Delegated users</th>{% endif %}
                        <td>
                            {{ d.emailuser.get_full_name}}
                        </td>
                        <td>
                            <a class="btn btn-danger btn-sm" role="button" href="{% url 'organisation_unlink_delegate' org.pk d.emailuser.pk %}">Unlink</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
        {% else %}
        <p>You are not currently delegated to submit applications on behalf of any companies.</p>
        {% endif %}
        <a class="btn btn-primary" role="button" href="{% url 'organisation_create' %}">Create a company</a>
    </div>
</div>

{% endblock %}
