{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet"
          href="http://static.dpaw.wa.gov.au/static/libs/datatables/1.10.10/css/dataTables.bootstrap.css">
{% endblock %}

{% block requirements %}
    require(['js/officers_dashboard'], function (app) {
        var options = {
            applicationsTableSelector: '#applications-table',
            licensesTableSelector: '#licenses-table',
            returnsTableSelector: '#returns-table'
        };
        app(options);
    });
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div id="applications-panel">
                <div class="row">
                    <h1>Applications</h1>
                </div>
                <div class="row">
                    <table id="applications-table"
                           class="table table-striped table-bordered dataTable no-footer"></table>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="licenses-panel">
                <h1>Licenses</h1>
                <table id="licenses-table" class="table table-striped table-bordered dataTable"></table>
            </div>
        </div>
        <div class="row">
            <div id="returns-panel">
                <h1>Returns</h1>
                <table id="returns-table" class="table table-striped table-bordered dataTable"></table>
            </div>
        </div>
    </div>
{% endblock %}