<h3 id="applicant">Applicant</h3>
<hr>
<div class="child-anchor-point">
    <div class="form-group">
        <label>Select the applicant by typing the applicant's last name and selecting from the list.</label>
        <input name="applicant" id="applicantInput">
    </div>
</div>