<div class="well">
    <div class="row"><div class="col-sm-12">
            <!--<h3 class="text-primary">{{ booking.mooringarea.name }}, {{ booking.mooringarea.park.name }}</h3>-->
        <h3 class="text-primary">Booking View</h3>
    </div></div>
    <div class="row">
        <!--
        <div class="col-sm-3">
            {% if booking.campground.first_image.image.url %}
                <img class="img-thumbnail img-responsive" alt="" src="{{ booking.campground.first_image.image.url }}"/>
            {% endif %}
        </div>
        -->
        <div class="col-sm-9">
            <!--
            <div class="row">
                <div class="col-sm-4">
                    <b>Mooring:</b>
                </div>
                <div class="col-sm-8">
                    {{ booking.mooringarea.name }}
                </div>
            </div><div class="row">
                <div class="col-sm-4">
                    <b>Dates:</b>
                </div>
                <div class="col-sm-8">
                    {{ booking.stay_dates }}
                </div>
            </div><div class="row" style='display: none'>
                <div class="col-sm-4">
                    <b>Number of guests:</b>
                </div>
                <div class="col-sm-8">
                    {{ booking.stay_guests }}
                </div>
            </div><div class="row">
                <div class="col-sm-4">
                    <b>Booking confirmation number:</b>
                </div>
                <div class="col-sm-8">
                    {{ booking.confirmation_number }}
                </div>
            </div><div class="row">
                <div class="col-sm-4">
                    <b>Date booked:</b>
                </div>
                <div class="col-sm-8">
                    {{ booking.created }}
                </div>
            </div><div class="row">
                <div class="col-sm-4">
                    <b>Payment status:</b>
                </div>
                <div class="col-sm-8">
                    {{ booking.invoice_status }}
                </div>
            </div>
            -->
            <div class="row"><div class="col-sm-12" style="margin-top: 1em">
                {% if booking.invoice_status == 'paid' or booking.invoice_status == 'over_paid' %}
                    {% if request.user == booking.customer or request.user.is_staff or request.session.ps_last_booking == booking.id %}
                        <a href="{% url 'get_confirmation' booking.id %}" class="btn btn-info btn-lg" target="_blank" >Confirmation</a>
                        {% if request.user.is_authenticated %}
                            {% for bi in book_inv %}
                            <a href="{% url 'mooring-invoice-pdf' bi %}" class="btn btn-info btn-lg" >Invoice</a>
                {% endfor %}
                            {% if booking.in_future %}
                                <a href="{% url 'public_view_booking' booking.id %}" class="btn btn-info btn-lg" >Change Booking</a>
                                <a href="{% url 'public_cancel_booking' booking.id %}" class="btn btn-info btn-lg" >Cancel Booking</a>
                            {% endif %}
                        {% else %}
                            <a href="{% url 'home' %}" class="btn btn-info btn-lg">Log in</a><p>You must be logged in to see your invoice online.</p>
                        {% endif %}

                        <p style="font-size: 1.5rem; font-weight: bold;">You must bring your confirmation with you to the park</p>
                    {% else %}
                        <p style="font-size: 1.5rem; font-weight: bold;">You do not have permission to access the confirmation or invoice for this booking.<br>Please check your email or contact COLS directly.</p>
                    {% endif %}
                {% else %}<p style="font-size: 1.5rem; font-weight: bold;">You must bring your confirmation with you to the park Confirmation is only available after the booking is paid in full.</p>{% endif %}
            </div></div>
        </div>
    </div>
</div>

