{% extends 'mooring/base.html' %}
{% load static %}
{% block extra_css %}
    {{ block.super }}
    <!--link href="/static/common/css/font-awesome.css" rel="stylesheet"/-->
    <style>
        .bold {
            font-weight: bold;
        }
        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
            border:none;
        }
    </style>

    <div>


    </div>




{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">

        <div class="col-sm-12">
            <h2>Cancel Booking {{ booking.id }}</h2>
	</div>
        <div class="col-sm-12 col-md-12 col-lg-12">

Booking information below and refund or fees to pay in order to cancel booking.  Please click the button below to complete the booking cancellation.
<br>
<BR>
<div class="row"><div class="col-sm-12">
     <table cellspacing="0" width="100%" id="bookings-table" class="hover table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" role="grid" aria-describedby="bookings-table_info">
     <thead>
          <tr role="row"><th data-class="expand" class="expand sorting_asc" rowspan="1" colspan="1" aria-label=" Confirmation #"> Description</th><th class="sorting_disabled" rowspan="1" colspan="1" aria-label=" Amount"> Amount</th></tr>
     </thead>
     <tbody>
          {% cycle 'odd' 'even' as rowcolors silent %}
          {% for line in booking_fees %}
          {% cycle rowcolors %}
       	  <tr role="row" class="{{ rowcolors }}">
               	<td class="expand sorting_1" tabindex="0">{{ line.description }}</td>
                <td>${{ line.amount }}</td>
          </tr>
	  {% endfor %}

      </table>
      {% if booking_total < 0 %}  
       <h2>Refund Total : ${{ booking_total_positive }} </h2>
      {% else %}
        <h2>Total to Pay  : ${{ booking_total }} </h2>
      {% endif %}
 
</div>
 
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
		<form method="post" action="{% url 'public_cancel_booking' booking.id %}" id="place_order_form">
		{% csrf_token %}
		<BR><BR>
		<button id='cancel-booking' type='button' class="btn btn-info btn-lg" target="_blank" >Proceed with Cancellation</button>
                </div>

		</form>	
	</div>

    </div>
<script>
window.onload=function() {
$( "#cancel-booking" ).click(function() {
  console.log('button clicked');
  $( "#cancel-booking" ).html("Submitting....");
  $( "#cancel-booking" ).attr("disabled", "disabled");
  $( "#place_order_form" ).submit();
});
};

</script>

{% endblock %}

