{% extends 'ps/dash/dash_tables.html' %}
{% block campgrounds_filters %}
    <form class="form" id="campgrounds-filter-form">
        <div class="col-md-8">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="campgrounds-filter-status">Status: </label>
                    <select class="form-control" name="status"
                            id="applications-filter-status">
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="applications-filter-region">Region: </label>
                    <select class="form-control" name="region"
                            id="applications-filter-region">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group pull-right">
                <a style="margin-top: 20px;"class="btn btn-primary ">Add Campground</a>
            </div>
        </div>
    </form>
{% endblock %}
{% block campgrounds_table %}
    {% verbatim %}
      <div id="groundsList">
          <table class="hover table table-striped table-bordered" id="groundsTable">
                <thead>
                    <tr>
                        <th class="id">Campground ID</th>
                        <th class="name">Campground Name</th>
                        <th class="status">Status</th>
                        <th class="region">Region</th>
                        <th class="dogs_allowed">Dogs Allowed</th>
                        <th class="campfires_allowed">Campfires Allowed</th>
                        <th class="action">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
    </div>

    {% endverbatim %}
{% endblock %}
{% block campsite_types %}
{%  endblock %}

{% block bulk_pricing %}
{%  endblock %}
{% block custom_js %}

        <script type="text/javascript" src="//static.dpaw.wa.gov.au/static/libs/jquery/2.2.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript" src="//static.dpaw.wa.gov.au/static/libs/vue/1.0.9/vue.min.js"></script>
        <script type="text/javascript">
            var debounce = function (func, wait, immediate) {
                // Returns a function, that, as long as it continues to be invoked, will not
                // be triggered. The function will be called after it stops being called for
                // N milliseconds. If `immediate` is passed, trigger the function on the
                // leading edge, instead of the trailing.
                'use strict';
                var timeout;
                return function () {
                    var context = this;
                    var args = arguments;
                    var later = function () {
                        timeout = null;
                        if (!immediate) func.apply(context, args);
                    };
                    var callNow = immediate && !timeout;
                    clearTimeout(timeout);
                    timeout = setTimeout(later, wait);
                    if (callNow) func.apply(context, args);
                }
            }

            //var groundsTable = $('#groundsTable').DataTable();
             var campgrounds= new Vue({
                el: '#groundsList',
                data: {
                    grounds: [],
                    rows: [],
                    dtGrounds: null 
                },
                watch: {
                    grounds: function(){
                        let vm = this;

                        vm.grounds.forEach(function (g) {
                            let row = [];
                            let status = false;

                            row.push(g.id);
                            row.push(g.name);
                            // Status
                            status = g.active;
                            status ? row.push('Active') : row.push('Temporarily Closed');
                            row.push(g.region);
                            row.push(vm.flagFormat(g.dog_permitted));
                            row.push('No');
                            // Action
                            let action = '<a href={{ground.id}}>Edit Campground Details</a><br/>';
                            status ? row.push(action + '<a href="">(Temporarily) Close Campground</a>') :  row.push(action + '<a href="">Open Campground</a>')

                            vm.rows.push(row);

                        });
                        vm.dtGrounds.clear();
                        vm.dtGrounds.rows.add(vm.rows);
                        vm.dtGrounds.draw();
                    }
                },
                methods: {
             /*       getDateString: function (date, offset) {
                        return moment(date).add(offset, 'days').format('ddd MMM D');
                    },*/
                    flagFormat: function(flag){
                        return flag ? 'Yes' : 'No'
                    },
                    update: function() {
                        var vm = this;
                        debounce(function() {
                            //var url = '{% url 'campground-list' %}';
                            var url = '/api/campgrounds.json';
                            console.log('AJAX '+url)
                            $.ajax({
                                url: url,
                                dataType: 'json',
                                success: function(data, stat, xhr) {
                                    console.log(data);
                                    vm.grounds = data;
                                }
                            });
                        }, 500)();
                    }
                },
                ready: function () {
                    this.update();
                    this.dtGrounds = $('#groundsTable').DataTable();
                }
            });    
        </script>
{% endblock %}
