{% extends 'wl/base.html' %}

{% load static %}

{% block content %}
    <form class="form" action="{{ action_url }}" method="post">{% csrf_token %}
        <div class="row top-buffer"></div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">{% block confirm_message %}Message{% endblock %}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="btn-toolbar text-center">
                    {% block buttons %}
                        <button type="submit" class="btn btn-default" >{% block confirm_btn_text %}Confirm{% endblock %}</button>
                        <button type="button" class="btn btn-default" onclick="window.location='{{ cancel_url }}'">{% block cancel_btn_text %}Cancel{% endblock %}</button>
                    {% endblock %}
                </div>
            </div>
        </div>
    </form>

{% endblock %}
