{% extends 'wl/base.html' %}

{% block intro %}
    <div class="container">
        <form class="form" action="{{ action_url }}" method="post">{% csrf_token %}
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    {% block confirm_message %}<h3 class="text-center">{{ message }}</h3>{% endblock %}
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-md-3 col-md-offset-7">
                    <button type="submit" class="btn btn-primary pull-right">{% block confirm_btn_text %}
                        Confirm{% endblock %}</button>
                    <button type="button" class="btn btn-primary pull-right" style="margin-right: 20px;"
                            onclick="window.location='{{ cancel_url }}'">
                        {% block cancel_btn_text %}Cancel{% endblock %}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
