{% extends 'wl/base.html' %}

{% load bootstrap3 %}

{% load static %}

{% block left_menu_items %}
    <li><a href="{% url 'wl_main:contact_us' %}">Contact Us</a></li>
    <li><a href="{% url 'wl_main:further_information' %}">Further Information</a></li>
{% endblock %}

{% block messages %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Contact Us</h2>
                <p>
                    If you have any enquiries about wildlife licensing, the Department of Parks and Wildlife’s Wildlife Licensing Section can be contacted:
                </p>
                <p>
                    <strong>By email:</strong> <a href="mailto:wildlifelicensing@dpaw.wa.gov.au">wildlifelicensing@dpaw.wa.gov.au</a>
                </p>
                <p>
                    <strong>By phone:</strong> (08) 9219 9000
                </p>
                <p>
                    <strong>By post:</strong>
                    <address>
                        Wildlife Licensing Section<br>
                        Department of Parks and Wildlife<br>
                        Locked Bag 30<br>
                        BENTLEY DELIVERY CENTRE WA 6983
                    </address>
                </p>
            </div>
        </div>
   </div>
{% endblock %}