{% extends 'wl/base.html' %}

{% load bootstrap3 %}

{% load static %}

{% block extra_css %}
    <link type="text/css" href="{% static 'wl/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block left_menu_items %}
    <li><a href="{% url 'wl_main:contact_us' %}">Contact Us</a></li>
    <li><a href="{% url 'wl_main:further_information' %}">Further Information</a></li>
{% endblock %}

{% block messages %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>
                    Welcome to Wildlife Licensing
                </h2>
                <p>The Department of Biodiversity, Conservation and Attractions issues licences under the Biodiversity Conservation Act 2016 and the Biodiversity Conservation Regulations 2018 to manage certain interactions with flora and fauna.</p>
                <p>This web portal currently enables you to apply for, renew, and manage returns for the following licence types online.</p>
                <ul>
                    <li><strong>Fauna taking (scientific or other purposes) licence</strong> (formerly 'Regulation 17 - Licence to take fauna for scientific purposes')</li>
                    <li><strong>Fauna taking (relocation) licence</strong> (formerly 'Regulation 15 - Licence to take fauna for educational or public purposes')</strong></li>
                    <li><strong>Fauna taking (dangerous fauna) licence</strong> (formerly 'Regulation 4 - Licence to take dangerous fauna')</li>
                    <li><strong>Fauna causing damage licence</strong> (formerly 'Regulation 5 - Licence to take protected fauna causing damage to property')</li>
                </ul>
                <p>A new wildlife licensing system will replace this system, allowing for all licence types to be applied for online.</p>
                <p>Simply register an account, set up a profile, select the licence type you wish to apply for and get started.</p>
                <p>For further information, contact <a href="mailto:wildlifelicensing@dpaw.wa.gov.au">wildlifelicensing@dpaw.wa.gov.au</a>.
            </div>
            <div class="col-md-4">
                {% if not request.user.is_authenticated %}
                    <div id="wl-login-container">
                        <h3>
                            Access Wildlife Licensing
                        </h3>
                        {% bootstrap_messages %}
                        <p><strong>If you already have a Biodiversity, Conservation and Attractions customer account under another email address, please sign in with that account and add any additional email addresses as new profiles.</strong></p>
                        <form method="post" action="{% url "social:complete" backend="email" %}">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <div id="submit-container">
                                {% bootstrap_button 'Submit' button_class='btn-primary' %}
                            </div>
                        </form>
                        <p>Submit your email to login or start the new-user registration process.</p>
                        <hr>
                        <h4>
                            Wildlife Licensing Password-less Logins
                        </h4>
                        <p>
                            At the Department of Biodiversity, Conservation and Attractions, we employ a password-less authentication system, meaning you never need to remember
                            a password. When you need to login to a site, such as Wildlife Licensing, simply enter your email and an 
                            authentication link will be sent to your registered email address. From there, simply follow the link to complete the login process.
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
