.expander-label {
    margin-bottom: 10px;
}

.expander-table {
    border-bottom: 1px solid rgb(221, 221, 221);
    &:nth-of-type(odd) {
        background-color: #efefef;
    }
    &:nth-of-type(even) {
        background-color: #fafafa;
    }
}

.header-titles-row {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 600;

    div {
        padding-top: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid rgb(221, 221, 221);
    }
}

.header-row {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;

    .expand-icon {
        display: inline-block;
        cursor: pointer;
        width: 10%;
        padding-right: 10px;

        &:before {
            height: 14px;
            width: 14px;
            display: block;
            color: white;
            border: 2px solid white;
            border-radius: 14px;
            box-shadow: 0 0 3px #444;
            box-sizing: content-box;
            text-align: center;
            text-indent: 0 !important;
            font-family: 'Courier New', Courier, monospace;
            line-height: 14px;
            content: '+';
            background-color: #337ab7;
        }

        &.collapse:before {
            background-color: #d33333;
            content: '-';
        }
    }

    .delete-icon {
        cursor: pointer;
        color: red;
        width: 5%;
        display: inline-block;
        padding-left: 5px;
    }
}

.expander-row {
    padding-left: 20px;
    padding-right: 20px;
    background: #dddddd;
    margin-left: 0px;
    margin-right: 0px;
}

.header-contents {
    width: 85%;
    display: inline-block;
}

.add-new-button {
    float: left;
    margin-left: 15px;
    margin-top: 10px;
}

.form-value, .hidden {
    display: none;
}
