{% extends 'commercialoperator/base.html' %}

{% load bootstrap3 %}

{% load static %}

{% block extra_css %}
    <link type="text/css" href="{% static 'wl/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block left_menu_items %}
    <li><a  href="{% url 'ds_contact' %}">Contact Us</a></li>
    <li><a  href="{% url 'ds_further_info' %}">Further Information</a></li>
{% endblock %}

{% block messages %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>
                    Further Information
                </h2>
                <p>For further information, please email <b>{{ support_email }}</b>.</p>
            </div>
        </div>
    </div>
{% endblock %}
