{% extends 'commercialoperator/base.html' %}
{% load static %}
{% load users %}

{% block extra_css %}
    <link href="//static.dpaw.wa.gov.au/static/cdnjs/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
    <link href="//static.dpaw.wa.gov.au/static/libs/select2/3.5.3/select2.min.css" rel="stylesheet"/>
    <link href="//static.dpaw.wa.gov.au/static/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.css" rel="stylesheet"/>
    <link href="//static.dpaw.wa.gov.au/static/cdnjs/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"/>
{% endblock %}
{% block extra_js %}
    {{super}}
{% endblock %}
{% block requirements %}
{% endblock %}

{% block content %}
    <div class="container">

    </div>
{% endblock %}
