{%  extends 'wildlifecompliance/emails/base_email.html' %}

{%  block content %}
	Your licence return details {{ lodgement_number }} has been reviewed and requires an amendment before further assessment.

    {% if reason %}
        <p>
        	<span>Amendment Reason: {{ reason }}</span>
        </p>
    {% endif %}

    {% if text %}
        <p><span> Amendment details: <br> {{ text }}</span></p>
    {% endif %}

    <p>
    If you are currently logged into the Wildlife Licensing System, access this Return using the following link:
    </p>
    <p><a href="{{url}}">Access Return</a></p>

{%  endblock %}