.affix-top {

}

@media (min-width: 992px) {
    .affix {
        top: 20px;
        width: auto;
    }
}

@media (max-width: 991px) {
    .affix {
        position: static;
    }
}

.affix-bottom {

}

#sectionList > ul > .active {
    font-weight: bold;
}

.children-anchor-point {
    padding-left: 20px;
}

.add-group {
    margin-top: -15px;
    margin-bottom: 10px;
}

.remove-group {
    text-align: right;
}

#mainContainer {
    padding-bottom: 20px;
}

.panel-heading a.collapsed span:before
{
    content: "\e113";
}

.panel-heading a span:before
{
    content: "\e114";
}

.lodged-version-row {
    margin: -15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.lodged-version-col {
    display: inline;
    margin-left: 6px;
    margin-right: 6px;
}

.lodged-version-col span {
    font-style: italic;
}

.small-table {
    font-size: 12px;
}

.small-table-selected-row {
    background-color: ghostwhite;
}

.current-data {
    color: green;
}

.previous-data {
    color: red;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

a { cursor: pointer; }

.action-buttons-group {
    margin-bottom: 5px;
}

.ok-tick {
    color: #449d44;
}

.status {
    font-style: italic;
}

#review a {
    font-size: 12px;
}

.conditions-dropdown {
    width: 600px !important;
}

.conditions-option td {
    vertical-align: top;
    padding: 8px;
}