.affix-top {

}

@media (min-width: 992px) {
    .affix {
        top: 20px;
        width: auto;
    }
}

@media (max-width: 991px) {
    .affix {
        position: static;
    }
}

.affix-bottom {

}

#sectionList > ul > .active {
    font-weight: bold;
}

.children-anchor-point {
    padding-left: 20px;
}

.add-group {
    margin-top: -15px;
    margin-bottom: 10px;
}

.remove-group {
    text-align: right;
}

#mainContainer {
    padding-bottom: 20px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

a { cursor: pointer; }

.ok-tick {
    color: #449d44;
}

.status {
    font-style: italic;
}

#currentAssessments {
	font-size: 12px;
}