/* all application pages */
.affix-top {

}

@media (min-width: 992px) {
    .affix {
        top: 20px;
        width: auto;
        max-width: 170px;
    }
}

@media (max-width: 991px) {
    .affix {
        position: static;
        max-width: 170px;
    }
}

.affix-bottom {

}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    cursor: pointer;
}intro

/* enter details / preview */
{% load bootstrap3 %}

#sectionList > ul > .active {
    font-weight: bold;
}

.children-anchor-point {
    padding-left: 20px;
}

.add-group {
    margin-top: -15px;
    margin-bottom: 10px;
}

.remove-group {
    text-align: right;
}

#mainContainer {
    padding-bottom: 20px;
}

/* processing */

.panel-heading a.collapsed span:before
{
    content: "\e113";
}

.panel-heading a span:before
{
    content: "\e114";
}

.lodged-version-row {
    margin: -15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.lodged-version-col {
    display: inline;
    margin-left: 6px;
    margin-right: 6px;
}

.lodged-version-col span {
    font-style: italic;
}

.popover-checklist {
    padding-left: 20px;
}

.small-table {
    font-size: 12px;
}

.small-table-selected-row {
    background-color: ghostwhite;
}

.current-data {
    color: green;
}

.previous-data {
    color: red;
}

.action-buttons-group {
    margin-bottom: 5px;
}

.ok-tick {
    margin-left: 5px;
    color: #449d44;
}

#dodgyUser {
    color: red;
}

.status {
    font-style: italic;
}

.small-text {
    font-size: 12px;
}

.btn.disabled {
    pointer-events: auto;
}

/* conditions */

.conditions-dropdown {
    width: 600px !important;
}

.conditions-option td {
    vertical-align: top;
    padding: 8px;
}

.conditions-table-head {
    background-color: #f5f5f5;
}

.conditions-table-body hr {
    border-color: #BDC3C7;
}

th.code {
    width: 10%;
}

th.condition {
    width: 75%;
}

th.action {
    width: 10%;
}

th.order {
    width: 5%;
}

.popover-conditions-table {
    width: 800px;
}

.popover-conditions-table-head {
    background-color: #f5f5f5;
}

th.action-status {
    width: 15%;
}

.default {
    background: #EBF5FB;
}

.assessor {
    background: #E8F8F5;
}

.additional {
    background: #FDF2E9;
}

.custom {
    background: #FEF9E7;
}

.legend {
    margin-left: 10px;
    width: 15px;
    height: 15px;
    border: 1px solid #ddd;
    display: inline-block;
}

.application-sections-heading {
    padding-left: 15px;
}

.applicant-contact {
    margin-bottom: 10px;
}

.applicant-contact .email{
    font-size: 95%;
}