.affix-top {

}

.affix {
    top: 20px;
}

.affix-bottom {

}

#sectionList > ul > .active {
    font-weight: bold;
}

.children-anchor-point {
    padding-left: 20px;
}

.add-group {
    margin-top: -15px;
    margin-bottom: 10px;
}

.remove-group {
    text-align: right;
}

#mainContainer {
    padding-bottom: 20px;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.ok {
	color: #1F45FC;
}